<div class="page-container page-container__bg-light stories-page story-details" ng-if="!stac.shouldDisplayNoNewsItem()">
    <div class="container">
        <a ui-sref="ElectricCastlePublic.Stories" class="back">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to all items in the Journal</a>
    </div>

    <section class="article-details container" itemscope itemtype="http://schema.org/Article">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
            <img ng-src="{{stac.newsItem.headerImage}}" class="img-responsive" />

            <h1 itemprop="name" class="text-center">
                {{stac.newsItem.title}}
            </h1>
            <h2 class="text-center">{{stac.newsItem.subtitle}}</h2>

            <div class="article-text" itemprop="articleBody"
                 ng-bind-html="stac.trustHtml(stac.newsItem.content)">
            </div>

            <h5 class="margin-bottom-30" itemprop="author">
                {{stac.newsItem.author}}
                <span>{{stac.newsItem.publishedAt}}</span>
            </h5>
        </div>
    </section>

    <section class="article-share container">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
            <h5>Share:</h5>
            <button class="button button--has-border button--round"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-url={{stac.shareUrl}}>
                <i class="fa fa-facebook"></i>
            </button>
            <button class="button button--has-border button--round"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="{{stac.newsItem.subtitle}} #electriccastle5"
                    socialshare-url={{stac.shareUrl}}>
                <i class="fa fa-twitter"></i>
            </button>
            <button class="button button--has-border button--round"
                    socialshare
                    socialshare-provider="google"
                    socialshare-url={{stac.shareUrl}}>
                <i class="fa fa-google-plus"></i>
            </button>
            <button class="button button--has-border button--round"
                    socialshare
                    socialshare-provider="skype"
                    socialshare-url={{stac.shareUrl}}>
                <i class="fa fa-skype"></i>
            </button>
        </div>
    </section>

    <hr />

    <section class="article-list container" ng-if="!stac.shouldDisplayNoRelatedNews()">
        <h4 class="text-center">You should also read this:</h4>

        <div class="col-md-3 col-sm-6" ng-repeat="news in stac.newsItem.related">
            <a ui-sref="ElectricCastlePublic.StoriesArticle({ articleId : news.entityId, articleTitle : news.formattedTitle})">
                <img ng-src="{{news.thumbnail}}" class="img-responsive" />
                <div class="title-area hvr-overline-from-left">
                    <h5>{{news.title}}</h5>
                    <p>{{news.subtitle}}</p>
                </div>
            </a>
        </div>
    </section>
</div>

<div class="newsroom-page" ng-if="stac.shouldDisplayNoNewsItem()">
    <section class="article-list container">
        <h5 class="padding-top-40 text-center">
            There is no article here. Please go back to the <a ui-sref="ElectricCastlePublic.Stories">Journal home</a>.
        </h5>
    </section>
</div>
