<div class="page-container stories-page">
    <div class="container" journal-grid="stc.getNews()">
        <div class="bar">
            <div class="bar__bg"></div>
            <div class="filter">
                <button class="action filter__item"
                        data-filter="*">
                    <span class="action__text">All</span>
                </button>
                <button class="action filter__item"
                        data-filter=".news">
                    <span class="action__text">News</span>
                </button>
                <button class="action filter__item"
                        data-filter=".story">
                    <span class="action__text">Stories</span>
                </button>
                <button class="action filter__item"
                        data-filter=".music">
                    <span class="action__text">Music</span>
                </button>
                <button class="action filter__item"
                        data-filter=".video">
                    <span class="action__text">Video</span>
                </button>
            </div>
        </div>
    </div>

    <section class="article-list container">
        <h1>The Journal</h1>
        <div class="grid">
            <div class="grid__sizer"></div>

            <div class="item grid__item {{news.category}}"
                 ng-class="{'grid__item--size-a': $index % 3 === 0}"
                 ng-repeat="news in stc.getNews()">
                <a ui-sref="ElectricCastlePublic.StoriesArticle({ articleId : news.entityId, articleTitle : news.formattedTitle})">
                    <span class="category">{{news.category}}</span>

                    <img ng-src="{{::news.thumbnail}}" class="img-responsive" />
                    <div class="title-area">
                        <h5>{{::news.title}}</h5>
                        <p>{{::news.subtitle}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
