<div class="page-container page-container__bg">
    <div class="container text-justify">
        <div class="row">
            <div class="col-md-12">
                <h1>Electric People Wanted!</h1>
                <p>
                    No jobs available at the moment, but if you want to be notified about openings in the team,
                    write us at <a href="mailto:careers@electriccastle.ro">careers@electriccastle.ro</a>.
                </p>
            </div>
        </div>
    </div>
</div>
