<!-- Regular Camping -->
<ul>
    <li>Access to the camping area</li>
    <li>Facilities & services: showers, eco-toilets and security</li>
</ul>

<!-- Premium Camping -->
<ul>
    <li>Access to the premium camping area</li>
    <li>Access to the Camping Lounge</li>
    <li>Facilities & Services: Upgraded Showers, Normal Toilets, security, free locker rooms, free charging points, supermarket</li>
</ul>

<!-- old
<p>Special Camping: 4 days (14 - 17 JULY)</p>
<p><img alt="" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3L63dsLKkTQ-QqM1j6VjeLR3rSHRj-sYv7InsIT2FPXkeeWRa" class="img-responsive" height="177" width="284"  /></p>
<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
-->

<!-- Super Premium Camping -->
<ul>
    <li>Yurta (sleeping mattress for 4 persons, sleeping sheets, rugs, light, a small nightstand)</li>
    <li>Access to the premium camping area</li>
    <li>Access to the Camping Lounge</li>
    <li>Facilities & Services: Upgraded Showers, Normal Toilets, security, free locker rooms, free charging points, supermarket</li>
</ul>

<!-- Ultra Camping -->
<ul>
    <li>Flexotel Room (2 single beds, sheets, lights, electricity, each room can be locked, linen and towels)</li>
    <li>Access to the premium camping area</li>
    <li>Access to the Camping Lounge</li>
    <li>Facilities & Services: Upgraded Showers, Normal Toilets, security, free locker rooms, free charging points, supermarket</li>
</ul>