@font-face {
  font-family : 'Steelfish';
  src         : url('/assets/fonts/Steelfish/steelfish.ttf');
}

@font-face {
  font-family : 'SteelfishBold';
  src         : url('/assets/fonts/Steelfish/steelfish-bold.ttf');
}

@font-face {
  font-family : 'Roboto';
  src         : url('/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family : 'RobotoLight';
  src         : url('/assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family : 'RobotoMedium';
  src         : url('/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family : 'RobotoBold';
  src         : url('/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family : 'RobotoCondensed-Bold';
  src         : url('/assets/fonts/Roboto/RobotoCondensed-Bold.ttf');
}

@font-face {
  font-family : 'RobotoCondensed-Regular';
  src         : url('/assets/fonts/Roboto/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family : 'RobotoCondensed-Light';
  src         : url('/assets/fonts/Roboto/RobotoCondensed-Light.ttf');
}
