html {
    height     : 100%;
    overflow   : auto;
    overflow-x : hidden;
}

body {
    font-family : 'Roboto', Arial, sans-serif;
    height      : 100%;
    background  : $main-bg;
}

iframe {
    height   : 0;
    width    : 0;
    position : absolute;
}

.app-container {
    transition : all 0.35s linear;
    background : url('/assets/img/redesign/bg-raster.png') center bottom repeat-x;
}

.page-container {
    position    : relative;
    min-height  : 70vh;
    padding     : 40px 0;

    @include breakpoint(xs) {
        padding : 15px 0;
    };

    &__full-height {
      min-height : 100vh;
    }

    &__bg {
        background : $content-bg;
    }

    &__bg-grey {
      background : $light-bg;
    }

    &__bg-light {
        background : $white;
    }

    &__bg-dark {
      background : $black;
    }
}

.no-padding-right {
    padding-right : 0;
}
.no-padding-left {
    padding-left : 0;
}
.no-float {
  float : none;
}

.relative {
  position : relative;
}

.pointer {
  cursor : pointer;
}

.w-100 {
  width : 100%;
}

.no-display,
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body.modal-open {
  overflow: visible;
}
