/**
 * ====================================================================
 * Z-INDEX SCALE (PRIVATE VARIABLES)
 * ====================================================================
 */
$zIndex-1-neg  :  -1;
$zIndex-0      :  0;
$zIndex-1      :  1;
$zIndex-2      :  2;
$zIndex-3      :  3;
$zIndex-4      :  4;
$zIndex-5      :  5;
$zIndex-6      :  6;
$zIndex-7      :  7;
$zIndex-8      :  8;
$zIndex-9      :  9;
$zIndex-10     : 10;

$zIndex--max   : 1131;

/**
 * --------------------------------------------------------------------
 * Z-INDEX APPLICATION
 * --------------------------------------------------------------------
 */
$zIndex--home-video          : $zIndex-0;
$zIndex--home-content        : $zIndex-1;
$zIndex--home-video-controls : $zIndex-2;

$zIndex--header-item : $zIndex-0;
$zIndex--logo        : $zIndex-1;
$zIndex--poster      : $zIndex-1;
$zIndex--poster-year : $zIndex-2;
$zIndex--menu-arrow  : $zIndex-2;

$zIndex--tabs-bg : $zIndex-1-neg;
$zIndex--tabs    : $zIndex-1;

$zIndex--artist-overlay : $zIndex-1;
$zIndex--artist-social  : $zIndex-2;
$zIndex--artist-name    : $zIndex-2;

$zIndex--login-label : $zIndex-0;

$zIndex--application-logo : $zIndex-1;

$zIndex--tickets-register : $zIndex-1;

$zIndex--ticket-group-heading        : $zIndex-1;
$zIndex--ticket-group-heading-strike : $zIndex-0;
$zIndex--camping-confirmation        : $zIndex-4;
$zIndex--wizard-nav-button           : $zIndex-2;

$zIndex--product-info-bar : $zIndex-3;
$zIndex--cookie-consent   : $zIndex-3;

$zIndex--camping-note : $zIndex-1;

$zIndex--loader-overlay : $zIndex-9;
$zIndex--loader         : $zIndex-10;

$zIndex--video : $zIndex-10;

$zIndex--tab-selected-tip : $zIndex-2;

$zIndex--product-image-zoom : $zIndex-3;

$zIndex--error : $zIndex-2;

$z-indexes: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $z-index in $z-indexes {
  .z-index-zoom-#{$z-index} {
    z-index: #{$z-index + 1};
  }
}

$zIndex--app-menu : $zIndex-8;
