<div class="container rfid-how-it-works">
    <div class="content">
        <h1 class="text-center margin-bottom-10 margin-bottom-50 title">Important things to know about tickets registration</h1>

        <div>
            <ol class="steps">
                <li class="steps__step">
                    <p class="margin-bottom-0">
                        There are three easy steps to follow
                    </p>
                    <ol class="sub-steps">
                        <li class="sub-steps__step"><a class="hvr-overline-from-left text-underline" href="https://ec2016.pay.intellifest.com/" target="_blank">Create your account here</a></li>
                        <li class="sub-steps__step">Register your access ticket using the ticket number</li>
                        <li class="sub-steps__step">Deposit your first festival money using a credit card</li>
                    </ol>
                </li>
                <li class="steps__step">You can register only 1-Day Tickets, 4-Day Passes, VIP Passes and Invitations. You can’t register Camping Passes!</li>
                <li class="steps__step">Each person must register only ONE ticket. If you will register multiple tickets it will be a family account and each registered ticket will spend the amount of money found on that account.</li>
                <li class="steps__step">After the registration take really good care of your ticket! If someone else will scan your ticket they will be able to use the money you deposited on that account.</li>
                <li class="steps__step">You can use any type of credit card to deposit money online. If you deposit money using a MasterCard or Maestro credit card until July 10, you can win one of the VIP tickets offered by MasterCard. </li>
                <li class="steps__step">After the festival, all the money left that was deposited online (using a credit card) will be automatically refunded (in maximum five working days) to your credit card.</li>
                <li class="steps__step">You can also deposit money on your wristband at one of our Top-Up Points found at Electric Castle.</li>
                <li class="steps__step">All the money that was deposited using cash at our Top-Up points will be refunded only at our Top-Up Points, until the end of the festival.</li>
                <li class="steps__step">Registration can also be made at the festival after you will swap your ticket for the wristband.</li>
            </ol>

            <p class="clearfix margin-bottom-100">
                <a class="pull-right" href="https://www.bancatransilvania.ro/" target="_blank">
                    <img src="/assets/img/bt.png" class="bt-logo" width="160" />
                </a>
            </p>
        </div>
    </div>
</div>
