.form-group {
    border         : 0;
    padding        : 0 5px 5px;
    display        : inline-block;
    vertical-align : top;

    .error {
        color : $american-rose;
    }

    .error-alert {
        color            : $white;
        background-color : $american-rose;
        padding          : 7px 10px;
    }

    .info-alert {
        color            : $grey-dark;
        background-color : $yellow-base;
        padding          : 7px 10px;
    }

    &--a-quarter {
        width : 25% !important;

        @include breakpoint(xs) {
            width : 100% !important;
        }
    }

    &--a-half {
      width : 50% !important;

      @include breakpoint(xs) {
        width : 100% !important;
      }
    }

    &--full-width {
        width : 100% !important;
    }
}

.form-control {
    border           : 1px solid $grey-cool;
    color            : $white;
    border-radius    : 0;
    padding          : 5px 10px;
    background-color : $white;
    font-size        : $font-size-large;
    line-height      : 22px;
    min-height       : 42px;

    &:focus {
        border-color : $yellow-base;
        outline      : none;
        box-shadow   : none;
    }

    &.has-error,
    &--dark.has-error {
        border-color : $american-rose;
    }

    &--dark {
        border-color : $grey-dark;
        color        : $grey-dark;
    }

    .ui-select-search {
        min-height : 0;
    }
}

.checkbox {
    line-height : $font-size-larger;
    font-size   : $font-size-large;
    cursor      : pointer;
    user-select : none;
    margin      : 0;
    font-weight : normal;

    input[type="checkbox"] {
        display : none;

        &:checked + .checkbox__tick-box {
            background      : $yellow-base url('/assets/img/redesign/svg/checkbox-check-black.svg') no-repeat 0 0;
            background-size : 18px 18px;
        }
    }

    &--dark {
        color : $grey-dark;
    }

    &__tick-box {
        display          : inline-block;
        vertical-align   : top;
        width            : $font-size-larger;
        height           : $font-size-larger;
        background-color : $yellow-base;
    }
}

.tickets-checkbox {
  line-height : 22px;
  font-size   : 14px;
  cursor      : pointer;
  user-select : none;
  margin      : 0;
  font-weight : normal;

  input[type="checkbox"] {
    display : none;

    &:checked + .tickets-checkbox__tick-box {
      background      : $yellow-base url('/assets/img/tickets/checked.png') no-repeat 0 0;
      background-size : 20px 20px;

      &:hover {
        background-image : url('/assets/img/tickets/checked-hover.png');
      }
    }
  }

  &--dark {
    color : $grey-dark;
  }

  &__tick-box {
    display         : inline-block;
    vertical-align  : top;
    width           : 20px;
    height          : 20px;
    background      : $white url('/assets/img/tickets/unchecked.png') no-repeat 0 0;
    background-size : 20px 20px;

    &:hover {
      background-image : url('/assets/img/tickets/unchecked-hover.png');
    }
  }
}

.control-label {
    font-size     : $font-size-large;
    line-height   : $font-size-large;
    color         : $white;
    margin-bottom : 10px;

    &--dark {
        border-color : $grey-dark;
        color        : $grey-dark;
    }
}

.select-wrapper {
    position : relative;

    select {
        -webkit-border-radius: 0px;

        border           : 1px solid $grey-dark;
        height           : 42px;
        padding          : 5px 20px 5px 10px;
        line-height      : 32px;
        font-size        : $font-size-large;
        background-color : $white;
        position         : relative;
        cursor           : pointer;
    }
}

.error-message {
  position  : fixed;
  top       : 65px;
  width     : 100%;
  z-index   : $zIndex--error;

  .text {
    color            : $white;
    border           : 1px solid $american-rose;
    background-color : $american-rose-transp;
    padding          : 10px 20px;
    border-radius    : 3px;
    font-family      : RobotoCondensed-Regular, Arial, Helvetica, sans-serif;
  }
}

.redeem-giftcard-form .form-group__error {
  width : 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-box-shadow : 0 0 0px 1000px white inset;
  background-color   : $white !important;
}
