.modal {
    padding : 0 !important;

    .modal-dialog {
        &.login {
            width : 980px;

            @include breakpoint(sm) {
                width : 100%;
            };

            .register-link {
              display : none;
            }
        }
    }
}

.home-info {
  width  : 60vw;
  margin : 100px auto 0;

  @include breakpoint(xs) {
    margin-top : 15px;
    width      : 94vw;
  }

  .modal-body {
    padding : 5px 15px 15px;
  }

  .modal-tabs {
    list-style    : none;
    display       : flex;
    align-items   : center;
    align-content : stretch;
    padding       : 0;
    margin        : 0;
    font-size     : 22px;
    font-family   : 'RobotoBold', 'Impact', sans-serif;

    @include breakpoint(xs) {
      font-size : 18px;
    }

    &__tab {
      flex       : 1;
      flex-basis : 50%;
      cursor     : pointer;

      padding       : 10px;
      border-bottom : 3px solid $grey-light;
      transition    : all 0.35s linear;

      &.is-active {
        border-color : $yellow-base;
        font-weight  : bold;
      }

      @include breakpoint(xs) {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
}

h4.modal-title {
    display     : inline-block;
    font-family : RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
}

.close-modal {
    float  : right;
    cursor : pointer;
}

.modal-content {
    border-radius : 0;

    &.login-page {
        width : 100%;
    }
}

.modal-footer {
  @include breakpoint(xs) {
    a.std-button,
    .std-button {
      width  : 100%;
      margin : 0 0 10px 0 !important;

      &:last-of-type {
        margin-bottom : 0 !important;
      }
    }
  }
}
