.tab-container {
    position : relative;
    z-index  : $zIndex--tabs;

    @include breakpoint(xs) {
        margin-right : -15px;
        margin-left  : -15px;
        margin-top   : 25px;
    }

    &::after {
        content      : '';
        position     : absolute;
        top          : 0;
        left         : 0;
        width        : 100vw;
        height       : 100%;
        margin-left  : calc(50% - 50vw);
        margin-right : calc(50% - 50vw);
        z-index      : $zIndex--tabs-bg;

        background-color : $black;
        border-top       : 1px solid $main-bg;
    }

    .nav.nav-tabs.nav-justified {
        li.tab {
            border-right     : 1px solid $main-bg;
            background-color : transparent;

            &:first-child {
                border-left : 1px solid $main-bg;
            }

            &:hover > a,
            &.active > a {
                background-color : $main-bg;
                border-radius    : 0;
                border-color     : $main-bg;
            }

            & > a {
                margin          : 0;
                border-bottom   : 0;
                color           : $white;
                text-decoration : none;
                text-transform  : uppercase;

                @include breakpoint(xs) {
                    border-left   : 0;
                    border-right  : 0;
                    border-bottom : 1px solid $main-bg;
                }
            }
        }
    }
}
