<div class="page-container page-container__bg-grey">
    <div class="error-message animated bounceInDown" ng-show="bc.flags.showError">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="text">
                        {{bc.flags.error}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container basket-page">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="pull-right text-right hidden-xs">
                    <strong class="padding-right-15">Continue shopping</strong>
                    <a class="btn-link" title="Tickets"
                       ui-sref="ElectricCastlePublic.Tickets"
                       analytics-on
                       analytics-event="Back to shop"
                       analytics-category="Shop">
                        <img src="/assets/img/tickets/icon-ticket-checkout.svg" />
                    </a>&nbsp;
                    <a type="button" class="btn-link"
                       ui-sref="ElectricCastlePublic.Shop" title="Merchandise"
                       analytics-on
                       analytics-event="Back to tickets"
                       analytics-category="Shop">
                        <img src="/assets/img/tickets/icon-tshirt-checkout.svg" />
                    </a>
                </div>

                <h1>Checkout</h1>

                <form name="basketForm">
                    <h2>{{'BASKET.SHOPPING_CART' | translate}} ({{bc.getNumberOfProducts()}} items)</h2>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="40%">Description</th>
                            <th width="" class="text-center hidden-xs">Quantity</th>
                            <th class="text-right hidden-xs" width="24%">Amount</th>
                            <th width="12%" class="hidden-xs"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, item) in bc.products" ng-class="{'error' : item.error}">
                                <td class="desc">
                                    <span ng-switch="item.type">
                                        <img ng-switch-when="virtual" src="/assets/img/tickets/icon-ticket-yellow.png" />
                                        <img ng-switch-when="simple" src="/assets/img/tickets/icon-tshirt-yellow.png" />
                                        <img ng-switch-default src="/assets/img/tickets/icon-tshirt-yellow.png" />
                                    </span>

                                    <h5>{{item.name}}</h5>
                                </td>
                                <td class="qty">
                                    <input type="number" ng-model="item.qty" min="1" max="6"
                                           ng-change="bc.onQuantityChanged();" ng-disabled="item.cannotChangeQty" />
                                </td>
                                <td class="text-right price">
                                    <label class="visible-xs">Amount</label>
                                    <h5><strong>{{(item.price * item.qty).toFixed(2)}}&nbsp;RON</strong> ({{(item.priceEur * item.qty).toFixed(2)}}&nbsp;EUR)</h5>
                                </td>
                                <td class="text-right remove">
                                    <button type="button" class="btn-link"
                                            ng-click="bc.removeProduct(key)">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="bc.shouldDisplayTotalItem(bc.retrieveBasketTotals().shipping)">
                                <td class="desc">
                                    <img src="/assets/img/tickets/icon-tshirt-yellow.png" />
                                    <h5>Shipping</h5>
                                </td>
                                <td class="qty"></td>
                                <td class="text-right price">
                                    <h5><strong>{{bc.retrieveBasketTotals().shipping}} RON</strong> ({{bc.retrieveBasketTotals().shippingEur}} EUR)</h5>
                                </td>
                                <td class="remove"></td>
                            </tr>
                            <tr ng-if="bc.shouldDisplayDiscountItem()">
                                <td class="desc">
                                    <img src="/assets/img/tickets/icon-discount-yellow.png" />
                                    <h5>Discount</h5>
                                </td>
                                <td class="qty"></td>
                                <td class="text-right price">
                                    <h5><strong>-{{bc.retrieveBasketTotals().discount}} RON</strong> (-{{bc.retrieveBasketTotals().discountEur}} EUR)</h5>
                                </td>
                                <td class="text-right remove">
                                    <button ng-click="bc.openRedeemCard()" class="btn-link pointer" ng-if="!bc.shouldDisplayCouponOptionItem(bc.retrieveBasketTotals().discount)">
                                        {{'BASKET.REDEEM_GIFT_CARD' | translate}}
                                    </button>
                                    <button ng-click="bc.removeCoupon()" class="btn-link pointer" ng-if="bc.shouldDisplayCouponOptionItem(bc.retrieveBasketTotals().discount)">
                                        Remove coupon
                                    </button>
                                </td>
                            </tr>
                            <tr ng-show="bc.shouldDisplayNoProducts()">
                                <td colspan="4">
                                    <h4 class="text-center" ng-bind-html="'BASKET.NO_PRODUCT' | translate"></h4>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr ng-if="!bc.shouldDisplayNoProducts()">
                                <td class="hidden-xs"></td>
                                <td class="text-uppercase text-center total">
                                    Total:
                                </td>
                                <td class="text-right">
                                    {{bc.retrieveBasketTotals().total}} RON&nbsp;
                                    <span class="not-bold">({{bc.retrieveBasketTotals().totalEur}} EUR)</span>
                                </td>
                                <td class="text-right">
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div ng-if="!bc.shouldDisplayNoProducts() && !bc.shouldDisplayTotalsMessage()">
                        <div class="row checkout-area">
                            <div class="col-md-6 col-sm-6">
                                <p class="margin-bottom-5 margin-top-10">
                                    <label class="tickets-checkbox text-grey-dark" for="termsPayment">
                                        <input type="checkbox" id="termsPayment" ng-model="bc.flags.termsPaymentAccepted" />
                                        <span class="tickets-checkbox__tick-box"></span>
                                        &nbsp;I agree with the <a ui-sref="ElectricCastlePublic.RulesAndRegulations" target="_blank">rules and regulations</a>.
                                    </label>
                                </p>
                            </div>
                            <div class="col-md-6 col-sm-6 text-right">
                                <button type="button" class="std-button std-button--light std-button--wide"
                                        ng-click="bc.checkout(false)"
                                        ng-disabled="bc.flags.isCheckoutButtonDisabled || !bc.flags.termsPaymentAccepted"
                                        analytics-on
                                        analytics-event="Cart checkout - Full"
                                        analytics-category="Shop">
                                    Pay Now {{bc.retrieveBasketTotals().total}} RON
                                </button>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!bc.shouldDisplayNoProducts() && bc.shouldDisplayTotalsMessage()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="payment-method selected">
                                    <p>
                                        You will be asked to login or register before checkout.
                                    </p>

                                    <button type="button" class="std-button std-button--light std-button--wide button-block margin-top-20"
                                            ng-click="bc.checkout()"
                                            ng-disabled="bc.flags.isCheckoutButtonDisabled"
                                            analytics-on
                                            analytics-event="Cart checkout"
                                            analytics-category="Shop">
                                        Continue to checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>

                <div ng-show="bc.shouldDisplayTotalsMessage()">
                    <p class="margin-bottom-30 margin-top-20">
                        * {{'BASKET.ADDITIONAL_INFO.TOTALS' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
