<article class="camping-confirmation">
    <header>
        <div class="container">
            <h1 class="text-uppercase" bind-html-compile="'TICKETS_V2.NO_CAMPING.TITLE' | translate"></h1>
        </div>
    </header>

    <div class="container">
        <div class="margin-bottom-10 margin-top-20">
            <button class="text-uppercase button-confirm"
                    ng-click="ncc.cb.goToCamping()"
                    analytics-on
                    analytics-event="Go back camping"
                    analytics-category="Tickets new">
                {{'TICKETS_V2.NO_CAMPING.GO_BACK_TO_CAMPING' | translate}}
            </button>
        </div>

        <div>
            <button class="text-uppercase button-confirm"
                    ng-click="ncc.cb.finalize()"
                    analytics-on
                    analytics-event="Finalize from message"
                    analytics-category="Tickets new">
                {{'TICKETS_V2.NO_CAMPING.FINALIZE' | translate}}
            </button>
        </div>
    </div>
</article>