<div class="no-more-tickets" ng-class="{'noHeader': tc.noHeader}">
    <div class="container tickets-page padding-top-100 padding-bottom-100">
        <h1 class="closed-title">We are closed!</h1>
        <h3 class="closed-sub-title">Get your ticket, camping pass or upgrade at the festival entrance.</h3>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                4 Day Pass
            </section>
            <section class="item__price">
                399 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                <span>4 Day Pass</span>
                <span class="item__description--vip">VIP</span>
            </section>
            <section class="item__price">
                689 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                <span>4 Day Pass</span>
                <span class="item__description--vip">upgrade to VIP</span>
            </section>
            <section class="item__price item__price--small">
                The price will vary depending on the price of the ticket you have already bought.
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                Day 2 Ticket - July 15
            </section>
            <section class="item__price">
                159 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                Day 3 Ticket - July 16
            </section>
            <section class="item__price">
                159 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                Day 4 Ticket - July 17
            </section>
            <section class="item__price">
                159 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                <span>Day Ticket</span>
                <span class="item__description--vip">VIP</span>
            </section>
            <section class="item__price">
                249 Lei
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/ticket-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                <span>Day Ticket</span>
                <span class="item__description--vip">upgrade to VIP</span>
            </section>
            <section class="item__price item__price--small">
                The price will vary depending on the price of the ticket you have already bought.
            </section>
        </article>

        <article class="item">
            <aside class="item__image">
                <img src="/assets/img/svg/camping-placeholder.svg" class="img-responsive center-block" alt="" width="80" />
            </aside>
            <section class="item__description">
                All Camping Options
            </section>
            <section class="item__price">
                SOLD OUT
            </section>
        </article>
    </div>
</div>
