<aside class="user-cart" ng-class="{'is-visible': isCartVisible()}">
    <h2 class="text-uppercase">
        <span>{{'TICKETS_V2.TICKETS_CART.TITLE' | translate}}</span>

        <i class="fa fa-remove pull-right hidden-lg hidden-md cursor-pointer" ng-click="closeModal()"></i>
    </h2>

    <i class="fa fa-angle-double-left checkout-your-cart hidden-lg hidden-md"
       ng-show="isUserCartTriggerVisible"
       ng-class="{'is-pulsating': pulsating}"
       ng-click="openTicketsCart()"></i>

    <ul class="cart__items">
        <li class="item" ng-repeat="item in tcc.cb.getItems();">
            <span class="item__quantity text-yellow-base">{{item.quantity}} X</span>
            <span class="item__name text-yellow-base text-uppercase">{{::item.name}}</span>
            <span class="item__price text-light pull-right">
                {{'TICKETS.SECTION.PRICE' | translate: {price: item.price * item.quantity} }}
            </span>
        </li>

        <li class="no-items text-light" ng-hide="tcc.cb.thereAreProducts();">
            {{'TICKETS_V2.TICKETS_CART.EMPTY' | translate}}
        </li>
    </ul>

    <div class="user-cart__total text-light">
        <strong class="text-uppercase">{{'TICKETS_V2.TICKETS_CART.TOTAL' | translate}}</strong>
        <span class="pull-right">{{'TICKETS.SECTION.PRICE' | translate: {price: tcc.cb.getTotal()} }}</span>
    </div>

    <button class="button button-checkout button-block text-uppercase margin-top-70"
            ng-click="tcc.cb.addToCart();"
            analytics-on
            analytics-event="Finalize from cart"
            analytics-category="Tickets new">
        {{'TICKETS_V2.TICKETS_CART.CHECKOUT' | translate}}
    </button>

    <button class="button button-start-over button-block text-uppercase margin-top-20"
            ng-click="tcc.cb.startOver()"
            analytics-on
            analytics-event="Start over"
            analytics-category="Tickets new">
        {{'TICKETS_V2.TICKETS_CART.START_OVER' | translate}}
    </button>

    <div class="help">
        <h3>{{'TICKETS_V2.TICKETS_CART.NEED_HELP' | translate}}</h3>
        <p bind-html-compile="'TICKETS_V2.TICKETS_CART.MAIL_AND_LINK' | translate: {mail: 'orders@electriccastle.ro', sref: 'ElectricCastlePublic.Info.Faq'}"></p>
    </div>
</aside>