<main class="page-container page-container__bg">
    <div class="tickets-redesign page" ng-if="!trc.cb.noTickets()">
        <tickets-info-bar></tickets-info-bar>

        <section class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-right margin-top-10 margin-right-10 hidden-xs">
                        Choose one of our specially curated <a ui-sref="ElectricCastlePublic.Packages"><strong>travel packages</strong></a> to enhance your stay.
                    </p>

                    <!--<div class="tickets__banner-sold-out">
                        <h2><span class="ga">General Access Pass</span> <span class="sold">Sold Out</span></h2>
                        <p>
                            You can still <strong>add camping</strong> to your existing pass by upgrading it.&nbsp;&nbsp;
                            <button class="tickets__item__select" ui-sref="ElectricCastlePublic.MyAccount.Orders">Upgrade Now!</button>
                        </p>
                    </div>-->

                    <section ng-repeat="block in trc.cb.get()">
                        <section ng-if="block.data.isDeal && block.items.length" class="deals">
                            <div class="deals__bg"></div>
                            <header class="deals__header">
                                <p class="deals__header__title">
                                <strong>Find below your limited special offers</strong></p>
                                <p class="deals__header__subtitle">Get one now and we'll meet at the castle!</p>
                            </header>
                            <section class="flex tickets__content">
                                <article class="tickets__item flex {{ticket.data.cssClass}}"
                                         ng-class="{'item-sold-out': ticket.isSoldout}" ng-repeat="ticket in block.items">
                                    <div>
                                        <header class="tickets__item__header">
                                            <p class="tickets__item__title">{{ticket.title}}</p>
                                        </header>

                                        <section class="tickets__item__content">
                                            <div class="tickets__item__description" bind-html-compile="ticket.description"></div>
                                        </section>
                                    </div>

                                    <img ng-if="ticket.isSoldout" src="/assets/img/tickets/sold-out.png" width="100" class="sold-out" />

                                    <footer class="tickets__item__footer">

                                        <div class="tickets__item__price" ng-if="ticket.price > 0">
                                            {{ticket.price}}&nbsp;RON  ({{ticket.priceEur}}&nbsp;EUR)
                                            <strike ng-if="ticket.hasPriceFinal">{{ticket.priceFinal}} RON&nbsp;&nbsp;({{ticket.priceFinalEur}} EUR)</strike>
                                        </div>

                                        <div class="flex flex-space-between flex-v-center controls" ng-if="!ticket.isComingSoon">
                                            <h-number value="ticket.quantity" min="1" max="6" step="1"
                                                      class="tickets__item__number"></h-number>

                                            <button class="tickets__item__select" ng-click="trc.cb.onProductAdded(ticket)"
                                                    ng-disabled="ticket.isSoldout">Add to cart</button>
                                        </div>
                                        <h3 ng-if="ticket.isComingSoon" class="text-right">Available soon</h3>
                                    </footer>
                                </article>
                            </section>
                        </section>
                    </section>

                    <section ng-repeat="block in trc.cb.get()">
                        <section ng-repeat="category in block.items" ng-if="block.data.isPass" class="tickets">
                            <section class="flex tickets__content" ng-repeat="tickets in category.items">
                                <article class="tickets__item flex {{ticket.data.cssClass}}"
                                         ng-class="{'item-sold-out': ticket.isSoldout}" ng-repeat="ticket in tickets.items">
                                    <div>
                                        <header class="tickets__item__header">
                                            <p class="tickets__item__title">{{ticket.title}}</p>
                                        </header>

                                        <section class="tickets__item__content">
                                            <div class="tickets__item__description" bind-html-compile="ticket.description"></div>
                                        </section>
                                    </div>

                                    <img ng-if="ticket.isSoldout" src="/assets/img/tickets/sold-out.png" width="100" class="sold-out" />

                                    <footer class="tickets__item__footer">

                                        <div class="tickets__item__price" ng-if="ticket.price > 0">
                                            {{ticket.price}}&nbsp;RON&nbsp;&nbsp;({{ticket.priceEur}}&nbsp;EUR)
                                            <strike ng-if="ticket.hasPriceFinal">{{ticket.priceFinal}} RON&nbsp;&nbsp;({{ticket.priceFinalEur}} EUR)</strike>
                                        </div>

                                        <div class="flex flex-space-between flex-v-center controls" ng-if="!ticket.isComingSoon">
                                            <h-number value="ticket.quantity" min="1" max="6" step="1"
                                                      class="tickets__item__number"></h-number>

                                            <button class="tickets__item__select" ng-click="trc.cb.onProductAdded(ticket)"
                                                    ng-disabled="ticket.isSoldout">Add to cart</button>
                                        </div>
                                        <h3 ng-if="ticket.isComingSoon" class="text-right">Available soon</h3>
                                    </footer>
                                </article>
                            </section>
                        </section>

                        <section ng-if="block.data.isAccommodation" class="accomodation" id="accommodation">
                            <div class="accomodation__bg"></div>

                            <header class="accomodation__header">
                                <p class="accomodation__header__title"><strong>Wanna make your camping experience more pleasant?</strong></p>
                                <p class="accomodation__header__subtitle">Spice it up with one of our many awesome add-ons!</p>
                            </header>

                            <article class="accomodation__item flex" ng-class="{'item-sold-out': accomodation.isSoldout}" ng-repeat="accomodation in block.items">
                                <div class="accomodation__item__capacity" ng-if="accomodation.capacity">
                                    Capacity: {{accomodation.capacity}} persons
                                </div>
                                <img class="accomodation__item__image hidden-sm" ng-src="{{accomodation.image}}" alt="" image-fallback="PRODUCT_IMAGE" />
                                <div class="accomodation__item__content">
                                    <h3 class="accomodation__item__title">{{accomodation.title}}</h3>
                                    <div class="accomodation__item__description" bind-html-compile="accomodation.description"></div>
                                </div>
                                <div class="accomodation__item__footer flex flex-end">
                                    <img ng-if="accomodation.isSoldout" src="/assets/img/tickets/sold-out.png" width="100" class="sold-out" />

                                    <div class="accomodation__item__price">
                                        {{accomodation.price}}&nbsp;RON&nbsp;&nbsp;({{accomodation.priceEur}}&nbsp;EUR)
                                    </div>

                                    <div class="flex flex-space-between flex-v-center">
                                        <h-number value="accomodation.quantity" min="1" max="6" step="1"
                                                  class="accomodation__item__number"></h-number>

                                        <button class="accomodation__item__select" ng-click="trc.cb.onProductAdded(accomodation)"
                                                ng-disabled="accomodation.isSoldout">
                                            Add to cart
                                        </button>
                                    </div>
                                </div>
                            </article>
                        </section>

                        <section ng-if="block.data.isGoodie" class="goodie">
                            <header class="goodie__header">
                                <p class="goodie__header__title"><strong>Add some awesome merch goodies to your order!</strong></p>
                                <p class="goodie__header__subtitle">Wear it anywhere but wear it with pride!</p>
                            </header>

                            <section class="flex goodie__container">
                                <article class="goodie__item" ng-repeat="goodie in block.items">
                                    <img class="goodie__item__image" ng-src="{{goodie.image}}" alt="" />
                                    <div class="goodie__item__content">
                                        <p class="goodie__item__title">{{goodie.title}}</p>
                                    </div>
                                    <div class="goodie__item__footer">
                                        <p class="goodie__item__price">{{goodie.price}}&nbsp;RON&nbsp;&nbsp;({{goodie.priceEur}}&nbsp;EUR)</p>

                                        <div class="flex">
                                            <ui-select ng-model="goodie.selectedOption" class="size-select" search-enabled="false" ng-show="goodie.options.length">
                                                <ui-select-match placeholder="Size">{{$select.selected.optionName}}</ui-select-match>
                                                <ui-select-choices repeat="option.optionId as option in goodie.options">
                                                    <div>{{option.optionName}}</div>
                                                </ui-select-choices>
                                            </ui-select>

                                            <h-number value="goodie.quantity" min="1" max="6" step="1"
                                                      class="goodie__item__number"></h-number>
                                        </div>
                                        <button class="goodie__item__select" ng-click="trc.cb.onProductAdded(goodie)">Add to cart</button>
                                    </div>
                                </article>
                            </section>
                        </section>
                    </section>

                    <section class="page__footer">
                        <button class="button button--has-bg button--has-bg--yellow button-block button--large button--dark" type="button"
                                ng-disabled="!trc.cb.canFinalize()" ng-click="trc.cb.finalize()">Checkout</button>
                    </section>
                </div>
            </div>
        </section>
    </div>

    <div class="tickets-redesign page" ng-if="trc.cb.noTickets()">
        <h1 class="page__title text-center margin-top-30">Tickets and dates for ec 2018 will be announced soon...</h1>
    </div>
</main>
