<div class="product-info-bar animated slideInDown">
    <div class="container">
            <div class="col-md-6 col-sm-6 hidden-sm hidden-xs no-padding-left padding-top-15" >
                 <span>{{'TICKETS.INFO_BAR.MESSAGES.NOTHING_SELECTED' | translate}}</span>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-6 text-right balance"
                 ng-bind-html="'TICKETS.INFO_BAR.TOTAL_VALUE' | translate: {totalPrice: trc.cb.getTotalPrice().total, totalPriceEur: trc.cb.getTotalPrice().totalEur}"></div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <button ng-click="trc.cb.finalize()" ng-disabled="!trc.cb.canFinalize()">Checkout</button>
            </div>
    </div>
</div>
