<div class="page-container page-container__bg-grey">
    <div class="container tickets-info-page">
        <!--<div class="row relative">
            <div class="bg"></div>
            <div class="col-md-12">
               <ul class="tickets-thresholds">
                  <li class="sold-out">
                       <h4><strike>499 RON</strike></h4>
                       <h2>
                           269<br />
                           <span>RON</span>
                       </h2>

                       <p>Early Bird - Sold Out</p>
                   </li>
                   <li class="sold-out">
                       <h4><strike>499 RON</strike></h4>
                       <h2>
                           319<br />
                           <span>RON</span>
                       </h2>

                       <p>Dec. 8 - Dec. 21</p>
                   </li>
                   <li ui-sref="ElectricCastlePublic.Tickets" class="pointer">
                       <h4><strike>499 RON</strike></h4>
                       <h2>
                           369<br />
                           <span>RON</span>
                       </h2>

                       <p>Dec. 22 - Dec. 31</p>
                   </li>
                </ul>
            </div>
        </div>-->

        <div class="row" id="tt">
            <div class="col-md-12">
                <h1 class="margin-bottom-20">How to buy tickets</h1>
                <hr class="margin-bottom-0" />
            </div>

            <div class="col-md-12">
                <ol class="how">
                    <li>
                        <span>1.</span>
                        <div class="pull-left padding-bottom-10">
                            <strong class="text-large">Go to the <a ui-sref="ElectricCastlePublic.Tickets">tickets page</a></strong>.<br />
                            If you're from abroad, visit <a href="https://www.festicket.com/packages/electric-castle-2017/?referrer=sc-festival-tickets-management&shared_from=partner_linkgen&utm_source=www.electriccastle.co.uk&utm_campaign=Electric%20Castle%202017&utm_medium=Partner%20-%20Supplier" target="_blank">Festicket</a>.<br />
                            If you’re from The Netherlands or Belgium, visit <a href="https://festival.travel/festivals/electric-castle/?utm_source=electriccastle.ro&utm_medium=verwijzing&utm_campaign=official-website " target="_blank">Festival.Travel</a>.
                            <br /><br />
                            If you want to buy a hard-copy ticket you can get them from <a ng-click="tic.openPartnerLocations()" class="pointer">our partner locations</a>.
                        </div>
                        <a ui-sref="ElectricCastlePublic.Tickets" class="std-button std-button--light std-button--wide pull-right">Go now</a>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>2.</span>
                        <div class="pull-left padding-bottom-10"><strong class="text-large">Choose your Pass.</strong><br/>
                            &bull;&nbsp; General Access<br/>
                            &bull;&nbsp; General Access with Camping<br/>
                            &bull;&nbsp; Premium Pass<br/>
                            &bull;&nbsp; Premium Pass with Camping<br/>
                            &bull;&nbsp; The Black Ticket
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>3.</span>
                        <div class="pull-left padding-bottom-10">
                            <strong class="text-large">Enhance your camping experience with one of our awesome add-ons:</strong><br />
                            &bull;&nbsp; Pre-Pitched Tents<br />
                            &bull;&nbsp; Dream Tents<br />
                            &bull;&nbsp; Swedish Lodges<br />
                            &bull;&nbsp; Panorama Tents
                        </div>
                        <a ui-sref="ElectricCastlePublic.Tickets"
                           class="std-button std-button--light std-button--wide pull-right">See all</a>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>4.</span>
                        <strong class="text-large pull-left margin-top-10 padding-bottom-10">
                            Click <em>Finalize Order</em>, then login or create your account.
                        </strong>
                        <div class="clearfix"></div>
                    </li>
                    <!--<li>
                        <span>5.</span>
                        <div class="pull-left padding-bottom-10">
                            <strong class="text-large">Choose your payment method</strong><br/>
                            &bull;&nbsp; Pay now<br />
                            &bull;&nbsp; Pay monthly<br /><br />
                            If you pay now, you get the best ticket price for this period.<br />
                            If you choose monthly paying, press the <em>Pay Monthly</em> button and fill your card details.<br />
                            If you want to pay now, you can’t go back to the monthly payments.
                        </div>
                        <a href="/tickets-info#pp" class="std-button std-button--light std-button--wide pull-right">
                            Payment plan details</a>
                        <div class="clearfix"></div>
                    </li>-->
                    <li>
                        <span>5.</span>
                        <strong class="text-large pull-left margin-top-10 padding-bottom-10">
                            Click <em>Pay Now</em>.
                        </strong>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>6.</span>
                        <strong class="text-large pull-left margin-top-10 padding-bottom-10">
                            Make the payment by entering your bank card details.
                        </strong>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>7.</span>
                        <strong class="text-large pull-left margin-top-10 padding-bottom-10">
                            Keep your confirmation email safe!
                        </strong>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>8.</span>
                        <div class="pull-left padding-bottom-10">
                            <strong class="text-large">(Optional) Upgrade your ticket</strong><br/>
                            In order to upgrade you pass you need to login with our account and you will see the upgrade
                            option in your orders section.<br />Any ticket can be upgraded, for example from General Pass
                            to General Pass with Camping or from General Pass to Premium Pass.
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <span>9.</span>
                        <div class="pull-left padding-bottom-10">
                            <strong class="text-large">Receive/download your tickets(s)</strong><br/>
                            After the purchase, you will receive the order confirmation on your email. Keep that email!<br/>
                            Also, on your account, on the <em>Orders</em> section you will see the purchased tickets and the individual codes for each.
                            <br /><br />
                            Starting mid-April you will be able to download your tickets as PDF files.
                            <br /><br />
                            If your ticket if a gift and need your ticket right now, write us an email at contact@electriccastle.ro and we'll help you out.
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
