<div class="container tickets-v2-page" scroll-to>

    <tickets-cart></tickets-cart>

    <!--
    ========================================================================
    FIRST STEP IN THE WIZARD - CHOOSE WHAT YOU WANT TO BUY
    ========================================================================
    -->
    <article class="step step--one" data-js="step-one" ng-if="tv2c.cb.getVisibility().firstStep">
        <div class="step-content">
        <header>
            <h1 class="headline text-center">{{'TICKETS_V2.CHOOSE_YOUR_TICKET' | translate}}</h1>
            <p class="text-grey-base text-center margin-bottom-30 hidden-xs"
               bind-html-compile="'TICKETS.LOCATIONS' | translate: {callback: 'tv2c.cb.openPartnerLocations();'}"></p>
        </header>

        <div class="flex-container">
            <section class="path-choice-box" ng-click="tv2c.cb.revealItems(tv2c.PATH.TICKETS)">{{'TICKETS_V2.FOUR_DAY_PASS' | translate}}</section>
            <section class="path-choice-box" ng-click="tv2c.cb.revealItems(tv2c.PATH.CAMPING)">{{'TICKETS_V2.CAMPING' | translate}}</section>
        </div>
        </div>
    </article>

    <!--
    ========================================================================
    SECOND STEP IN THE WIZARD - CHOOSE THE TICKET
    ========================================================================
    -->
    <article class="step step--two" data-js="step-two" ng-if="tv2c.cb.getVisibility().theRest">
        <h1 class="headline text-center">{{'TICKETS_V2.CHOOSE_YOUR_PASS' | translate}}</h1>

        <div class="flex-container">
            <div class="ticket {{ticket.status | formatter : 'kebab'}}" ng-repeat="ticket in tv2c.tickets">
                <section class="path-choice-box has-cut" ng-switch="ticket.showPriceTBA" trigger-select="ticket-{{$index}}">
                    <span class="ticket-name" ng-class="{'is-short': tv2c.cb.isShortTitle(ticket.name)}">
                        {{::ticket.name}}
                    </span>

                    <span class="ticket-price" ng-switch-when="false">{{'TICKETS.SECTION.PRICE' | translate: {price: ticket.price} }}</span>
                    <span class="ticket-price" ng-switch-when="true">{{'TICKETS.PRICE_TBA' | translate}}</span>
                </section>

                 <span class="badge-container {{ticket.status | formatter : 'kebab'}}" ng-if="ticket.shouldDisplayBadge">
                        {{'TICKETS.' + ticket.status | translate}}
                 </span>

                <select selectpicker
                        data-js="ticket-{{$index}}"
                        ng-if="ticket.shouldDisplayQty"
                        ng-model="ticket.quantity"
                        ng-change="tv2c.cb.onProductAdded(ticket)">
                    <option value="0">{{'TICKETS.SECTION.NOTHING_SELECTED' | translate}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

                <div bind-html-compile="ticket.shortDescription"></div>
            </div>
        </div>

        <div></div>
    </article>

    <!--
    ========================================================================
    THIRD STEP IN THE WIZARD - CHOOSE THE CAMPING
    ========================================================================
    -->
    <article class="step step--three" data-js="step-three" ng-if="tv2c.cb.getVisibility().theRest">
        <h1 class="headline text-center">{{'TICKETS_V2.CHOOSE_YOUR_CAMPING' | translate}}</h1>

        <div class="flex-container">
            <div class="ticket {{camping.status | formatter : 'kebab'}}" ng-repeat="camping in tv2c.camping">
                <section class="path-choice-box has-cut" trigger-select="camping-{{$index}}">
                    <span class="ticket-name">{{::camping.name}}</span>

                    <span class="ticket-price">{{'TICKETS.SECTION.PRICE' | translate: {price: camping.price} }}</span>
                    <i class="badge"></i>
                </section>

                <select selectpicker
                        data-js="camping-{{$index}}"
                        ng-model="camping.quantity"
                        ng-change="tv2c.cb.onProductAdded(camping)">
                    <option value="0">{{'TICKETS.SECTION.NOTHING_SELECTED' | translate}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

                <div bind-html-compile="camping.shortDescription"></div>
            </div>
        </div>

        <div class="premium-camping-add-ons hidden-xs" ng-click="tv2c.cb.goToCampingOptions()">
            <h3 class="text-uppercase">{{'TICKETS_V2.PREMIUM_CAMPING_ADD_ONS' | translate}}</h3>

            <ul class="list-unstyled">
                <li ng-repeat="campingOption in tv2c.campingOptions">
                    <figure>
                        <img ng-src="{{campingOption.thumbnails[0]}}" alt="{{'TICKETS_V2.CAMPING_ADD_ON' | translate}}" />
                        <figcaption class="text-center">{{::campingOption.name}}</figcaption>
                    </figure>
                </li>
            </ul>
        </div>

        <div></div>
    </article>

    <!--
    ========================================================================
    FOURTH STEP IN THE WIZARD - CHOOSE THE CAMPING OPTIONS
    ========================================================================
    -->
    <article class="step step--four" data-js="step-four" ng-if="tv2c.cb.getVisibility().theRest">
        <h1 class="headline text-center">{{'TICKETS_V2.CHOOSE_YOUR_ADD_ON' | translate}}</h1>

        <div class="flex-container">
            <div class="ticket is-full-width margin-bottom-50 {{campingOption.status | formatter : 'kebab'}}" ng-repeat="campingOption in tv2c.campingOptions">
                <section class="path-choice-box has-cut" trigger-select="camping-option-{{$index}}">
                    <span class="ticket-name">{{::campingOption.name}}</span>

                    <span class="ticket-price">{{'TICKETS.SECTION.PRICE' | translate: {price: campingOption.price} }}</span>
                </section>

                <select selectpicker
                        data-js="camping-option-{{$index}}"
                        ng-model="campingOption.quantity"
                        ng-change="tv2c.cb.onProductAdded(campingOption)">
                    <option value="0">{{'TICKETS.SECTION.NOTHING_SELECTED' | translate}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

                <div bind-html-compile="campingOption.shortDescription"></div>
            </div>
        </div>

        <div></div>
    </article>

    <section class="text-center margin-bottom-100" ng-show="tv2c.cb.thereAreProducts()">
        <button class="button-finalize text-uppercase"
                ng-click="tv2c.cb.addToCart();"
                analytics-on
                analytics-event="Finalize"
                analytics-category="Tickets new">
            {{'TICKETS_V2.FINALIZE' | translate}}
        </button>
    </section>

</div>
