<div class="page-container page-container__bg">
    <div class="container">
        <h1>Getting There</h1>

        <hr class="grey" />

        <div class="row">
            <div class="col-md-6">
                <h4>By Train</h4>
                <p>
                    We recommend you to take the train to Gara Cluj-Napoca. To get to Electric Castle you can:<br /><br />
                    1. Take the train to Bontida - also during the festival any train that passes Bontida, will stop there.
                    Checkout the schedule <a href="/assets/img/trains.jpg" target="_blank">here</a><br />
                    2. Take the tram 101 or 102 to Horia Demian Sports Hall or take the bus 9 to Memorandumului, then bus 25 to Iulius Mall.
                    From these two locations, shuttle service will get you to the festival grounds.
                </p>
            </div>

            <div class="col-md-6">
                <h4>By Plane</h4>
                <p>
                    We recommend you to fly to Cluj-Napoca Airport (<a href="http://airportcluj.ro/" target="_blank">airportcluj.ro</a>) (30 km from the festival site).
                    From the airport, you can either take a transfer shuttle or a taxi that will get you to the festival site.
                    For the return trip, you can use one of our buses to get to the airport.
                </p>
                <p>
                    For the transfer shuttle please make a reservation here:<br />
                    <a href="http://www.transfero.ro/bilete-online" target="_blank">transfero.ro/bilete-online</a>.
                </p>
            </div>
        </div>

        <hr class="grey" />

        <div class="row">
            <div class="col-md-12">
                <h4>By Bus</h4>
            </div>

            <div class="col-md-6">
                <p>
                    There will be regular buses, all day and night long, leaving from Horia Demian sports hall and Iulius Mall.
                    Depending on the number of people waiting, the waiting time between buses may vary between 10 - 25 minutes.
                </p>
                <p>
                    The tickets can be bought from the bus stations or directly at the bus entrance using your festival wristband.
                </p>
            </div>

            <div class="col-md-6">
                <p>The last bus to Cluj will leave on Monday, 13:00 PM.</p>
                <p>If you're coming from abroad you can use Flixbus to get to Cluj-Napoca. Details here:
                    <a href="https://www.flixbus.ro" target="_blank">Flix Bus</a>.</p>
            </div>
        </div>

        <hr class="grey" />

        <div class="row relative">
            <div class="col-md-12">
                <ul class="list-unstyled routes">
                    <li class="a"><a href="https://www.google.ro/maps/dir/Cluj-Napoca,+Cluj+County/Bon%C8%9Bida,+Cluj+County/@46.8275587,23.6393804,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47490c1f916c0b8b:0xbbc601c331f148b!2m2!1d23.6236353!2d46.7712101!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948" target="_blank">Cluj - Bontida</a></li>
                    <li class="b"><a href="https://www.google.ro/maps/dir/Oradea,+Bihor+County/Bon%C8%9Bida,+Cluj+County/@47.0171238,22.268695,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x474647e368762353:0x1b55a486d65d5344!2m2!1d21.9189438!2d47.0465005!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948" target="_blank">Oradea - Bontida</a></li>
                    <li class="c"><a href="https://www.google.ro/maps/dir/Timi%C8%99oara,+Timi%C8%99+County/Bon%C8%9Bida,+Cluj+County/@46.5948009,21.3412063,8z/data=!4m19!4m18!1m10!1m1!1s0x4745677dcb0fb5a7:0x537faf6473936749!2m2!1d21.2086793!2d45.7488716!3m4!1m2!1d23.4230095!2d46.7542166!3s0x4749054b47f83ef5:0x2b7241cf60c56a18!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Timisoara - Oradea - Bontida</a></li>
                    <li class="d"><a href="https://www.google.ro/maps/dir/Baia+Mare,+Maramure%C8%99+County/Bon%C8%9Bida,+Cluj+County/@47.2799985,23.3065864,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4737dc70b4206f37:0x30914e534fa9d1dd!2m2!1d23.5849881!2d47.6567387!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Baia Mare - Bontida</a></li>
                    <li class="e"><a href="https://www.google.ro/maps/dir/Bistri%C8%9Ba,+Bistri%C8%9Ba-N%C4%83s%C4%83ud+County/Bon%C8%9Bida,+Cluj+County/@46.9858535,23.9906733,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4749f7b004cf46c7:0xa78abae723b4e25c!2m2!1d24.4890979!2d47.1392617!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Bistrita - Bontida</a></li>
                    <li class="f"><a href="https://www.google.ro/maps/dir/Zal%C4%83u,+S%C4%83laj/Bon%C8%9Bida,+Cluj+County/@47.0591155,23.2877659,11z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x474842a15ce95f31:0x56c280de3735b817!2m2!1d23.0573324!2d47.1854562!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Zalau - Bontida</a></li>
                    <li class="g"><a href="https://www.google.ro/maps/dir/Bra%C8%99ov,+Bra%C8%99ov+County/Bon%C8%9Bida,+Cluj+County/@46.2919965,23.9820005,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x40b35b862aa214f1:0x6cf5f2ef54391e0f!2m2!1d25.6011977!2d45.6579755!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Brasov - Targu Mures - Bontida</a></li>
                    <li class="h"><a href="https://www.google.ro/maps/dir/Alba+Iulia,+Alba+County/Bon%C8%9Bida,+Cluj+County/@46.503329,23.0228477,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x474ea80cce754875:0xe9b0f44e8e45cd05!2m2!1d23.5690265!2d46.0823371!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Alba Iulia - Bontida</a></li>
                    <li class="i"><a href="https://www.google.ro/maps/dir/Bucure%C8%99ti,+Bucharest/Bon%C8%9Bida,+Cluj+County/@45.6727734,23.6440674,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x40b1f93abf3cad4f:0xac0632e37c9ca628!2m2!1d26.1025384!2d44.4267674!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Bucuresti - Rm. Valcea - Alba Iulia - Bontida</a></li>
                    <li class="j"><a href="https://www.google.ro/maps/dir/Sibiu/Bon%C8%9Bida,+Cluj+County/@46.3520127,23.2913171,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x474c6788fd2c1cd5:0x3ade9d214e3390b4!2m2!1d24.1255826!2d45.7983273!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Sibiu - Bontida</a></li>
                    <li class="k"><a href="https://www.google.ro/maps/dir/Ia%C8%99i,+Ia%C8%99i+County/Bon%C8%9Bida,+Cluj+County/@47.1568961,24.5115353,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x40cafb7cf639ddbb:0x7ccb80da5426f53c!2m2!1d27.6014418!2d47.1584549!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Iasi - Bontida</a></li>
                    <li class="l"><a href="https://www.google.ro/maps/dir/Constan%C8%9Ba,+Constan%C8%9Ba+County/Bon%C8%9Bida,+Cluj+County/@45.5135696,24.9048276,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x40bae54a64345229:0x637be1cd3e654850!2m2!1d28.6348138!2d44.1598013!1m5!1m1!1s0x4749a194cc0fce7f:0x9bf0e42d0dbfd65d!2m2!1d23.8155833!2d46.9148948!3e0" target="_blank">Constanta - Bucuresti - Bontida</a></li>
                </ul>
            </div>
            <div class="col-md-12 cars">
                <h4>By Car</h4>
                <p><strong>We strongly advise you to use our shuttle buses!</strong></p>
                <p>
                    <i class="fa fa-map-pin"></i>
                    <a href="https://goo.gl/maps/T8wvx1aajT62" target="_blank">Banffy Castle, Bontida, jud. Cluj<br />Str. Principala, 407105</a>
                </p>
            </div>
        </div>
        <div class="row margin-bottom-50">
            <div class="col-md-12">
                <p>
                    There are two parking lots of 4000 cars capacity.<br />
                    To get there, you will have to follow our signs.
                    The cars will have access through Răscruci.<br />
                    The price for the parking is 30 RON/entrance (that means that if you leave and enter again you will have to pay again).
                </p>
            </div>
        </div>
    </div>
</div>
