<div class="page-container page-container__bg">
    <div class="container">

    <div class="map-page">
       <div class="panzoom-parent" pan-zoom>
           <img src="/assets/img/EC-map-2017.jpg" width="2500px" height="1983px" class="panzoom" />
       </div>

        <div class="map-buttons">
            <button class="zoom-out btn button button-yellow button-small"><i class="fa fa-minus"></i></button>
            <button class="zoom-in btn button button-yellow button-small margin-left-100"><i class="fa fa-plus"></i></button>
            <input type="range" class="zoom-range" />

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <p class="margin-bottom-30 text-right text-medium">
               <a href="/assets/docs/EC-2017-map.pdf" target="_blank">Download .PDF</a>&nbsp;<i class="fa fa-download"></i>
           </p>
        </div>
    </div>
    </div>
</div>