<div class="application-logo" ui-sref="ElectricCastlePublic.Home" itemprop="url" content="https://electriccastle.ro/">
    <h1 class="text-uppercase text-center margin-top-80 margin-bottom-10">
        {{'HOME.LOGO.DATE' | translate}}<br />
        {{'HOME.LOGO.SLOGAN' | translate}}
    </h1>
    <img ng-if="!inverted" src="/assets/img/logo-small.png" itemprop="image" content="/assets/img/logo-small.png"
         alt="Electric Castle" class="img-responsive center-block logo-small" />
    <img ng-if="inverted" src="/assets/img/logo-small-white.png" itemprop="image" content="/assets/img/logo-small-white.png"
         alt="Electric Castle" class="img-responsive center-block logo-small" />
</div>