<nav class="navbar navbar-fixed-top header" ng-hide="hc.shouldHideHeader">
    <div class="container flex flex-space-between flex-v-center">
        <div class="flex flex-v-center">
            <img ui-sref="ElectricCastlePublic.Home"
                 src="/assets/img/logo-square.png"
                 data-js="header-logo"
                 class="header__logo img-responsive center-block" alt="" />

            <a href="javascript:void(0)" class="link text-uppercase link--festival-date hidden-xs">JULY 12-16, 2017</a>
            <!--<a ui-sref="ElectricCastlePublic.Tickets" ui-sref-active="is-active"
               class="link link--call-to-action text-uppercase hidden-xs">Buy Tickets</a>-->
        </div>

        <div class="flex">
            <header-account></header-account>

            <button class="si-icon si-icon-hamburger-cross"
                    ng-click="hc.toggleMenu()"
                    data-icon-name="hamburgerCross" svg-icon
                    data-js="menu-toggle"
                    analytics-on
                    analytics-event="Menu open"
                    analytics-category="Navigation">
                <span class="menu-label hidden-xs">Menu</span>
            </button>
        </div>
    </div>
</nav>
