<meta name="prerender-status-code" content="404">

<div class="page-container page-container__bg-light padding-bottom-0">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>Ooops, the page was not found</h1>
                <p class="text-medium" bind-html-compile="'GENERAL.NOT_FOUND' | translate"></p>
                <img src="/assets/img/kitten.jpg" class="img-responsive center-block" />
            </div>
        </div>
    </div>
</div>
