<div class="page-container page-container__bg-light newsroom-page" ng-if="!nrac.shouldDisplayNoNewsItem()">
    <header class="banner" style="background-image: url('{{nrac.newsItem.headerImage}}')">
        <div class="container" itemscope itemtype="http://schema.org/Article">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1 col-xs-6 col-xs-offset-0">
                    <a href="http://decatorevista.ro/" target="_blank">
                        <img src="/assets/img/newsroom/povestit-de-dor.png" class="" />
                    </a>
                </div>
                <div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-0 text-right">
                    <a href="https://www.bancatransilvania.ro/" target="_blank">
                        <img src="/assets/img/newsroom/sustinut-de-bt.png" class="" />
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0 margin-top-100">
                    <h1>
                        <a ui-sref="ElectricCastlePublic.Newsroom">
                            <small ng-if="nrac.newsItem.author !== 'Oana Ivan'">Electric Newsroom</small>
                            <small ng-if="nrac.newsItem.author === 'Oana Ivan'">Jurnalul Oanei</small>
                        </a><br />
                        <span itemprop="name">{{nrac.newsItem.title}}</span>
                    </h1>
                    <h2>{{nrac.newsItem.subtitle}}</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="article-details container">
        <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
            <h5 class="margin-bottom-30" itemprop="author">
                {{nrac.newsItem.author}}
                <span>{{nrac.newsItem.publishedAt}}</span>
            </h5>

            <div class="article-text" itemprop="articleBody" ng-bind-html="nrac.trustHtml(nrac.newsItem.content)">
            </div>
        </div>
    </section>

    <section class="article-share container margin-bottom-30">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h5>Share:</h5>
                <button class="button button--has-border button--has-border--yellow button--dark"
                        socialshare
                        socialshare-provider="facebook"
                        socialshare-url={{nrac.shareUrl}}>
                    <i class="fa fa-facebook"></i> Facebook
                </button>
                <button class="button button--has-border button--has-border--yellow button--dark"
                        socialshare
                        socialshare-provider="twitter"
                        socialshare-text="{{nrac.newsItem.subtitle}}"
                        socialshare-url={{nrac.shareUrl}}>
                    <i class="fa fa-twitter"></i> Twitter
                </button>
                <button class="button button--has-border button--has-border--yellow button--dark"
                        socialshare
                        socialshare-provider="google"
                        socialshare-url={{nrac.shareUrl}}>
                    <i class="fa fa-google-plus"></i> Google+
                </button>
                <button class="button button--has-border button--has-border--yellow button--dark"
                        socialshare
                        socialshare-provider="skype"
                        socialshare-url={{nrac.shareUrl}}>
                    <i class="fa fa-skype"></i> Skype
                </button>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <p class="col-md-10 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 text-medium">
                &laquo; <a ui-sref="ElectricCastlePublic.Newsroom">Newsroom home</a>
            </p>
        </div>
    </div>
    <hr />
    <section class="article-list container" ng-if="!nrac.shouldDisplayNoRelatedNews()">
        <div class="row">
            <div class="col-md-3 col-sm-6" ng-repeat="news in nrac.newsItem.related">
                <a ui-sref="ElectricCastlePublic.NewsroomArticle({ articleId : news.entityId, articleTitle : news.formattedTitle})">
                    <img ng-src="{{news.thumbnail}}" class="img-responsive" />
                    <div class="title-area">
                        <h5>{{news.title}}</h5>
                        <p>{{news.subtitle}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
<div class="newsroom-page" ng-if="nrac.shouldDisplayNoNewsItem()">
    <header class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-6 col-xs-offset-0">
                    <a href="http://decatorevista.ro/" target="_blank">
                        <img src="/assets/img/newsroom/povestit-de-dor.png" class="" width="90" />
                    </a>
                </div>
                <div class="col-sm-2 col-sm-offset-6 col-xs-6 col-xs-offset-0 text-right">
                    <a href="https://www.bancatransilvania.ro/" target="_blank">
                        <img src="/assets/img/newsroom/sustinut-de-bt.png" class="" />
                    </a>
                </div>
                <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0 margin-top-140">
                    <h1>
                        <small>Electric Story</small><br />
                        Electric Castle 2016
                    </h1>
                    <h2>Booming sounds, happy people, wonderful surroundings</h2>
                </div>
            </div>
        </div>
    </header>

    <section class="article-list container">
        <h5 class="padding-top-40 text-center">
            There is no article here. Please go back to the <a ui-sref="ElectricCastlePublic.Newsroom">Newsroom homepage</a>.
        </h5>
    </section>
</div>
