<div class="page-container page-container__bg-light newsroom-page">
    <header class="banner" style="background-image: url('{{nrc.featured.headerImage}}')">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 col-xs-6 col-xs-offset-0">
                    <a href="http://decatorevista.ro/" target="_blank">
                        <img src="/assets/img/newsroom/povestit-de-dor.png" class="" />
                    </a>
                </div>
                <div class="col-sm-2 col-sm-offset-6 col-xs-6 col-xs-offset-0 text-right">
                    <a href="https://www.bancatransilvania.ro/" target="_blank">
                        <img src="/assets/img/newsroom/sustinut-de-bt.png" class="" />
                    </a>
                </div>
                <a ui-sref="ElectricCastlePublic.NewsroomArticle({ articleId : nrc.featured.entityId, articleTitle : nrc.featured.formattedTitle})">
                    <div class="col-sm-11 col-sm-offset-1 col-xs-offset-0 margin-top-100">
                        <h1>
                            <small ng-if="nrac.newsItem.author !== 'Oana Ivan'">Electric Newsroom</small>
                            <small ng-if="nrac.newsItem.author === 'Oana Ivan'">Jurnalul Oanei</small>
                            <br />
                            {{nrc.featured.title}}
                        </h1>
                        <h2>{{nrc.featured.subtitle}}</h2>
                    </div>
                </a>
            </div>
        </div>
    </header>

    <section class="article-list container">
        <div class="row">
            <div class="col-md-3 col-sm-6" ng-repeat="news in nrc.getNews()">
                <a ui-sref="ElectricCastlePublic.NewsroomArticle({ articleId : news.entityId, articleTitle : news.formattedTitle})">
                    <img ng-src="{{news.thumbnail}}" class="img-responsive" />
                    <div class="title-area">
                        <h5>{{news.title}}</h5>
                        <p>{{news.subtitle}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
