<div class="page-container page-container__bg-dark own-the-stage-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <img src="/assets/img/own-the-stage/stage-banner.png" alt="Own the Stage 2017"
                     class="img-responsive center-block" />

                <h1 class="text-uppercase text-center">
                    Creative music people&nbsp;<br />
                    we want you again to Own the Stage&nbsp;<br />
                    at <span>Electric Castle 2017</span>!
                </h1>
                <p class="text-center intro"><strong>
                    Unul din scopurile EC este de a promova
                    și de a arăta lumii artiștii români, indiferent dacă sunt
                    la început de drum sau au deja o carieră în spate.
                    So, dacă ai o trupă sau esti DJ, poți ajunge să pui muzică pe una
                    dintre scenele festivalului.</strong>
                </p>
            </div>
        </div>
        <div class="row band-content">
            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <h3>Bands Contest</h3>
                <p>
                    <strong>Punem la bătaie 4 sloturi pe a doua scenă a festivalului: Hangar! </strong>
                </p>
                <p>
                    Pentru a participa trebuie să completați formularul acesta sau să intrați pe tabul Own the Stage de
                    pe <a href="https://www.facebook.com/ElectricCastle/" target="_blank">facebook.com/electriccastle</a>
                    până în 11 Iunie, ora 23:59.
                </p>
                <p>
                    În 12 Iunie alegem trupele ce intră în etapa de votare, iar în 19 Iunie vom anunța câștigătorii
                    (trupa cu cele mai multe voturi și încă 3 alese de juriul EC).
                </p>

                <a href="https://www.wishpond.com/lp/728570/reference"
                   class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>
            </div>
        </div>
        <div class="row dj-content">
            <div class="col-lg-4 col-lg-offset-6 col-md-5 col-md-offset-6 col-sm-6 col-sm-offset-6">
                <h3>DJ Contest</h3>
                <p>
                    <strong>
                        Mecanismul e simplu. Tot concursul se va desfășura pe Mixcloud unde trebuie să uploadezi un mix
                        făcut de tine (neapărat!) care să respecte regulile de mai jos:
                    </strong>
                </p>
                <ul>
                    <li>Durata mixului: minim 30 de minute</li>
                    <li>Adaugă un tracklist</li>
                    <li>Titlul Mixului <strong>“DJ Contest Own The Stage – Numele Tău”</strong></li>
                    <li>Folosește tag-ul: <strong>“Own The Stage at Electric Castle 2017”</strong>. <span>Dacă nu vei
                        folosi tag-ul când uploadezi mixul, există șanse ca noi să nu vedem mixul.</span></li>
                    <li>Folosește <a href="/assets/img/bg/mixclud.jpg" target="_blank">cover-ul de aici</a></li>
                    <li>Trebuie să ai minim 150 de ascultări pentru a putea fi selectat printre câștigători</li>
                </ul>
                <p>
                    În 12 Iunie, vor fi aleși finaliștii concursului, iar mixurile lor vor fi postate pe contul de
                    Mixcloud EC. Dintre aceștia vor fi aleși 4 câștigători în 16 Iunie. Pentru alegerea acestora vor fi
                    luate în considerare voturile/favorites publicului (25%) și nota juriului EC (75%).
                </p>

                <a href="https://www.mixcloud.com/"
                   class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>

                <p>Pentru regulamentul competitiei <a href="/assets/docs/ownthestage-regulament.pdf" target="_blank">intrati aici</a>.</p>
            </div>
        </div>
    </div>
</div>