<div class="page-container page-container__bg">
    <div class="container login-page">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

            <h1>Change your password</h1>

            <form name="changePasswordForm" ng-submit="cpc.changePassword(changePasswordForm)" novalidate>
                <fieldset class="form-group form-group__full" ng-show="cpc.flags.showError">
                    <div class="error-alert">{{cpc.model.errorMessage}}</div>
                </fieldset>

                <fieldset class="form-group form-group__full" ng-show="cpc.flags.showConfirmation">
                    <div class="col-md-12 info-alert">{{'CHANGE_PASSWORD.UPDATE_SUCCESS' | translate}}</div>
                </fieldset>

                <fieldset class="form-group form-group__full">
                    <input type="password" class="form-control form-control--dark"
                           name="oldPassword"
                           placeholder="{{'LOGIN.OLD_PASSWORD' | translate | uppercase}}"
                           autocomplete="off"
                           ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.$submitted}"
                           ng-required="true"
                           ng-model="cpc.model.oldPassword" />
                    <span ng-messages="changePasswordForm.password.$error" ng-show="changePasswordForm.$submitted">
                        <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                    </span>
                </fieldset>
                <fieldset class="form-group form-group__full">
                    <input type="password" class="form-control form-control--dark"
                           name="password"
                           placeholder="{{'LOGIN.PASSWORD' | translate | uppercase}}"
                           autocomplete="off"
                           ng-class="{'has-error': changePasswordForm.password.$invalid && changePasswordForm.$submitted}"
                           ng-required="true"
                           ng-minlength="6"
                           ng-model="cpc.model.password" />
                    <span ng-messages="changePasswordForm.password.$error" ng-show="changePasswordForm.$submitted">
                        <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                        <span class="error" ng-message="minlength">{{'VALIDATIONS_ERRORS.MIN_LENGTH' | translate : '{min: 6}'}}</span>
                    </span>
                </fieldset>
                <fieldset class="form-group form-group__full">
                    <input type="password" class="form-control form-control--dark"
                           name="passwordConfirmation"
                           placeholder="{{'REGISTER.CONFIRM_PASSWORD' | translate | uppercase}}"
                           autocomplete="off"
                           compare-to="cpc.model.password"
                           ng-class="{'has-error': changePasswordForm.passwordConfirmation.$invalid && changePasswordForm.$submitted, 'is-not-empty': !!cpc.model.passwordConfirmation}"
                           ng-required="true"
                           ng-minlength="6"
                           ng-model-options="{allowInvalid: true}"
                           ng-model="cpc.model.passwordConfirmation" />
                        <span ng-messages="changePasswordForm.passwordConfirmation.$error" ng-show="changePasswordForm.$submitted">
                            <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                            <span class="error" ng-message="minlength">{{'VALIDATIONS_ERRORS.MIN_LENGTH' | translate : '{min: 6}'}}</span>
                            <span class="error" ng-message="compareTo">{{'VALIDATIONS_ERRORS.MUST_MATCH' | translate}}</span>
                        </span>
                </fieldset>
                <div class="text-right">
                    <button class="std-button std-button--light std-button--wide" type="submit">{{'LOGIN.CHANGE_PASSWORD' | translate}}</button>

                    <div class="clearfix"></div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
