<div class="page-container page-container__bg">
    <div class="container login-page">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h1>{{'RESET_PASSWORD.DESCRIPTION' | translate}}</h1>

                <form class="login-form" name="resetPasswordForm" ng-submit="fpc.submit(resetPasswordForm)" novalidate>
                <fieldset class="form-group form-group__full" ng-show="fpc.flags.showError">
                    <div class="error-alert">{{fpc.model.errorMessage}}</div>
                </fieldset>

                <fieldset class="form-group form-group__full" ng-show="fpc.flags.showConfirmation">
                    <div class="col-md-12 info-alert">{{'RESET_PASSWORD.UPDATE_SUCCESS' | translate: {emailAddress: fpc.model.savedMail} }}</div>
                </fieldset>

                <fieldset class="form-group form-group__email">
                    <input type="email" class="form-control form-control--dark"
                           id="email"
                           name="email"
                           placeholder="{{'REGISTER.EMAIL' | translate | uppercase}}"
                           autocomplete="off"
                           ng-class="{'has-error': resetPasswordForm.email.$invalid && resetPasswordForm.$submitted}"
                           ng-required="true"
                           ng-model="fpc.model.email"/>
                    <span ng-messages="resetPasswordForm.email.$error" ng-show="resetPasswordForm.$submitted">
                        <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                        <span class="error" ng-message="email">{{'VALIDATIONS_ERRORS.NOT_A_VALID_EMAIL' | translate}}</span>
                    </span>
                </fieldset>

                <div class="text-right">
                    <button class="std-button std-button--light std-button--wide button--dark" type="submit">
                        {{'RESET_PASSWORD.SUBMIT' | translate}}
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
