<form name="redeemCardForm" ng-submit="rcfc.submitCoupon(redeemCardForm)" class="redeem-giftcard-form" novalidate>
    <fieldset class="form-group form-group__error" ng-show="rcfc.flags.showError">
        <div class="error-alert " ng-bind-html="rcfc.model.errorMessage"></div>
    </fieldset>

    <fieldset class="form-group form-group--full-width margin-bottom-5">
        <div class="col-md-8 no-padding-left">
            <input type="text"
                   id="code"
                   class="form-control form-control--dark margin-bottom-5"
                   name="code"
                   placeholder="{{'GIFT_CARD.CODE' | translate | uppercase}}"
                   autocomplete="off"
                   ng-class="{'has-error': redeemCardForm.code.$invalid && redeemCardForm.$submitted}"
                   ng-required="true"
                   ng-model="rcfc.model.code" />
        </div>
        <div class="col-md-4 no-padding-left">
            <button class="std-button std-button--light std-button--wide std-button--in-form" type="submit"
                    ng-disabled="redeemCardForm.$submitted && !redeemCardForm.$valid"
                    analytics-on
                    analytics-event="Redeem card submit"
                    analytics-category="Shop">
                {{'GIFT_CARD.BUTTON' | translate}}
            </button>
        </div>
        <div class="clearfix"></div>

        <span ng-messages="redeemCardForm.code.$error" ng-show="redeemCardForm.$submitted">
            <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
        </span>
    </fieldset>
</form>
