<form class="register-minimal-form" name="registerMinimalForm" ng-submit="rmfc.register(registerMinimalForm)" novalidate autocomplete="off">

    <fieldset class="form-group" ng-show="rmfc.flags.showRegisterError">
        <div class="error-alert">{{rmfc.model.errorMessage}}</div>
    </fieldset>

    <fieldset class="form-group form-group--a-half">
        <input type="text"
               class="form-control"
               id="first-name"
               name="firstName"
               placeholder="{{'REGISTER.FIRST_NAME' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.firstName.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.firstName"/>
                <span ng-messages="registerMinimalForm.firstName.$error" ng-show="registerMinimalForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                </span>
    </fieldset>
    <fieldset class="form-group form-group--a-half">
        <input type="text"
               class="form-control"
               id="last-name"
               name="lastName"
               placeholder="{{'REGISTER.LAST_NAME' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.lastName.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.lastName"/>
                <span ng-messages="registerMinimalForm.lastName.$error" ng-show="registerMinimalForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                </span>
    </fieldset>
    <fieldset class="form-group form-group--a-half">
        <input type="email" class="form-control"
               id="email"
               name="email"
               placeholder="{{'REGISTER.EMAIL' | translate}}"
               autocomplete="off"
               ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
               ng-class="{'has-error': registerMinimalForm.email.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.email"/>
                <span ng-messages="registerMinimalForm.email.$error" ng-show="registerMinimalForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                    <span class="error" ng-message="pattern">{{'VALIDATIONS_ERRORS.NOT_A_VALID_EMAIL' | translate}}</span>
                </span>
    </fieldset>
    <fieldset class="form-group form-group--a-half">
        <input type="text" class="form-control"
               id="phone"
               name="phone"
               placeholder="{{'REGISTER.PHONE' | translate}}"
               autocomplete="off"
               ng-pattern="/^[+]?([0-9]*[\.\s\-\(\)]|[0-9]+){3,24}$/"
               ng-class="{'has-error': registerMinimalForm.phone.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.phone" />
                    <span ng-messages="registerMinimalForm.phone.$error" ng-show="registerMinimalForm.$submitted">
                        <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                        <span class="error" ng-message="pattern">{{'VALIDATIONS_ERRORS.NOT_A_VALID_PHONE_NUMBER' | translate}}</span>
                    </span>
    </fieldset>

    <fieldset class="form-group">
        <ui-select ng-model="rmfc.model.country" class="" search-enabled="true" ng-change="rmfc.countryChanged()">
            <ui-select-match placeholder="Country">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="country.name as country in rmfc.model.countryList  | filter: {name: $select.search}">
                <div ng-bind-html="country.name"></div>
            </ui-select-choices>
        </ui-select>
    </fieldset>

    <fieldset class="form-group">
            <span ng-click="rmfc.flags.showCityTextBox = !rmfc.flags.showCityTextBox"
                  ng-show="rmfc.flags.countryHasCityList && !rmfc.flags.showCityTextBox"
                  class="pull-right pointer">
                Other? Please add it.
            </span>
            <span ng-click="rmfc.flags.showCityTextBox = !rmfc.flags.showCityTextBox"
                  ng-show="rmfc.flags.countryHasCityList && rmfc.flags.showCityTextBox"
                  class="pull-right pointer">
                Back to list.
            </span>
        <div class="clearfix"></div>
        <input type="text"
               id="city"
               class="form-control form-control--dark"
               name="city"
               placeholder="{{'REGISTER.CITY' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.city.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.city"
               ng-if="rmfc.flags.showCityTextBox" />
            <span ng-messages="registerMinimalForm.city.$error" ng-show="registerMinimalForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>

        <ui-select ng-model="rmfc.model.city" class="" search-enabled="true" ng-if="!rmfc.flags.showCityTextBox">
            <ui-select-match placeholder="City">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="city.name as city in rmfc.model.cityList  | filter: {name: $select.search}">
                <div ng-bind-html="city.name"></div>
            </ui-select-choices>
        </ui-select>
    </fieldset>

    <fieldset class="form-group form-group--a-half">
        <input type="text"
               id="street"
               class="form-control form-control--dark"
               name="street"
               placeholder="{{'REGISTER.STREET' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.street.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.street"/>
            <span ng-messages="registerMinimalForm.street.$error" ng-show="registerMinimalForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
    </fieldset>

    <fieldset class="form-group form-group--a-half">
        <input type="text"
               id="number"
               class="form-control form-control--dark"
               name="number"
               placeholder="{{'REGISTER.NUMBER' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.number.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.number"/>
            <span ng-messages="registerMinimalForm.number.$error" ng-show="registerMinimalForm.$submitted">
                <span class="error auto" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
    </fieldset>

    <fieldset class="form-group form-group--a-half">
        <input type="text"
               id="zip"
               class="form-control form-control--dark"
               name="zip"
               placeholder="{{'REGISTER.ZIP' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.zip.$invalid && registerMinimalForm.$submitted}"
               ng-required="true"
               ng-model="rmfc.model.zipCode"/>
            <span ng-messages="registerMinimalForm.zip.$error" ng-show="registerMinimalForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
    </fieldset>
    <hr class="margin-top-5" />
    <fieldset class="form-group">
        <input type="password" class="form-control"
               id="password"
               name="password"
               placeholder="{{'REGISTER.PASSWORD' | translate}}"
               autocomplete="off"
               ng-class="{'has-error': registerMinimalForm.password.$invalid && registerMinimalForm.$submitted, 'is-not-empty': !!rmfc.model.password}"
               ng-required="true"
               ng-minlength="6"
               ng-model="rmfc.model.password" />
                <span ng-messages="registerMinimalForm.password.$error" ng-show="registerMinimalForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                    <span class="error" ng-message="pattern">{{'VALIDATIONS_ERRORS.NOT_A_VALID_DATE' | translate: '{acceptedFormat: "DD/MM/YYYY"}'}}</span>
                    <span class="error" ng-message="minlength">{{'VALIDATIONS_ERRORS.MIN_LENGTH' | translate : '{min: 6}'}}</span>
                </span>
    </fieldset>
    <fieldset class="form-group">
        <input type="password" class="form-control"
               id="password-confirmation"
               name="passwordConfirmation"
               placeholder="{{'REGISTER.CONFIRM_PASSWORD' | translate}}"
               autocomplete="off"
               compare-to="rmfc.model.password"
               ng-class="{'has-error': registerMinimalForm.passwordConfirmation.$invalid && registerMinimalForm.$submitted, 'is-not-empty': !!rmfc.model.passwordConfirmation}"
               ng-required="true"
               ng-minlength="6"
               ng-model-options="{allowInvalid: true}"
               ng-model="rmfc.model.passwordConfirmation" />
                <span ng-messages="registerMinimalForm.passwordConfirmation.$error" ng-show="registerMinimalForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                    <span class="error" ng-message="minlength">{{'VALIDATIONS_ERRORS.MIN_LENGTH' | translate : '{min: 6}'}}</span>
                    <span class="error" ng-message="compareTo">{{'VALIDATIONS_ERRORS.MUST_MATCH' | translate : '{min: 6}'}}</span>
                </span>
    </fieldset>

    <fieldset class="form-group margin-top-20">
        <button class="std-button std-button--light std-button--wide pull-right" type="submit"
                ng-disabled="(registerMinimalForm.$submitted && !registerMinimalForm.$valid) || rmfc.flags.disableRegisterBtn"
                analytics-on
                analytics-event="Register submit"
                analytics-category="Authentication">
            {{'LOGIN.REGISTER' | translate | uppercase}}
        </button>
        <div class="clear"></div>
    </fieldset>

    <fieldset class="form-group margin-top-20">
        <p class="text-smaller" ng-bind-html="'REGISTER.TERMS_AND_CONDITIONS' | translate"></p>
    </fieldset>
</form>
