<div class="ec-tab my-account-page">
    <form name="registerForm" ng-submit="sc.update(registerForm)" novalidate>
        <fieldset class="form-group form-group--full-width" ng-show="sc.flags.showError">
            <div class="col-md-12 error-alert margin-top-20">{{sc.model.errorMessage}}</div>
        </fieldset>

        <fieldset class="form-group form-group--full-width" ng-show="sc.flags.showConfirmation">
            <div class="col-md-12 info-alert margin-top-20">{{'REGISTER.UPDATE_SUCCESS' | translate}}</div>
        </fieldset>

        <fieldset class="form-group form-group--full-width" ng-show="sc.flags.showConfirmAccountMessage">
            <p class="col-md-12 info-alert margin-top-20 text-medium">
                Your account is confirmed and you will be able to buy Early Bird tickets on October 5.
                Please make sure all your details below are complete and correct.</p>
        </fieldset>

        <h2>{{'REGISTER.ABOUT_YOU' | translate}}</h2>
        <fieldset class="form-group">
            <label for="first-name" class="control-label control-label--dark hidden-xs">{{'REGISTER.FIRST_NAME' | translate}}</label>
            <input type="text"
                   id="first-name"
                   class="form-control form-control--dark"
                   name="firstName"
                   placeholder="{{'REGISTER.FIRST_NAME' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.firstName.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.firstName" />
            <span ng-messages="registerForm.firstName.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="last-name" class="control-label control-label--dark hidden-xs">{{'REGISTER.LAST_NAME' | translate}}</label>
            <input type="text"
                   id="last-name"
                   class="form-control form-control--dark"
                   name="lastName"
                   placeholder="{{'REGISTER.LAST_NAME' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.lastName.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.lastName" />
            <span ng-messages="registerForm.lastName.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="email" class="control-label control-label--dark hidden-xs">{{'REGISTER.EMAIL' | translate}}</label>
            <input type="email"
                   id="email"
                   class="form-control form-control--dark"
                   name="email"
                   placeholder="{{'REGISTER.EMAIL' | translate}}"
                   autocomplete="off"
                   ng-pattern="/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
                   ng-class="{'has-error': registerForm.email.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.email"/>
            <span ng-messages="registerForm.email.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                <span class="error" ng-message="pattern">{{'VALIDATIONS_ERRORS.NOT_A_VALID_EMAIL' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="phone" class="control-label control-label--dark hidden-xs">{{'REGISTER.PHONE' | translate}}</label>
            <input type="text"
                   id="phone"
                   class="form-control form-control--dark"
                   name="phone"
                   placeholder="{{'REGISTER.PHONE' | translate}}"
                   autocomplete="off"
                   ng-pattern="/^[+]?([0-9]*[\.\s\-\(\)]|[0-9]+){3,24}$/"
                   ng-class="{'has-error': registerForm.phone.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.phone" />
            <span ng-messages="registerForm.phone.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                <span class="error" ng-message="pattern">{{'VALIDATIONS_ERRORS.NOT_A_VALID_PHONE_NUMBER' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group nationality">
            <label class="control-label control-label--dark hidden-xs">{{'REGISTER.NATIONALITY' | translate}}</label>

            <ui-select ng-model="sc.model.nationality" class="" search-enabled="true">
                <ui-select-match placeholder="Please select your nationality">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="nationality.name as nationality in sc.model.nationalityList  | filter: {name: $select.search}">
                    <div ng-bind-html="nationality.name"></div>
                </ui-select-choices>
            </ui-select>
        </fieldset>

        <fieldset class="form-group gender">
            <label class="control-label control-label--dark hidden-xs">{{'REGISTER.GENDER' | translate}}</label>

            <ui-select ng-model="sc.model.gender" search-enabled="true">
                <ui-select-match placeholder="Please select your gender">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="gender.value as gender in sc.model.genderList  | filter: {name: $select.search}">
                    <div ng-bind-html="gender.name"></div>
                </ui-select-choices>
            </ui-select>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label control-label--dark hidden-xs" ng-bind-html="'REGISTER.BIRTH_DATE' | translate"></label>
            <div class="select-wrapper">
                <input name="birthDate" type="text" data-format="DD/MM/YYYY" data-template="DD MM YYYY" data-first-item="none" combodate ng-model="sc.model.birthDate" nq-required="true" />
            </div>

            <span ng-messages="registerForm.birthDate.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                <span class="error" ng-message="validateDate">{{'VALIDATIONS_ERRORS.NOT_A_VALID_DATE' | translate: '{acceptedFormat: "DD/MM/YYYY"}'}}</span>
            </span>
        </fieldset>

        <h2 class="margin-top-30">{{'REGISTER.SHIPPING_ADDRESS' | translate}}</h2>
        <fieldset class="form-group form-group--a-quarter">
            <label class="control-label control-label--dark hidden-xs">{{'REGISTER.COUNTRY' | translate}}</label>

            <ui-select ng-model="sc.model.country" class="" search-enabled="true" ng-change="sc.countryChanged()">
                <ui-select-match placeholder="Please select a country">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="country.name as country in sc.model.countryList  | filter: {name: $select.search}">
                    <div ng-bind-html="country.name"></div>
                </ui-select-choices>
            </ui-select>
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="city" class="control-label control-label--dark hidden-xs">{{'REGISTER.CITY' | translate}}</label>
            <span ng-click="sc.flags.showCityTextBox = !sc.flags.showCityTextBox"
                  ng-show="sc.flags.countryHasCityList && !sc.flags.showCityTextBox"
                  class="pull-right pointer">
                Other? Please add it.
            </span>
            <span ng-click="sc.flags.showCityTextBox = !sc.flags.showCityTextBox"
                   ng-show="sc.flags.countryHasCityList && sc.flags.showCityTextBox"
                   class="pull-right pointer">
                Back to list.
            </span>
            <div class="clearfix"></div>
            <input type="text"
                   id="city"
                   class="form-control form-control--dark"
                   name="city"
                   placeholder="{{'REGISTER.CITY' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.city.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.city"
                   ng-if="sc.flags.showCityTextBox" />
            <span ng-messages="registerForm.city.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>

            <ui-select ng-model="sc.model.city" class="" search-enabled="true" ng-if="!sc.flags.showCityTextBox">
                <ui-select-match placeholder="Please select a city">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="city.name as city in sc.model.cityList  | filter: {name: $select.search}">
                    <div ng-bind-html="city.name"></div>
                </ui-select-choices>
            </ui-select>
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="street" class="control-label control-label--dark hidden-xs">{{'REGISTER.STREET' | translate}}</label>
            <input type="text"
                   id="street"
                   class="form-control form-control--dark"
                   name="street"
                   placeholder="{{'REGISTER.STREET' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.street.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.street"/>
            <span ng-messages="registerForm.street.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="number" class="control-label control-label--dark hidden-xs">{{'REGISTER.NUMBER' | translate}}</label>
            <input type="text"
                   id="number"
                   class="form-control form-control--dark"
                   name="number"
                   placeholder="{{'REGISTER.NUMBER' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.number.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.number"/>
            <span ng-messages="registerForm.number.$error" ng-show="registerForm.$submitted">
                <span class="error auto" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="block" class="control-label control-label--dark auto hidden-xs">{{'REGISTER.BLOCK' | translate}}</label>
            <input type="text"
                   id="block"
                   class="form-control form-control--dark"
                   name="block"
                   placeholder="{{'REGISTER.BLOCK' | translate}}"
                   autocomplete="off"
                   ng-model="sc.model.block" />
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="floorNumber" class="control-label control-label--dark hidden-xs">{{'REGISTER.FLOOR' | translate}}</label>
            <input type="text"
                   id="floorNumber"
                   class="form-control form-control--dark"
                   name="floorNumber"
                   placeholder="{{'REGISTER.NUMBER' | translate}}"
                   autocomplete="off"
                   ng-model="sc.model.floorNumber" />
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="apartment" class="control-label control-label--dark auto hidden-xs">{{'REGISTER.APARTMENT' | translate}}</label>
            <input type="text"
                   id="apartment"
                   class="form-control form-control--dark"
                   name="apartment"
                   placeholder="{{'REGISTER.APARTMENT' | translate}}"
                   autocomplete="off"
                   ng-model="sc.model.apartment" />
        </fieldset>

        <fieldset class="form-group form-group--a-quarter">
            <label for="zip" class="control-label control-label--dark hidden-xs">{{'REGISTER.ZIP' | translate}}</label>
            <input type="text"
                   id="zip"
                   class="form-control form-control--dark"
                   name="zip"
                   placeholder="{{'REGISTER.ZIP' | translate}}"
                   autocomplete="off"
                   ng-class="{'has-error': registerForm.zip.$invalid && registerForm.$submitted}"
                   ng-required="true"
                   ng-model="sc.model.zipCode"/>
            <span ng-messages="registerForm.zip.$error" ng-show="registerForm.$submitted">
                <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
            </span>
        </fieldset>

        <fieldset class="form-group form-group--actions">
            <div class="flex">
                <a ui-sref="ElectricCastlePublic.ChangePassword"
                   class="link link--text text-large"
                   analytics-on
                   analytics-event="Change password"
                   analytics-category="Navigation">
                    {{'LOGIN.CHANGE_PASSWORD' | translate}}
                </a>
                <button class="std-button std-button--light std-button--wide" type="submit"
                        ng-disabled="registerForm.$submitted && !registerForm.$valid"
                        analytics-on
                        analytics-event="Register submit"
                        analytics-category="Authentication">
                    {{'REGISTER.SAVE_CHANGES' | translate | uppercase}}
                </button>
            </div>
        </fieldset>
    </form>
</div>
