<div class="page-container page-container__bg-dark">
    <div class="schedule-page">
        <ul class="flex-container flex-container__days">
            <li class="flex-item flex-item__day"
                ng-class="{'flex-item--is-active': day.isActive}"
                ng-click="day.cb.activate()"
                ui-sref="ElectricCastlePublic.NewSchedule({day: day.name})"
                ng-repeat="day in nsc.cb.getEntireSchedule()">
                Day {{day.name}}
                <small>{{'LINE_UP.SCHEDULE.DAY_' + day.name | translate}}</small>
            </li>
        </ul>

        <ul class="flex-container flex-container__stages"
            ng-repeat="day in nsc.cb.getEntireSchedule()"
            ng-show="day.isActive">
            <li class="flex-item flex-item__stage"
                ng-repeat="stage in day.stages"
                ng-click="stage.cb.toggleTheRest(stage)"
                ng-class="{'flex-item__stage--grown': stage.headerExpanded}">
                {{stage.name}}
            </li>
        </ul>

        <section class="day-schedule-wrap">
            <day-grid model="day" ng-repeat="day in nsc.cb.getEntireSchedule()" ng-show="day.isActive"></day-grid>
            <schedule-per-stage class="flex-container flex-container__artists"
                                model="day"
                                ng-repeat="day in nsc.cb.getEntireSchedule()"
                                ng-show="day.isActive">
            </schedule-per-stage>
            <current-time model="day" ng-repeat="day in nsc.cb.getEntireSchedule()" ng-show="day.isActive"></current-time>
        </section>
    </div>
</div>