footer {
  color      : $grey-chad;
  position   : relative;

  font-size   : $font-size-footer;
  margin-top  : 10px;

  .logo {
      max-width     : 230px;
      margin-bottom : 10px;
      float         : right;

      @include breakpoint(xs) {
          float  : none;
          margin : 10px auto;
      }
  }

  .container {
    padding    : 10px 0 40px;
  }

  p {
    color         : $grey-chad ;
    line-height   : 20px;
    margin-bottom : 20px;
  }

  a {
    &,
    &:link,
    &:hover,
    &:active,
    &:visited {
      color           : $grey-light;
      text-decoration : none;
    }
    &:hover {
      color : $grey-base;
    }
  }

  ul {
    padding-left : 15px;
    min-height   : 100px;

    li {
      list-style: none;
      line-height: 28px;

      a {
        &,
        &:link,
        &:hover,
        &:active,
        &:visited {
          text-transform: uppercase;
        }
      }
    }
  }

  form.newsletter {
    input[type='email'],
    input[type='submit'] {
      border      : 0;
      padding     : 10px 6px;
      line-height : 20px;
      width       : 80%;

      &:focus {
        outline : none;
      }
    }

    input[type='submit'] {
      width : 20%;
    }
  }
}
