.header {
    $header-height : 40px;

    background-color : $grey-darker;
    color            : $white;

    height         : $header-height;
    min-height     : $header-height;
    border         : none;
    margin         : 0;
    font-size      : 18px;
    text-transform : uppercase;

    .container {
        &::before,
        &::after {
            content : none;
        }
    }

    &__logo {
        height : $header-height;
        cursor : pointer;
    }

    .menu-label {
        font-family    : 'Roboto', Arial, sans-serif;
        font-size      : $font-size-base;
        line-height    : 40px;
        margin-right   : 10px;
        vertical-align : top;
    }

    .link {
        line-height     : $header-height;
        padding         : 0 20px 0 0;
        color           : $white;
        text-decoration : none;

        &:hover {
            color : $grey-light;
        }

        @include breakpoint(xs) {
            padding   : 0 10px 0 0;
            font-size : 13px;
        }

        &--festival-date {
            padding-left : 20px;
            cursor       : default;
            min-width    : 160px;

            @include breakpoint(xs) {
                padding-left : 10px;
            }
        }

        &--call-to-action {
            color     : $yellow-base;
            min-width : 150px;
        }
    }

    .user-basket {
        margin-right : 30px;
        height       : $header-height;

        @include breakpoint(xs) {
            margin-right : 10px;
        }

        &__link {
            color           : $white;
            font-size       : 18px;
            height          : $header-height;
            text-decoration : none;

            &__quantity {
                color           : $yellow-base;
                display         : inline-block;
                font-size       : $font-size-base;
                text-decoration : none;
            }
        }
    }

    button {
      background     : none;
      border         : 0;
      padding        : 0;
      font-size      : $font-size-larger;
      text-transform : uppercase;
      line-height    : $header-height;
      max-height     : $header-height;

      svg {
        width   : 32px;
        height  : 38px;
        display : inline-block;

        path {
          stroke : $yellow-base;
        }
      }

      &:focus {
        outline : none;
      }

      &:hover {
        color : $white;

        svg path {
          stroke : $grey-light;
        }
      }
    }
}
