.login-overlay {
    background : rgba($black, 0.9);
    padding    : 30px;
    position   : fixed;
    left       : 0;
    top        : 0;
    height     : 100vh;
    max-height : 100vh;
    width      : 100vw;
    z-index    : $zIndex--app-menu;
    transition : all 0.35s ease-in;
    transform  : translate3d(100%, 0, 0);
    opacity    : 0;

    @include breakpoint(xs) {
        padding     : 0;
        display     : flex;
        align-items : center;
        top         : 0;
    }

    &.is-visible {
        transform : translate3d(0, 0, 0);
        opacity   : 1;
    }

    .container {
        max-width : 600px;
        margin    : 30vh auto 0 auto;

        @include breakpoint(xs) {
            margin : 0 auto 0 auto;
        }
    }

    &__close {
        text-align : right;
        padding    : 10px 5px;

        @include breakpoint(xs) {
            margin-top : 10px;
            padding    : 10px;
            text-align : center;
        }
    }

    &__description {
        font-size     : $font-size-larger;
        margin-bottom : 20px;

        a.link {
            font-size : $font-size-larger;
            color     : $white;
            
            text-decoration: underline;
        }

        @include breakpoint(xs) {
            font-size : $font-size-large;
        }
    }

    .form-group {
        display        : inline-block;
        vertical-align : top;
        margin         : 0 0 10px 0;

        &__email,
        &__password {
            width : 50%;

            @include breakpoint(xs) {
                width : 100%;
            }
        }

        &__error,
        &__actions,
        &__remember-me {
            width : 100%;
        }

        &__remember-me {
          margin-bottom : 0;
        }

        &__actions {
            margin-bottom : 0;

            .link {
                font-size : $font-size-large;

              &:not(:last-child) {
                margin-right : 10px;
              }

              @include breakpoint(xs) {
                margin-right  : 0;
                margin-bottom : 10px;
              }

              &--large {
                font-size : $font-size-larger;
              }
            }
        }

        .actions-wrapper {
            @include breakpoint(xs) {
                flex-direction : column;
            }
        }
    }
}
