.app-menu {
    background : $sea-blue url('/assets/img/redesign/bg-raster.png') center bottom repeat-x;;
    padding    : 0;
    position   : fixed;
    left       : 0;
    top        : 40px;
    height     : 100vh;
    max-height : 100vh;
    width      : 100vw;
    z-index    : $zIndex--app-menu;
    transition : all 0.35s ease-in;
    transform  : translate3d(-100%, 0, 0);
    opacity    : 0;

    &.is-open {
        transform : translate3d(0, 0, 0);
        opacity   : 1;
    }

    @include breakpoint(xs) {
        flex-direction : column;
    };

    .container {
        align-items : stretch;
        height      : 100%;

        &::before,
        &::after {
            content : none;
        }

        @include breakpoint(xs) {
            padding : 0;
        };
    }

    .links-container {
        font-size : 0;
        margin    : 0;
    }

    .link {
        padding         : 0 20px 0 10px;
        text-transform  : uppercase;
        margin-left     : -10px;
        color           : $grey-light;
        text-decoration : none;
        border-left     : 1px solid $grey-light;
        margin-bottom   : 10px;

        &:hover {
            color : $yellow-base;
        }
    }

    .menu-items {
        flex         : 5;
        border-right : 1px solid $grey-cool;
        padding      : 30px 30px 30px 0;

        @include breakpoint(xs) {
            padding : 15px;
        };

        &__item {
            margin-bottom : 25px;
            overflow      : hidden;

            @include breakpoint(xs) {
                margin-bottom : 15px;
            };

            &__title {
                text-transform : uppercase;
                font-family    : 'Steelfish', Helvetica, Arial, sans-serif;
                font-size      : 36px;
                color          : $grey-cool;
                margin         : 0 0 10px;
            }
        }
    }

    .form-control {
      background : transparent;
    }

    .festival-account {
        flex    : 3;
        padding : 30px 0 30px 30px;

        &__item {
            margin-bottom : 50px;
            overflow      : hidden;

            &__title {
                text-transform : uppercase;
                font-family    : 'Steelfish', Helvetica, Arial, sans-serif;
                font-size      : 36px;
                color          : $grey-cool;
                margin         : 0 0 10px;
            }
        }
    }
}
