<div class="line-up-tab-content">
    <ul class="artists-container list-unstyled">
        <li class="artist" ng-repeat="artist in ac.artists">
            <h3 class="artist-name">{{artist.name}}</h3>

            <img ng-src="{{artist.image}}" alt="{{artist.name}}" class="img-responsive center-block" image-fallback="LINE_UP_ARTIST_IMAGE" />

            <ul class="social-links">
                <li class="text-center" ng-if="artist.websiteUrl">
                    <a href="{{artist.websiteUrl}}" target="_blank">
                        <img src="/assets/img/line-up/website.png" alt="Artist website" />
                    </a>
                </li>
                <li class="text-center" ng-if="artist.facebookUrl">
                    <a href="{{artist.facebookUrl}}" target="_blank">
                        <img src="/assets/img/line-up/facebook.png" alt="Artist facebook" />
                    </a>
                </li>
                <li class="text-center" ng-if="artist.twitterUrl">
                    <a href="{{artist.twitterUrl}}" target="_blank">
                        <img src="/assets/img/line-up/twitter.png" alt="Artist twitter" />
                    </a>
                </li>
                <li class="text-center" ng-if="artist.instagramUrl">
                    <a href="{{artist.instagramUrl}}" target="_blank">
                        <img src="/assets/img/line-up/instagram.png" alt="Artist instagram" />
                    </a>
                </li>
                <li class="text-center vertical-align" ng-if="artist.youtubeUrl">
                    <a href="{{artist.youtubeUrl}}" target="_blank">
                        <img src="/assets/img/line-up/youtube.png" alt="Artist youtube channel" />
                    </a>
                </li>
            </ul>

            <img ng-if="artist.taglineImage" ng-src="{{artist.taglineImage}}" class="img-responsive artist-tag-line" />

            <section class="artist-schedule" ng-if="artist.schedule">
                <div ng-repeat="entry in artist.schedule">
                    <div class="pull-left info">
                        <span class="text-light">{{'LINE_UP.SCHEDULE.DATE' | translate}}:&nbsp;</span>
                        <span class="text-uppercase text-yellow-base">{{entry.day}}&nbsp;</span>

                        <span class="text-light">{{'LINE_UP.SCHEDULE.HOUR' | translate}}:&nbsp;</span>
                        <span class="text-yellow-base">{{entry.hour}}</span>

                        <span class="text-light">{{'LINE_UP.SCHEDULE.STAGE' | translate}}:&nbsp;</span>
                        <span class="text-uppercase text-yellow-base">{{entry.stage}}&nbsp;</span>
                    </div>
                    <div class="pull-right">
                        <img class="add-to-my-schedule" src="/assets/img/line-up/add-to-schedule.png" alt="Add to schedule" />
                    </div>
                </div>
            </section>
        </li>

        <li ng-show="ac.artists.length === 0">
            <h4 class="text-center margin-top-70">{{'LINE_UP.COMING_SOON' | translate}}</h4>
        </li>
    </ul>
</div>