<div class="page-container page-container__bg">
    <div class="container order-status-page">
        <h1 class="text-success">{{'CHECKOUT.SUCCESS.TITLE' | translate}}</h1>
        <p class="text-large" translate="{{'CHECKOUT.SUCCESS.DESCRIPTION'}}"></p>
        <p class="margin-bottom-30">Your order id: <strong>{{orc.latestOrder.id}}</strong></p>

        <a class="button button--has-border button--has-border--yellow button--dark button--in-form button-block"
           ui-sref="ElectricCastlePublic.MyAccount.Orders">
            Go to your orders
        </a>
    </div>
</div>

<input type="hidden" id="order-id" value="{{orc.latestOrder.id}}" />
<input type="hidden" id="order-value" value="{{orc.latestOrder.orderTotal}}" />

<!-- VE pixel -->
<img src="//drs2.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=847B8C6D-684E-4709-A73C-6CC97A83FCF2" width="1" height="1" class="pull-left" />
<!-- End VE pixel -->