<div class="page-container page-container__bg-dark about-page">
    <div class="banner">
        <h1>About the festival</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 columns-2">
                <p>
                    Electric Castle is a unique festival experience that takes place on the amazing domain of
                    <a ui-sref="ElectricCastlePublic.TheCastle">Banffy Castle</a>, near Cluj-Napoca, in Transylvania.
                </p>
                <p>
                    It shakes up the way people interact with a festival by combing
                    <a ui-sref="ElectricCastlePublic.LineUp.List">an eclectic musical lineup</a> with arts,
                    technology and a visually innovative concept.
                </p>
                <p>
                    This year’s edition of Electric Castle, taking place between 12-16 July, celebrates its fifth
                    anniversary with a plethora of world renowned acts. Spanning across ten stages, EC 2017 will see
                    over 130,000 people flock to the iconic `Versailles of Transylvania’ to take advantage of the music,
                    a broad food offering, performing arts, barber shop, yoga classes, fashion corner, and much more.
                </p>
                <p>
                    Guests will be entertained from day to night and back again with one of Europe’s few truly 24-hour
                    festivals. Electric Castle is set to be a full festival experience featuring street performers,
                    stand-up comedy acts, the biggest and most elaborate production to date and a brand new set of
                    areas and structures.
                </p>
            </div>
        </div>
    </div>

    <hr class="dark margin-top-40" />

    <div class="container margin-top-60">
        <div class="row clearfix margin-bottom-40">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 teaser" scroll-reveal>
                <a href="https://youtu.be/mzoLSyYytek" target="_blank" class="col-sm-4 reveal margin-top-neg-30">
                    <h4>
                        2016<br /><span>Aftermovie</span>
                    </h4>
                    <img src='/assets/img/info/about-1.jpg' class="img-responsive center-block" />
                </a>
                <a href="https://youtu.be/PSpKIj5lFyI" target="_blank" class="col-sm-4 reveal margin-top-40">
                    <h4>
                        2015<br /><span>Aftermovie</span>
                    </h4>
                    <img src='/assets/img/info/about-2.jpg' class="img-responsive center-block" />
                </a>
                <a href="https://youtu.be/TT6VndrijlU" target="_blank" class="col-sm-4 reveal">
                    <h4>
                        2014<br /><span>Aftermovie</span>
                    </h4>
                    <img src='/assets/img/info/about-3.jpg' class="img-responsive center-block" />
                </a>
            </div>
        </div>
    </div>
</div>