<div class="page-container page-container__bg-dark accommodation-page">
    <div class="banner">
        <h1>Accommodation</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-sm-offset-0 text-center center-block no-float">
                <h2>
                    Get to live the full festival experience by residing in the EC village for 5 Days, together with 10.000
                    festival lovers.
                </h2>
                <p>
                    Choose one of our amazing add-ons, to spice up you camping experience, or choose to live in your tent,
                    in one of our camping neighbourhoods.
                </p>
                <p>
                    Either way, you'll have access to premium showers and toilets, the camping shop (where you can buy food,
                    fruits, and necessities), the Grill Area (where you can cook one of the juicy, ready-to-be-grilled meats)
                    and to the Silent Dance Stage.
                </p>
            </div>
        </div>
    </div>
    <hr class="dark margin-top-30" />
    <div class="container">
        <div class="row item">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <h4>Pre-pitched tent</h4>
                <p>
                    The perfect place to crash for a couple of sleep-party-repeat-ers when your batteries need a bit of recharging.
                </p>
                <p>
                    <img src="/assets/img/camping/tent5.jpg" class="img-responsive" />
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <ul>
                   <li>2 persons/tent</li>
                   <li>Pre-pitched and waiting for your arrival</li>
                   <li>2 sleeping mats</li>
                   <li>2 blankets included</li>
                   <li>Bring your own sleeping bags</li>
                </ul>
                <p>
                    <a href="/tickets#accommodation" class="call-to-action call-to-action-lg">
                        Get accommodation
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr class="dark margin-top-30" />
    <div class="container">
        <div class="row item">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <h4>Dream tent</h4>
                <p>
                    Your little "home away from home" at Electric Castle.
                    Good to go for up to 4 people, it even has light and a small nightstand, if you must finish the
                    book you're reading.
                </p>
                <p>
                    <img src="/assets/img/camping/yurta7.jpg" class="img-responsive" />
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <ul>
                    <li>4 persons/tent</li>
                    <li>Sleeping mattress</li>
                    <li>Sleeping sheets</li>
                    <li>Rugs</li>
                    <li>Light</li>
                    <li>A small nightstand</li>
                </ul>
                <p>
                    <a href="/tickets#accommodation" class="call-to-action call-to-action-lg">
                        Get accommodation
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr class="dark margin-top-30" />
    <div class="container">
        <div class="row item">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <h4>Swedish lodge</h4>
                <p>
                    Little boxes, on the hillside. It's like a wooden house met a tent and they had a giant baby.
                    That comfortably fits 4.
                </p>
                <p>
                    <img src="/assets/img/camping/lodge4.jpg" class="img-responsive" />
                </p>
                <img src="/assets/img/tickets/sold-out.png" width="100" class="sold-out" />
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <ul>
                    <li>4 persons/logde</li>
                    <li>4 beds with sleeping mattresses</li>
                    <li>bring your own sleeping sheets and pillows</li>
                </ul>
                <p>
                    <a href="/tickets#accommodation" class="call-to-action call-to-action-lg">
                        Get accommodation
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr class="dark margin-top-30" />
    <div class="container">
        <div class="row item">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <h4>Panorama tent</h4>
                <p>
                    If you're into tents with a view, we have just the thing for you. You'll even have your own little
                    porch to hang out on. Good for 4.
                </p>
                <p>
                    <img src="/assets/img/camping/panorama1.jpg" class="img-responsive" />
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <ul>
                    <li>4 persons/tent</li>
                    <li>Raised off the ground</li>
                    <li>Comfortable living space with an outdoor seating area</li>
                    <li>4 beds with sleeping mattresses</li>
                    <li>Bring your own sleeping sheets and pillows</li>
                </ul>
                <p>
                    <a href="/tickets#accommodation" class="call-to-action call-to-action-lg">
                        Get accommodation
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>