<div class="page-container page-container__bg castle-page">
    <div class="banner">
        <h1>
            Banffy Castle, Cluj
            <span>The most amazing festival location</span>
        </h1>
    </div>
    <div class="container">
        <div class="columns-3">
            <p>
                Although it is probable that a mansion stood on the estate in the 14th and 15th Centuries, written
                evidence has been found dating only from the beginning of the 16th century.
            </p>
            <p>
                According to a military report from 1680, fortifications had been built around the mansion, comprising
                of squared Renaissance ramparts with cylindrical corner towers. Dénes Bánffy (1638-1674), Lord Lieutenant
                of the counties of Dabâca and Cluj, brother-in-law of Prince Mihály Apafi, had the potential and the
                power to create such a large and imposing Renaissance castle. Count Dénes Bánffy (II) inherited the
                estate in 1735 at the age of 12. He spent his youth in Vienna and returned home as Master of the Horse
                to Maria Theresa. He began the Baroque reconstruction of the castle in 1747. The first stage of Dénes
                Bánffy’s reconstruction addressed the Court d’honneur. This was built between 1745 and 1751 on the area
                in front of the gatehouse. The new buildings containing a riding hall, stables, coach house and dwelling
                houses for servants were based on the style of the works related to the Viennese experience of the owner.
            </p>
            <p>
                József Bánffy, ordered the demolition of the gatehouse of the Renaissance castle around 1820, and
                combined the Baroque and Renaissance courtyards. Stones of the gatehouse were used to build the
                mill beside the castle.
            </p>
            <p>
                The last owner of the castle was Miklós Bánffy, his daughter Katalin Bánffy is the apparent heir, now
                living in Morocco. The consequences of the nationalization and the inadequate use of the buildings, as
                well as the lack of maintenance accelerated their degradation.
            </p>
            <p>
                In the 1960's the National Direction for Monument Conservation consolidated the main building. The
                funding of the restoration works was stopped after a short time. Its precarious condition has been
                officially recognized as it appears on the World Monuments Watch’s list of One Hundred Most Endangered
                Sites for 2000. The size, architectural and historic value, and degree of degradation of the castle make
                its restoration and use a complex task, which will only succeed with a proper long-term strategy and
                international co-operation.
            </p>
            <p>
                The Romanian-Hungarian Covenant between the Ministry of Culture, Romania and the Ministry for National
                Cultural Heritage, Hungary signed in 1999 enabled funds to be directed towards the conservation of the castle.
            </p>
            <p>
                Through the presence of the Transylvania Trust and the Institute of Historic Building Conservation, who
                are the organizers of the <a href="http://www.heritagetraining-banffycastle.org/" target="_blank">
                International Built Heritage Conservation Training Centre</a> set up within the Castle, the high quality
                restoration and long term protection can be ensured.
            </p>
            <p>
                In the longer term the ensemble will incorporate commercial units as well, such as restaurant, gift shop,
                café, hotel, and will also include conference facilities. The castle consists from: main building, Miklós
                building, former kitchen block, stables, gate building and the mill. The restoration of the castle depends
                on financial support.
            </p>
            <p>
                Also Electric Castle Festival is supporting the restoration process by donating an amount of the money earned from the tickets sale.
            </p>
            <p class="margin-top-20">
                <a href="https://www.youtube.com/watch?v=tbD66lBGuXM" target="_blank"
               class="button button--small button--has-border button--has-border--dark button--dark center-block">
                <span class="glyphicon glyphicon-play"></span>
                    Play Video
                </a>
            </p>
        </div>

        <div class="row clearfix margin-top-30" light-gallery scroll-reveal>
            <a href="/assets/img/castle/2.jpg" class="col-md-3 col-sm-6 item margin-bottom-10 reveal">
                <img src='/assets/img/castle/2.jpg' data-img-src='/assets/img/castle/2.jpg' class="img-responsive" />
            </a>
            <a href="/assets/img/castle/3.jpg" class="col-md-3 col-sm-6 item margin-bottom-10 reveal">
                <img src='/assets/img/castle/3.jpg' data-img-src='/assets/img/castle/3.jpg' class="img-responsive" />
            </a>
            <a href="/assets/img/castle/4.jpg" class="col-md-3 col-sm-6 item margin-bottom-10 reveal">
                <img src='/assets/img/castle/4.jpg' data-img-src='/assets/img/castle/4.jpg' class="img-responsive" />
            </a>
            <a href="/assets/img/castle/5.jpg" class="col-md-3 col-sm-6 item margin-bottom-10 reveal">
                <img src='/assets/img/castle/5.jpg' data-img-src='/assets/img/castle/5.jpg' class="img-responsive" />
            </a>
        </div>
    </div>
</div>
