<div class="ec-tab">
    <div class="col-md-10 col-md-offset-1 padding-top-20 padding-bottom-30">
        <p>
            Join us in expressing the collective responsibility to the larger whole at Electric Castle 2016.
            Together with <strong><a href="http://mainoi.ro/" class="hvr-overline-from-left" target="_blank">MAINOI</a></strong>,
            we are ECO-Challenging you this year to create a sustainable music experience. Let's play!
        </p>

        <img class="img-responsive margin-bottom-30 margin-top-10" src="/assets/img/eco-game.png" />

        <p>
            Be part of something special:
        </p>
        <ul>
            <li>
                Play the ECO Game contest with 5 ECO-action categories: waste, transportation, energy, water, social. We will
                reward you with cool prizes each day and, the most eco-friendly of you, with special goodies at the end of the festival.
            </li>
            <li>
                Come to our ECO spot in the festival area, open daily from 12:00 to 4:00, to compete with other participants and
                artists on the dynamo-bicycles in the “Battles Pedal” and charge your phones using the energy produced by your own
                self, through pedaling.
            </li>
            <li>
                Have a cinematic experience at our ECO Cinema, welcoming you in the cosy lounge, by day, where you can chill
                and ponder on the relevance of elephants &amp; at the cinema, by night, where you can watch environmentalist videos,
                documentaries and movies.
            </li>
            <li>
                Be part of or support the Eco Cycling Journey of the ECO-Ambassadors who are riding from Europe and Romania
                towards Electric Castle to advocate for alternative transportation and cycling tourism.
            </li>
            <li>
                Keep an eye on the MUSIC DRIVES CHANGE campaign, where your artists will join you in ECO Challenges for a
                more conscious behaviour towards the environment at the festival and beyond.
            </li>
        </ul>

        <p>
            Join Nature's Rhythms!
        </p>
    </div>
</div>
