
    <div class="poster-container text-justify">
        <div class="poster" data-year="2013" ng-click="ic.changeHistoryYear('2013');">
            <img class="" src="/assets/img/history/2013/poster.png" alt="EC 2013" />
        </div>
        <div class="poster" data-year="2014" ng-click="ic.changeHistoryYear('2014');">
            <img class="" src="/assets/img/history/2014/poster.png" alt="EC 2014" />
        </div>
        <div class="poster" data-year="2015" ng-click="ic.changeHistoryYear('2015');">
            <img class="" src="/assets/img/history/2015/poster.png" alt="EC 2015" />
        </div>
        <div class="poster" data-year="2016" ng-click="ic.changeHistoryYear('2016');">
            <img class="" src="/assets/img/history/2016/poster.png" alt="EC 2016" />
        </div>
        <div class="poster" data-year="2017" ng-click="ic.changeHistoryYear('2017');">
            <img class="" src="/assets/img/history/2017/poster.png" alt="EC 2017" />
        </div>
    </div>

    <div class="light-gallery-container">
        <div class="image-container clearfix" light-gallery ng-show="ic.historyYear == 2013">
            <a href="/assets/img/history/2013/gallery/gallery-1.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-1.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-1.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-2.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-2.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-2.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-2.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-3.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-3.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-4.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-4.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-4.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-5.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-5.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-5.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-6.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-6.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-6.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-7.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-7.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-7.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-8.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-8.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-8.jpg' />
            </a>
            <a href="/assets/img/history/2013/gallery/gallery-14.jpg" class="item">
                <img src='/assets/img/history/2013/thumbs/thumb-15.jpg' data-img-src='/assets/img/history/2013/gallery/gallery-15.jpg' />
            </a>
        </div>

        <div class="image-container clearfix" light-gallery ng-show="ic.historyYear == 2014">
            <a href="/assets/img/history/2014/gallery/gallery-1.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-1.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-1.jpg' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-2.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-2.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-2.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/TT6VndrijlU" class="item">
                <img src='/assets/img/history/2014/thumbs/video-1.jpg' data-img-src='https://www.youtube.com/embed/TT6VndrijlU' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-5.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-5.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-5.jpg' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-6.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-6.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-6.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/qmR9mJ3NeNg" class="item">
                <img src='/assets/img/history/2014/thumbs/video-2.jpg' data-img-src='https://www.youtube.com/embed/qmR9mJ3NeNg' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-11.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-11.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-11.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/UMuJTuc9Kr8" class="item">
                <img src='/assets/img/history/2014/thumbs/video-3.jpg' data-img-src='https://www.youtube.com/embed/UMuJTuc9Kr8' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-19.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-19.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-19.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/0ktnfH4rb2s" class="item">
                <img src='/assets/img/history/2014/thumbs/video-4.jpg' data-img-src='https://www.youtube.com/embed/0ktnfH4rb2s' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-62.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-62.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-62.jpg' />
            </a>
            <a href="/assets/img/history/2014/gallery/gallery-64.jpg" class="item">
                <img src='/assets/img/history/2014/thumbs/thumb-64.jpg' data-img-src='/assets/img/history/2014/gallery/gallery-64.jpg' />
            </a>
        </div>

        <div class="image-container clearfix" light-gallery ng-show="ic.historyYear == 2015">
            <a href="https://www.youtube.com/embed/PSpKIj5lFyI" class="item">
                <img src='/assets/img/history/2015/thumbs/video-1.jpg' data-img-src='https://www.youtube.com/embed/PSpKIj5lFyI' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-1.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-1.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-1.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-6.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-6.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-6.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-7.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-7.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-7.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-8.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-8.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-8.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-9.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-9.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-9.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/57lQVzL2ndQ" class="item">
                <img src='/assets/img/history/2015/thumbs/video-2.jpg' data-img-src='https://www.youtube.com/embed/57lQVzL2ndQ' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-10.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-10.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-10.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-11.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-11.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-11.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-12.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-12.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-12.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-13.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-13.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-13.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-14.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-14.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-14.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-15.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-15.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-15.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-16.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-16.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-16.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-17.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-17.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-17.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-18.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-18.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-18.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-19.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-19.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-19.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/wwLcIj18mQQ" class="item">
                <img src='/assets/img/history/2015/thumbs/video-3.jpg' data-img-src='https://www.youtube.com/embed/wwLcIj18mQQ' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-20.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-20.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-20.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-22.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-22.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-22.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-23.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-23.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-23.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-24.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-24.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-24.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-26.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-26.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-26.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/Q1Oc1D3C34Y" class="item">
                <img src='/assets/img/history/2015/thumbs/video-4.jpg' data-img-src='https://www.youtube.com/embed/Q1Oc1D3C34Y' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-29.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-29.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-29.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-40.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-40.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-40.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-59.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-59.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-59.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-63.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-63.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-63.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-64.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-64.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-64.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-85.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-85.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-85.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-90.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-90.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-90.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-98.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-98.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-98.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-99.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-99.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-99.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-100.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-100.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-100.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-101.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-101.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-101.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-106.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-106.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-106.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-109.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-109.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-109.jpg' />
            </a>
            <a href="https://www.youtube.com/embed/iDKerHF0T18" class="item">
                <img src='/assets/img/history/2015/thumbs/video-5.jpg' data-img-src='https://www.youtube.com/embed/iDKerHF0T18' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-110.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-110.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-110.jpg' />
            </a>
            <a href="/assets/img/history/2015/gallery/gallery-111.jpg" class="item">
                <img src='/assets/img/history/2015/thumbs/thumb-111.jpg' data-img-src='/assets/img/history/2015/gallery/gallery-111.jpg' />
            </a>
        </div>

        <div class="image-container clearfix" light-gallery ng-show="ic.historyYear == 2016">
            <a href="/assets/img/history/2016/gallery/gallery-1.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-1.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-1.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-2.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-2.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-2.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-3.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-3.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-3.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-4.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-4.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-4.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-5.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-5.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-5.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-6.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-6.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-6.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-7.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-7.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-7.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-8.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-8.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-8.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-9.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-9.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-9.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-10.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-10.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-10.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-11.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-11.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-11.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-12.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-12.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-12.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-13.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-13.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-13.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-14.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-14.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-14.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-15.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-15.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-15.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-16.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-16.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-16.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-17.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-17.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-17.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-18.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-18.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-18.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-19.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-19.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-19.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-20.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-20.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-20.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-21.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-21.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-21.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-22.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-22.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-22.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-23.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-23.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-23.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-24.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-24.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-24.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-25.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-25.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-25.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-26.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-26.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-26.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-27.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-27.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-27.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-28.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-28.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-28.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-29.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-29.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-29.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-30.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-30.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-30.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-31.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-31.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-31.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-32.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-32.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-32.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-33.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-33.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-33.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-34.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-34.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-34.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-35.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-35.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-35.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-36.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-36.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-36.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-37.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-37.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-37.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-38.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-38.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-38.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-39.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-39.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-39.jpg' />
            </a>
            <a href="/assets/img/history/2016/gallery/gallery-41.jpg" class="item">
                <img src='/assets/img/history/2016/thumbs/thumb-41.jpg' data-img-src='/assets/img/history/2016/gallery/gallery-41.jpg' />
            </a>
        </div>

        <div class="image-container clearfix" light-gallery ng-show="ic.historyYear == 2017">
            <a href="/assets/img/history/2017/gallery/gallery-1.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-1.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-1.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-2.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-2.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-2.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-3.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-3.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-3.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-4.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-4.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-4.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-5.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-5.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-5.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-6.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-6.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-6.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-7.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-7.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-7.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-8.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-8.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-8.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-9.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-9.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-9.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-10.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-10.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-10.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-11.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-11.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-11.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-12.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-12.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-12.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-13.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-13.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-13.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-14.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-14.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-14.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-15.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-15.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-15.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-16.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-16.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-16.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-17.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-17.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-17.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-18.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-18.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-18.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-19.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-19.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-19.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-20.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-20.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-20.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-21.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-21.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-21.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-22.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-22.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-22.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-23.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-23.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-23.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-24.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-24.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-24.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-25.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-25.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-25.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-26.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-26.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-26.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-27.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-27.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-27.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-28.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-28.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-28.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-29.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-29.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-29.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-30.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-30.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-30.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-31.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-31.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-31.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-32.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-32.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-32.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-33.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-33.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-33.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-34.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-34.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-34.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-35.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-35.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-35.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-36.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-36.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-36.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-37.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-37.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-37.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-38.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-38.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-38.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-39.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-39.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-39.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-41.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-41.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-41.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-42.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-42.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-42.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-43.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-43.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-43.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-44.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-44.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-44.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-45.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-45.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-45.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-46.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-46.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-46.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-47.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-47.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-47.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-48.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-48.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-48.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-49.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-49.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-49.jpg' />
            </a>
            <a href="/assets/img/history/2017/gallery/gallery-50.jpg" class="item">
                <img src='/assets/img/history/2017/thumbs/thumb-50.jpg' data-img-src='/assets/img/history/2017/gallery/gallery-50.jpg' />
            </a>
        </div>
    </div>
<hr />
