<div class="page-container page-container__bg">
<div class="container">
    <h1>Lost &amp; Found Stuff</h1>

    <div class="content">
        <p class="margin-bottom-20">
            If you lost one of the following items, please write at <a href="mailto:contact@electriccastle.ro">contact@electriccastle.ro</a> and we'll let you know how to get it back.
            We will keep the items until August 5 2017.
        </p>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr><th>#</th><th>Type</th><th>Name</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Phone</td>
                    <td>iPhone 5</td>
                    <td>black, case with piano and EC stickers</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Phone</td>
                    <td>Samsung</td>
                    <td>white</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Phone</td>
                    <td>Huawei</td>
                    <td>black leather case</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Wallet</td>
                    <td>Nacu Andreea</td>
                    <td>flower pattern</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Wallet</td>
                    <td>Moldovan Catalin-Gheorghe</td>
                    <td>black leather</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Wallet</td>
                    <td>-</td>
                    <td>small, black leather, with Grand Hotel Napoca card and keys</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Wallet/Case</td>
                    <td>-</td>
                    <td>pink</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Wallet/Case</td>
                    <td>-</td>
                    <td>black, small, with Sony headphones inside</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Wallet/Case</td>
                    <td>-</td>
                    <td>beige with zipper</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Keys</td>
                    <td>-</td>
                    <td>car keys (2 sets)</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Keys</td>
                    <td>-</td>
                    <td>house and other (11 sets) </td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Power Banks</td>
                    <td>-</td>
                    <td>7 pieces</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Wallet</td>
                    <td>Imparatel Adrian</td>
                    <td>dollar sign pattern</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>ID</td>
                    <td>Stanean Doris-Cristina</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>ID</td>
                    <td>Kukla Robert-Alex</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>ID</td>
                    <td>Hanu Cristi-Constantin</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>Driver licence</td>
                    <td>Sarah Jane</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>Bank Card</td>
                    <td>Modiga Cristian</td>
                    <td>BRD MasterCard</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Bank Card</td>
                    <td>Alexandra Sauca</td>
                    <td>BT Visa Electron</td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>Bank Card</td>
                    <td>Bianca Troncea</td>
                    <td>ING Visa</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Bank Card</td>
                    <td>Gabor Ioana Viorica</td>
                    <td>ING Visa Electron</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Bank Card</td>
                    <td>Pop Endre Silviu</td>
                    <td>BRD Visa</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Bank Card</td>
                    <td>Otto Vasile Szilagyi</td>
                    <td>BT Visa Electron</td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>Bank Card</td>
                    <td>Zidaru Mihaela</td>
                    <td>Intesa Sanpaolo Bank Visa</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Bank Card</td>
                    <td>Paul Muresan</td>
                    <td>BT Visa Electron</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Bank Card</td>
                    <td>Parauan Laurentiu</td>
                    <td>BRD Visa</td>
                </tr>
                <tr>
                    <td>26.</td>
                    <td>Bank Card</td>
                    <td>Bingert Luiza</td>
                    <td>BRD Visa</td>
                </tr>
                <tr>
                    <td>27.</td>
                    <td>Bank Card</td>
                    <td>Razvan Rus</td>
                    <td>BT Visa Electron</td>
                </tr>
                <tr>
                    <td>28.</td>
                    <td>Bank Card</td>
                    <td>Lavinia Iulia Lasca</td>
                    <td>ING Visa Electron</td>
                </tr>
                <tr>
                    <td>29.</td>
                    <td>Bank Card</td>
                    <td>Iulia Ioana Donea</td>
                    <td>Auchan MasterCard</td>
                </tr>
                <tr>
                    <td>30.</td>
                    <td>Card</td>
                    <td>Rida Elbouchikhi</td>
                    <td>BCU</td>
                </tr>
                <tr>
                    <td>31.</td>
                    <td>Card</td>
                    <td>Alghisi Alessandro</td>
                    <td>Ticket Restaurant</td>
                </tr>
                <tr>
                    <td>32.</td>
                    <td>Card</td>
                    <td>-</td>
                    <td>swim pass UBB </td>
                </tr>
                <tr>
                    <td>33.</td>
                    <td>Sunglasses</td>
                    <td>-</td>
                    <td>11 pieces</td>
                </tr>
                <tr>
                    <td>34.</td>
                    <td>Sunglasses + case</td>
                    <td>-</td>
                    <td>1 piece</td>
                </tr>
                <tr>
                    <td>35.</td>
                    <td>Glasses + case</td>
                    <td>-</td>
                    <td>1 piece</td>
                </tr>
                <tr>
                    <td>36.</td>
                    <td>Clothes</td>
                    <td>-</td>
                    <td>yellow raincoat</td>
                </tr>
                <tr>
                    <td>37.</td>
                    <td>Clothes</td>
                    <td>-</td>
                    <td>black leather jacket (boys)</td>
                </tr>
                <tr>
                    <td>38.</td>
                    <td>Clothes</td>
                    <td>-</td>
                    <td>black leather jacket (girls)</td>
                </tr>
                <tr>
                    <td>39.</td>
                    <td>Clothes</td>
                    <td>-</td>
                    <td>purple hat</td>
                </tr>
                <tr>
                    <td>40.</td>
                    <td>Clothes</td>
                    <td>-</td>
                    <td>grey scarf</td>
                </tr>
                <tr>
                    <td>41.</td>
                    <td>Other</td>
                    <td>-</td>
                    <td>bracelet, earring, lipstick (2 pieces)</td>
                </tr>
                <tr>
                    <td>42.</td>
                    <td>Other</td>
                    <td>-</td>
                    <td>makeup case</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>