<div class="page-container page-container__bg-dark packages-page" packages-gallery="pc.getProducts()">
    <div class="banner">
        <h1>Travel Packages</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-sm-offset-0 text-center center-block no-float">
                <h2>
                    Experience Electric Castle, in full comfort.
                </h2>
                <p>
                    Choose one of our specially curated travel packages to enhance your stay.
                </p>
            </div>
        </div>
    </div>

    <div ng-repeat="package in pc.getProducts()">
        <hr class="dark" />
        <div class="container">
            <div class="row item" ng-class="{'item-sold-out': package.isSoldout}">
                <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                    <div class="slider is-loading">
                        <div class="slider__item" ng-repeat="image in package.images | orderBy : 'position'"
                             ng-class="{'higher-z-index': $first}"
                             itemprop="image" content="{{::image.url}}">
                            <img ng-src="{{::image.url}}" alt="{{::package.name}}" />
                            <div class="no-display">
                                <img class="high-resolution" ng-src="{{::image.url}}" alt="{{::package.name}}" />
                            </div>
                        </div>
                    </div>
                    <img ng-if="package.isSoldout" src="/assets/img/tickets/sold-out.png" width="100" class="sold-out" />
                </div>
                <div class="col-md-5 col-sm-6 flex flex-direction-column">
                    <h4>{{::package.name}}</h4>

                    <div bind-html-compile="package.shortDescription"></div>
                    <h3 class="price">{{::package.price}} Ron / {{::package.priceEur}} Eur</h3>

                    <a class="call-to-action call-to-action-lg margin-0" ng-click="pc.addToBasket(package);"
                       ng-if="!package.isSoldout">
                        Add to cart
                    </a>
                    <a class="call-to-action call-to-action-lg margin-0" disabled="disabled"
                       ng-if="package.isSoldout">
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>