<div class="page-container page-container__bg-dark premium-page" scroll-reveal>
    <div class="banner">
        <h1>Premium Access</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <p>
                    Enhance your EC experience with the Premium Pass!
                </p>
                <p>
                    You’ll have access to the Private Premium Area where you can try fine dining dishes and award winning
                    cocktails, have a better view of the main stage and enjoy one of the exclusive parties.
                </p>
            </div>
            <div class="col-md-5 col-sm-6">
                <p>Premium Pass Benefits</p>
                <ul>
                    <li>Access to the Premium Area</li>
                    <li>Cocktail Bar</li>
                    <li>Better view of the Main Stage</li>
                    <li>Fine Dining &amp; Premium Food Stall</li>
                    <li>Shaded Lounges</li>
                    <li>Coffee Shop</li>
                    <li>Pool</li>
                    <li>Exclusive Parties</li>
                    <li>Access to a paid Premium Parking</li>
                    <li>Chance to mingle with the headliners and other celebrities</li>
                </ul>

                <p>
                    <a ui-sref="ElectricCastlePublic.Tickets" class="call-to-action call-to-action-lg">
                        Get your premium pass
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr class="dark margin-top-40" />

    <div class="margin-top-60">
        <div class="row clearfix margin-bottom-40">
            <div class="col-sm-12 teaser">
                <div class="col-sm-2 col-sm-offset-1 margin-top-neg-30 reveal">
                    <img src='/assets/img/info/vip-3.jpg' class="img-responsive center-block" />
                </div>
                <div class="col-sm-2 reveal">
                    <img src='/assets/img/info/vip-4.jpg' class="img-responsive center-block" />
                </div>
                <div class="col-sm-2 margin-top-neg-30 reveal">
                    <img src='/assets/img/info/vip-5.jpg' class="img-responsive center-block" />
                </div>
                <div class="col-sm-2 margin-top-40 reveal">
                    <img src='/assets/img/info/vip-1.jpg' class="img-responsive center-block" />
                </div>
                <div class="col-sm-2 reveal">
                    <img src='/assets/img/info/vip-2.jpg' class="img-responsive center-block" />
                </div>
            </div>
        </div>
    </div>
</div>