<div class="page-container page-container__bg">
<div class="container text-justify terms">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 padding-bottom-40">
            <h1>Terms &amp; Conditions</h1>

            <h3>Overview</h3>
            <p>
                Welcome to the website or mobile application of Electric Castle Festival.
                This website or mobile application is owned and operated by SC Festival Tickets Management SRL,
                CUI: RO35190617, J12/3329/02.11.2015 (the 'Company', 'us', 'our', or 'we').
            </p>
            <p>
                These Terms and Conditions set forth the terms and conditions under which you are authorized to use one
                of our websites, including any website where these Terms and Conditions are posted, and any sub-domains and mobile
                versions (collectively, the 'Site'), use one of our mobile applications (the 'Mobile App'), or interact
                with our other on-site or web-enabled technologies, such as on premise WiFi. We may refer to the Mobile App,
                Site, and these related web-enabled technologies collectively as our 'Digital Services'.
            </p>
            <p>
                <strong>Through your use of our Digital Services, you consent to the practices described in these Terms and Conditions.</strong>
            </p>

            <p>
                To the extent additional rules or guidelines affect your use of our Digital Services, those rules and guidelines
                (including our <a ui-sref="ElectricCastlePublic.PrivacyPolicy" target="_blank">Privacy Policy</a>) are hereby incorporated by
                reference into these Terms and Conditions.
                By using any of our Digital Services, you agree to these Terms and Conditions. If you do not agree to these Terms and Conditions,
                you should immediately stop using our Digital Services.
            </p>
            <p>
                As a condition of your right to use our Digital Services, you represent that you are of legal age to enter
                into a binding contract and that you are not a person barred from accessing the Digital Services under the
                laws of Romania or any other country.
            </p>

            <h3>Description of service</h3>
            <p>
                Our Digital Services primarily provide information about our festival and other content
                we think would be of interest to you, sell tickets and merchandise. To the extent new services, content
                or features are added to our Digital Services in the future, your use thereof is subject to these Terms
                and Conditions.
            </p>

            <h3>Modifications and interruption to the Digital Services </h3>
            <p>
                We reserve the right to modify or discontinue all or any portion of our Digital Services with or without
                notice to you. We will not be liable if we choose to exercise this right. You acknowledge and accept that
                we do not guarantee continuous, uninterrupted or secure access to our Digital Services, or that operation
                of our Digital Services will be uninterrupted or error free. You understand that usage of our Digital
                Services may be interfered with or adversely affected by numerous factors or circumstances outside
                of our control.
            </p>

            <h3>Tickets and merchandise</h3>

            <h4>1. General</h4>
            <p>
                All orders placed by our customers via electriccastle.ro, as well as our deliveries and services are exclusively
                subject to the general terms and conditions listed forwards, in the version that is valid at the time of the order.
                We do not accept conflicting terms and conditions of the customer unless we have agreed to their validity in writing.
            </p>

            <h4>2. Important notes</h4>
            <p>
                The merchandise offered under electriccastle.ro is presented on the website in the format of digital photographs.
                Minor divergences of the photographs from reality may occur, but they won't be considered a defect of the ordered merchandise.
            </p>
            <p>
                The tickets sold on the website are in digital format (downloadable products or 'print at home') and they
                will not be shipped.
            </p>

            <h4>2. Conclusion of contract</h4>
            <p>
                The contract between you and electriccastle.ro is valid once you order the merchandise and/or tickets.
                By sending the order form provided on our website to us you make a binding offer to enter into the contract.
                You finalize the order by entering all information during the order process and sending the order form
                to us by clicking on the 'checkout' button.
            </p>
            <p>
                We are entitled to reject orders without indicating any reasons, in particular if there is well-founded
                suspicion that the merchandise purchased via the internet is to be sold to third parties commercially.
            </p>

            <h4>3. Payment method</h4>
            <p>
                We don't process directly your payment. All payments are made trough our partner, euplatesc.ro. They accept
                all VISA, VISA Electron, MasterCard and Maestro credit/debit cards.
            </p>

            <h4>4. Delivery and shipping</h4>
            <p>
                We ship your order with <a href="http://www.fancourier.ro/" target="_blank">Fan Courier</a>, for now only in Romania.
                You will be able to track your order <a href="http://www.fancourier.ro/tools/awb-tracking/">here</a> using the AWB
                number you receive by email once your package is sent. Your order will be shipped form Cluj-Napoca, where the
                Electric Castle office is located and it should reach you in 2 to 5 working days.
            </p>

            <h4>5. Return policy</h4>
            <p>
                We accept returns and exchanges within 30 days of receipt. Returns received outside
                the above time frame are not to be accepted.
            </p>
            <p>
                We will only accept returns on non-faulty items that are in their original condition, have not been worn,
                altered or washed, with all tags attached and in its original packaging. Upon receipt of any order without
                tags please notify us immediately if you wish to return the item. We strongly advise all customers to check
                garments thoroughly upon delivery before removing any attached tags and before disposing of any original packaging.
            </p>
            <p>
                Please note that we can only exchange an item for the same item in a different size. Exchanged items can only be
                dispatched after the returned goods have been received and undergone a quality control check.
                Please note that the customer is allowed to exchange an item for a different size only once. The customer
                is responsible for additional shipping costs.
            </p>
            <p>
                The merchandise must be returned in one mailing. We reserve the right to refuse multiple returns at
                different times from one order.
            </p>

            <h3>Privacy policy</h3>
            <p>
                We commit not to transmit the user's personal data to third parties and to use them only for establishing
                contact with our customers and informing them about certain aspects related to the functions of our
                Digital Services and our offers.
            </p>

            <p>
                We will retain the personal data and will use them with the purpose of informing the users of their account
                on our Digital Services, the status and evolution of their orders and also for evaluating the goods
                and services offered.
            </p>

            <p>
                For more information please read the full <a ui-sref="ElectricCastlePublic.PrivacyPolicy" target="_blank">Privacy Policy</a>.
            </p>

            <h3>Restricted activities</h3>
            <p>
                You may not engage in any of the following with regard to the Digital Services (including without
                limitation posting or transmitting content through the Digital Services), and you agree not to use the
                Digital Services to:
            </p>
            <ul>
                <li>violate or encourage the violation of any local, state, national, or international law or regulation;</li>
                <li>collect or store personal data about other users of our Digital Services or solicit personal
                    information from any individual;</li>
                <li>impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity;</li>
                <li>infringe any patent, trademark, trade secret, copyright, right of publicity or privacy, or other right
                    of any party, or distribute any content you do not have a right to make available under any law or under
                    contractual or fiduciary relationships;</li>
                <li>disrupt or interfere with the security or use of the Digital Services or any websites or content
                    linked to them;</li>
                <li>attempt to use another user’s account, impersonate another person or entity, misrepresent your
                    affiliation with a person or entity, including (without limitation) Company, our any third party,
                    or create or use a false identity;</li>
                <li>use any meta tags or any other “hidden text” utilizing the Company’s (or any third party partner
                    or sponsor’s) name, trademarks, or product names;</li>
                <li>attempt to reverse engineer or otherwise derive or obtain the code in any form for any software used
                    in the Digital Services;</li>
                <li>engage in any activity that interferes with any third party’s ability to use or enjoy the Digital Services; or</li>
                <li>assist any third party in engaging in any activity prohibited by these Terms and Conditions.</li>
            </ul>
            <p>Further, without our written consent, you may not:</p>
            <ul>
                <li>reproduce, duplicate, copy, sell, resell, or exploit for any commercial purpose any Company content
                    or any use of or access to the Digital Services;</li>
                <li>use any high volume, automated, or electronic means (including, without limitation, robots, spiders,
                    scripts, or other automated devices) to access the Digital Services or monitor or copy our web pages
                    or the content contained thereon;</li>
                <li>deep link to the Digital Services for any purpose; or frame the Digital Services, place pop-up windows
                    over any content, or otherwise affect the display of the Digital Services.</li>
            </ul>

            <h3>Copyright and trademark information</h3>
            <p>
                All content, copyrights and other intellectual property rights in the content available on our Digital Services,
                including without limitation design, text, graphics, interfaces, and the selection and arrangements thereof,
                are owned by Company with all rights reserved. In some cases, such content may be licensed to Company by third parties.
                This content is protected by the intellectual property rights of Company or those owners. All trademarks
                displayed on our Digital Services are the trademarks of their respective owners, and constitute neither an
                endorsement nor a recommendation of such parties. In addition, such use of trademarks or links to the websites
                of third parties is not intended to imply, directly or indirectly, that those third parties endorse or have
                any affiliation with Company.
            </p>

            <h3>Permitted use of mobile application</h3>
            <p>
                Our Mobile App is protected by copyright and may not be sold, redistributed, copied, made available to the
                public, or part of a derivative work created by you without the express written consent of Company.
                You may not attempt to decompile, reverse engineer, disassemble or otherwise modify our Mobile App, or
                in any way compromise the security of data stored or transmitted by our Mobile App.
            </p>

            <h3>Permitted use of the content</h3>
            <p>
                Any use of content on the Digital Services, including without limitation reproduction for purposes other
                than those noted herein, modification, distribution, replication, any form of data extraction or data
                mining, or other commercial exploitation of any kind, without prior written permission of an authorized
                officer of Company, is strictly prohibited. With the exception of search engines, you agree that you will
                not use any robot, spider, or other automatic device, or manual process to monitor or copy our web pages
                or the content contained therein without prior written permission of an authorized officer of Company.
                You may use the content solely for your personal, non-commercial use, except as described herein. You may
                download or print a single copy of any portion of the content solely for your personal, non-commercial use,
                provided you do not remove any trademark, copyright or other notice from such content. You may not make any
                use of content owned by any third parties which is available on the Digital Services, without the express
                consent of those third parties.
            </p>

            <h3>Mobile devices and third-party restrictions</h3>
            <p>
                If you access our Digital Services on mobile devices or in our Mobile App, you understand that your mobile
                carrier’s standard charges will apply. When you download our Mobile App, you will also be subject to any
                terms imposed by the “store” through which you obtain the Mobile App, if any (e.g. the Apple App Store
                or Google Play Store, or others).
            </p>
            <p>
                Any Mobile app installed from the Apple App Store, Google Play Store, or other app “store” must be installed
                on a device you control or own, and must be used in accordance with any applicable terms from the Apple
                App Store or other store.
            </p>

            <h3>Content complaints</h3>
            <p>
                If you believe that any content on our Digital Services violates these Terms and Conditions or is otherwise inappropriate,
                please report the content by sending an email to <strong>contact@electriccastle.ro</strong>.
            </p>

            <h3>Wristband terms of use</h3>
            <p>These wristband terms of use apply to the Electric Castle Festival (the “Event”).</p>
            <p>
                All Event wristbands and vehicle passes (collectively, “Wristbands”) are subject to the following terms of
                use (hereinafter the “Terms”). By accepting possession or by using any Wristbands, User is legally bound
                to comply with these Terms, and the original authorized purchaser and any Authorized Recipient agrees to
                inform all of their respective guests of these Terms with due diligence. The Event producer reserves the
                right, at its discretion, to change, modify, add, or remove portions of these Terms at any time.
                Please check back periodically for changes.
            </p>
            <h4>1. Unauthorized transfers prohibited</h4>
            <p>
                All publicly sold Wristbands are for use by the original authorized purchaser and their invited guest(s)
                only (each an “Authorized Purchaser”), and are not transferable by the Authorized Purchaser, any of their
                invited guests, or any other person. Likewise, all Wristbands provided to performing artists, production
                personnel, vendors, sponsors, and other guests of the Event producer (each an “Authorized Recipient”),
                are for use by the Authorized Recipient and his or her invited guest(s) only, and are not transferable by
                the Authorized Recipient, his or her invited guest(s), or any other person. Authorized Purchasers and Authorized
                Recipients are referred to individually as a “User”. Wristbands obtained from unauthorized sources may
                be counterfeit and are worthless.
            </p>
            <p>
                Except as provided herein, Wristbands may not be sold, transferred, or used for any form of commercial
                or trade purposes, including but not limited to promotions, contests, commercial or advertising purposes,
                sweepstakes, charitable giveaways, or other activities absent the Event producer’s prior written consent.
                Any wristbands used in violation of this provision shall be deemed revoked and void, and their bearers
                deemed trespassers at the Event.
            </p>
            <p>
                Resale or attempted resale of Wristbands is grounds for termination of the license and cancellation
                of the Wristband.
            </p>
            <h4>2. Authorization of User’s image and likeness</h4>
            <p>
                User grants the Event producer (and its designees) the right to include User’s image, likeness, actions,
                and statements in any live or recorded audio, video, film, webcast, stream, or other transmission,
                exhibition, simulcast, or reproduction made of, or at, the Event in any medium or context for any purpose,
                including commercial or promotional purposes, without further authorization or otherwise.
            </p>
            <h4>3. Medical Consent</h4>
            <p>
                User consents to have medical treatment that may be deemed advisable in the event of an injury, accident,
                or illness during the Event and affirmatively releases the Event producer and all persons participating
                in such medical treatment from all responsibility for any such actions.
            </p>
            <h4>4. Consent to search/refusal/ejection</h4>
            <p>
                User and User’s belonging may be searched upon entry into the Event, and User consents to such searches
                and waives any related claims that might arise against the Event producer and its agent. If User elects
                not to consent to such searches, User may be denied entry into the Event.
            </p>
            <h4>5. Other rights / restrictions</h4>
            <p>
                No sponsorship, on site marketing, sampling, vending, coupon/product distribution, or other
                promotional/advertising activity may be conducted at the Event (inclusive of parking lots), absent the
                Event producer’s prior written approval in each instance.
            </p>
            <p>
                The Event producer reserves all rights not expressly granted to User.
                The present Terms and Conditions and those below, also included herein by reference, shall prevail in
                the event of any conflict:<br />
                <a ui-sref="ElectricCastlePublic.RulesAndRegulations" target="_blank">Rules and Regulations</a><br />
                <a ui-sref="ElectricCastlePublic.PrivacyPolicy" target="_blank">Privacy Policy</a>
            </p>

            <h3>Changes to these terms</h3>
            <p>
                We reserve the right, at any time, to modify, alter, or update these Terms and Conditions without prior notice.
                You are encouraged to check this page regularly for changes to the Terms and Conditions. Modifications will become
                effective immediately upon being posted to our Digital Services, without further notice to you. Your continued
                use of any of our Digital Services after such modifications are posted constitutes your acknowledgement and
                acceptance of such modifications, and you may not amend these Terms and Conditions.
            </p>
        </div>
    </div>
</div>
</div>
