<div class="container">
    <div class="col-lg-8 col-md-12 col-lg-offset-2">
        <h1 class="text-center headline">
            Extend your Electric Castle experience and discover the truly amazing country that hosts it - Romania.
        </h1>
    </div>
</div>

<div travel-grid>
    <section class="discover" id="discover-cluj">
        <div class="heading">
            <h2>Discover Cluj-Napoca</h2>
        </div>
        <div class="grid grid-first">
            <div class="grid__sizer"></div>
            <div class="grid__item">
                <img src="/assets/img/travel/museum-square.jpg" class="main" />
                <h5>Museum Square</h5>

                <a href="https://www.google.ro/maps/search/museum+square+cluj/@46.7704451,23.5870963,18z/data=!3m1!4b1" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                    One of Romania’s most visited cities, Cluj-Napoca is the heart of Transylvania and
                    the region’s unofficial capital.
                </p>
            </div>
            <div class="grid__item padding-top-120">
                <p>
                    A student city filled with art, culture and charm, Cluj-Napoca offers a cool urban
                    atmosphere that will guarantee you an amazing time here.
                </p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/churches.jpg" class="main" />
                <h5>The Churches</h5>

                <a href="http://www.gpsmycity.com/tours/churches-walking-tour-in-cluj-napoca-4560.html" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/citadel.jpg" class="main" />
                <h5>The Citadel</h5>

                <a href="https://www.google.ro/maps/search/cetatuie+cluj/@46.7746085,23.5787595,17z/data=!3m1!4b1" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/coffee-shops.jpg" class="main" />
                <h5>The Coffee Shops</h5>

                <a href="http://eatstayloveromania.com/top-3-favourite-coffee-places-cluj-napoca/" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-bottom-120">
                    Arrive a few days before Electric Castle or stay for another week afterwards to soak up the bohemian
                    feeling that will make you want to come back for more.
                </p>
            </div>
            <div class="grid__item">
                <a href="http://69-degrees.co.uk/travel/discover-cluj-transylvaniu/" class="more" target="_blank">
                    <h4>More about the city</h4>
                    <img src="/assets/img/travel/more-icon.png" class="center-block" />
                </a>
            </div>
        </div>
    </section>

    <section class="food" id="grab-tasty-bites">
        <div class="heading">
            <h2>Grab tasty bites</h2>
        </div>
        <div class="grid grid-forth">
            <div class="grid__sizer"></div>
            <div class="grid__item">
                <img src="/assets/img/travel/Restaurant-VIA.jpg" class="main" />
                <h5>Via</h5>

                <a href="https://www.facebook.com/pages/Via/704262789645980" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read More</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                    The memory of an incredible meal will stay with you forever.
                </p>
            </div>
            <div class="grid__item padding-top-120">
                <p>
                    Here are some places that will definitely bring butterflies in your stomach.
                    And some delicious treats as well.
                </p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/rosticeria.jpg" class="main" />
                <h5>Rosticceria D'autore</h5>

                <a href="https://www.facebook.com/Rosticceria-Dautore-1139114079432911/" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Restaurant-Camino.jpg" class="main" />
                <h5>Camino</h5>

                <a href="https://www.facebook.com/CaminoCluj/" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/cabinet.jpg" class="main" />
                <h5>Cabinet de Vin&amp;Cocotte</h5>

                <a href="https://www.facebook.com/pg/Cabinet.de.Vin.Cocotte" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Restaurant-Samsara.jpg" class="main" />
                <h5>Samsara</h5>

                <a href="https://www.facebook.com/samsarafood/?fref=ts" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Restaurant%20-%20Baracca.jpg" class="main" />
                <h5>Baracca</h5>

                <a href="https://www.facebook.com/Baracca-429547250430/?fref=ts" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <a href="https://theculturetrip.com/europe/romania/articles/insider-s-guide-to-eating-out-in-cluj-napoca-10-great-local-restaurants/" class="more" target="_blank">
                    <h4>More restaurants</h4>
                    <img src="/assets/img/travel/more-icon.png" class="center-block" />
                </a>
            </div>
        </div>
    </section>

    <section class="locals" id="mingle-with-locals">
        <div class="heading">
            <h2>Mingle with the locals</h2>
        </div>
        <div class="grid grid-second">
            <div class="grid__sizer"></div>
            <div class="grid__item">
                <img src="/assets/img/travel/Mingle%20-%20Atelier%20Cafe.jpg" class="main" />
                <h5>Atelier Café</h5>

                <a href="https://www.facebook.com/ateliercafecluj/?fref=ts" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                    There’s nothing like the “local experience”. So go ahead and visit these places to make new friends
                    that will take you beyond the “tourist” approach of discovering the city.
                </p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Mingle%20-%20Booha.jpg" class="main" />
                <h5>Booha Bar</h5>

                <a href="https://www.facebook.com/boohabar/?fref=ts" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                </p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Mingle%20-%20Central%20Park.jpg" class="main" />
                <h5>Central Park</h5>

                <a href="https://www.google.ro/maps/place/Parcul+Central+Simion+B%C4%83rnu%C8%9Biu/" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Mingle%20-%20Victor%20Fresh%20To%20Go.png" class="main" />
                <h5>Victor Fresh To Go</h5>

                <a href="https://www.facebook.com/victor.freshtogo/?fref=ts&ref=br_tf" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Mingle%20-%20Midi.jpg" class="main" />
                <h5>Midi</h5>

                <a href="https://www.facebook.com/clubmidi/?fref=ts" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Read more</h4>
                </a>
            </div>
            <div class="grid__item">
                <a href="http://www.clujlife.com/2017/01/17/5-unique-bars-cluj/" class="more" target="_blank">
                    <h4>More places</h4>
                    <img src="/assets/img/travel/more-icon.png" class="center-block" />
                </a>
            </div>
        </div>
    </section>

    <section class="scenery" id="jaw-dropping-scenery">
        <div class="heading">
            <h2>Jaw dropping scenery</h2>
        </div>
        <div class="grid grid-third">
            <div class="grid__sizer"></div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Salina%20Turda.jpg" class="main" />
                <h5>Salina Turda</h5>

                <a href="https://goo.gl/maps/W1Q5XF5hp8M2" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                    The Banffy Castle is the home of Electric Castle and an amazing location.
                    But there are a lot of breathtaking places that you might want to explore before or after the festival.
                </p>
            </div>
            <div class="grid__item padding-top-120">
                <p>
                    Here are some iconic experiences you can add to your itinerary.
                </p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Cheile%20Turzii.jpg" class="main" />
                <h5>Cheile Turzii</h5>

                <a href="https://goo.gl/maps/R5QSXuEQY7B2" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Muntii%20Apuseni.jpg" class="main" />
                <h5>Apuseni – Raven’s Nest, hiking tracks</h5>

                <a href="https://goo.gl/maps/xYGKMETXEpn" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Rimetea%20Coltesti.jpg" class="main" />
                <h5>Rimetea – Coltesti citadel</h5>

                <a href="https://goo.gl/maps/E2SttLTW6MP2" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Mocanita%20Steam%20Train.jpg" class="main" />
                <h5>Maramures – Ride the "Mocanita" steam train through the hills and mountains</h5>

                <a href="https://goo.gl/maps/YZEvL6Q8dX12" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Sighisoara.jpg" class="main" />
                <h5>Sighisoara</h5>

                <a href="https://goo.gl/maps/Kp7ScdEr6Un" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Alba%20Iulia%20Citadel.jpg" class="main" />
                <h5>Alba Iulia</h5>

                <a href="https://goo.gl/maps/WmwW1muLGHN2" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20Tarnita%20Party%20On%20The%20Deck.jpg" class="main" />
                <h5>Tarnita – Party on the deck</h5>

                <a href="https://goo.gl/maps/tQwAbbZPyv52" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Scenery%20-%20La%20Stufaris.jpg" class="main" />
                <h5>The Rural Experience – Sic daytrip, la Stufaris</h5>

                <a href="https://goo.gl/maps/QHs1wd5K6kC2" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>See on map</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-50">
                    Arrive a few days before Electric Castle or stay for another week afterwards to soak up the bohemian
                    feeling that will make you want to come back for more.
                </p>
            </div>
        </div>
    </section>

    <section class="stay" id="where-to-stay">
        <div class="heading">
            <h2>Where to stay</h2>
        </div>
        <div class="grid grid-fifth">
            <div class="grid__sizer"></div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Airbnb%201.png" class="main" />
                <h5>Airbnb</h5>

                <a href="https://www.airbnb.com/rooms/16425496?checkin=07%2F10%2F2017&checkout=07%2F17%2F2017&guests=2&adults=2&children=0&infants=0&s=90_hkO9K" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <p class="margin-top-80">
                    Electric Castle offers a variety of <a ui-sref="ElectricCastlePublic.Accommodation" class="lnk">camping options</a>
                    and  <a ui-sref="ElectricCastlePublic.Packages" class="lnk">special travel packages</a> for the duration of the festival.
                </p>
                <p>If you're looking to extend your experience, these are a few trustworthy options.</p>
                <p class="text-center margin-bottom-60">
                    <a ui-sref="ElectricCastlePublic.Tickets" class="center-block std-button std-button--light std-button--wide">Buy Tickets</a>
                </p>
            </div>

            <div class="grid__item">
                <p></p>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Airbnb%202.png" class="main" />
                <h5>Airbnb</h5>

                <a href="https://www.airbnb.com/rooms/16612743?checkin=07%2F10%2F2017&checkout=07%2F17%2F2017&guests=2&adults=2&children=0&infants=0&s=2gPUO8IS" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Airbnb%203.png" class="main" />
                <h5>Airbnb</h5>

                <a href="https://www.airbnb.com/rooms/16108072?checkin=07%2F10%2F2017&checkout=07%2F17%2F2017&guests=2&adults=2&children=0&infants=0&s=SDVnCWN1" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Cluj%20Apartments.jpg" class="main" />
                <h5>Cluj Apartments</h5>

                <a href="http://www.booking.com/hotel/ro/cluj-apartments.en-gb.html?aid=357015;label=gog235jc-hotel-XX-ro-clujNapartments-unspec-ro-com-L%3Aen-O%3AosSx-B%3Achrome-N%3AXX-S%3Abo-U%3AXX;sid=9bc383a94f122b54b216613bc7ee48d9;dist=0&sb_price_type=total&type=total&" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Zen.jpg" class="main" />
                <h5>The Spot Cosy Hostel</h5>

                <a href="http://www.booking.com/hotel/ro/the-spot-cosy-hostel.en-gb.html?aid=357015;label=gog235jc-hotel-XX-ro-theNspotNcosyNhostel-unspec-ro-com-L%3Aen-O%3AosSx-B%3Achrome-N%3AXX-S%3Abo-U%3AXX;sid=9bc383a94f122b54b216613bc7ee48d9;dist=0&group_adults=2&sb_price_type=total&type=total&" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/Stay%20-%20Hostel.jpg" class="main" />
                <h5>Zen Hostel</h5>

                <a href="http://www.booking.com/hotel/ro/zen-hostel-by-pura-vida-cluj-napoca.en-gb.html?aid=318615;label=English_Romania_EN_RO_28510500145-8AWU88J5MT56r3B_b96aAwS112436910625%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg%3Afi%3Atidsa-209354578585%3Alp1011806%3Ali%3Adec%3Adm;sid=9bc383a94f122b54b216613bc7ee48d9;checkin=2017-07-10;checkout=2017-07-17;dest_id=-1156174;dest_type=city;dist=0;group_adults=2;hpos=1;room1=A%2CA;sb_price_type=total;soh=1;soldout=0%2C0;srfid=59221bbc10eda559f5621ef9cb7b61d79547faf6X1;type=total;ucfs=1&" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="grid__item">
                <img src="/assets/img/travel/opera-plaza.jpg" class="main" />
                <h5>Opera Plaza</h5>

                <a href="http://www.booking.com/hotel/ro/opera-plaza.html" class="pin" target="_blank">
                    <img src="/assets/img/travel/pin-icon.png" class="center-block animated" />
                    <h4>Book here</h4>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </section>
</div>