<div class="ec-tab">
    <tabset vertical="true" type="pills" class="faq-tabs">
        <tab>
            <tab-heading>Camping zones</tab-heading>
            <tab-content>
                <h1>Camping zones</h1>
                <p class="lead">Where is the camping situated and what can I find inside?</p>
                <p>
                    This year there is only one camping area, situated in the same place where the Premium Camping was
                    last year, but with much more facilities – premium toilets and showers, free lockers, LIDL shop,
                    grill zone, coffee lounge, laundromat, customer service point. It gives access to different
                    camping add-ons (Pre-pitched tents, Dream Tents, Swedish Lodges and Panorama Tents).
                </p>

                <p class="lead">What are the camping add-ons?</p>
                <p>
                    If you don’t want to bring your tent, you can choose from Pre-pitched tents, Dream Tents, Swedish Lodges and Panorama Tents.
                    <a ui-sref="ElectricCastlePublic.Tickets">Details here</a>.
                </p>

                <p class="lead">How much they cost?</p>
                <p>
                    You can find all the information you need regarding the costs
                    <a ui-sref="ElectricCastlePublic.Tickets">here</a>.
                </p>

                <p class="lead">When will the camping area be open?</p>
                <p>
                    From 12th of July – 14:00 until 17th of July – 14:00, 24 hours a day.
                </p>

                <p class="lead">Can I enter with a car in the camping area?</p>
                <p>No. It is prohibited to enter the camping area or its access point with any vehicle.</p>

                <p class="lead">Will there be security?</p>
                <p>
                    Yes. The entire perimeter of the camp will be supervised by security guards. However,
                    we recommend you not to leave any valuables in your tent.

                </p>

                <p class="lead">Can I bring food?</p>
                <p>
                    Yes, you can.
                </p>

                <p class="lead">Can I make fire?</p>
                <p>
                    No, you can’t
                </p>

                <p class="lead">
                    Can I bring alcohol?
                </p>
                <p>
                    No, you can’t.
                </p>

                <p class="lead">
                    Can I bring pets?
                </p>
                <p>
                    Sorry, but no.
                </p>

                <p class="lead">
                    Can bring an electricity generator?
                </p>
                <p>
                    Electricity generators, stoves and barbecues are prohibited in the camping area.
                </p>
            </tab-content>
        </tab>
        <tab>
            <tab-heading>RV Camping</tab-heading>
            <tab-content>
                <h1>RV Camping</h1>
                <p class="lead">How can I come with my caravan?</p>
                <p>
                    Firstly, you need to buy a ticket from <a ui-sref="ElectricCastlePublic.Tickets">electriccastle.ro/tickets</a>.
                    Each caravan must have an RV ticket.
                </p>

                <p class="lead">Can I park my car in the RV Area?</p>
                <p>No. Only cars with fixed beds can park there.</p>

                <p class="lead">Will I be connected to electricity?</p>
                <p>Yes. Each RV will get 1kw power.</p>

                <p class="lead">Do I have a water source?</p>
                <p>There is a water spot in the RV camping which can be used by the campers in that area.</p>

                <p class="lead">Can I have a side tent/terrace?</p>
                <p>Yes, each RV may have one side tent/terrace.</p>

                <p class="lead">If I have an RV ticket can I enter the camping areas?</p>
                <p>No, to enter the camping, each person must have a General Access+Camping or a Premium Access + Camping.</p>

            </tab-content>
        </tab>
        <tab>
            <tab-heading>Transportation</tab-heading>
            <tab-content>
                <h1>Transportation</h1>
                <p class="lead">Is there a bus from Cluj-Napoca to Bontida?</p>
                <p>
                    Yes, there will be regular buses on the route Cluj-Bontida and Bontida – Cluj leaving from the Horia
                    Demian sports hall parking and Iulius Mall.
                </p>

                <p class="lead">What is the schedule?</p>
                <p>24/7. The buses will leave from 20 to 20 minutes. The last bus to Cluj will leave on Monday, 13:00 PM</p>

                <p class="lead">How can I buy bus tickets?</p>
                <p>At each station, there will be a Ticket Booth where you can buy tickets. You can also pay
                    with your RFID wristband.</p>

                <p class="lead">Can I get there by car?</p>
                <p>Yes, but you can’t enter Bontida without a valid car pass. All cars will be directed to the parking area.</p>

                <p class="lead">Where do I park?</p>
                <p>You can find our parking <a ui-sref="ElectricCastlePublic.Map">here</a>.</p>

                <p class="lead">What’s the price of the parking?</p>
                <p>
                    Each car will have to pay 30 RON/entrance. After you pay, you can leave your car there for the
                    whole festival. If you leave the parking, once you return you will have to pay 30 RON again.
                </p>

                <p class="lead">Can I come by bike?</p>
                <p>Yes, you can, we have a bike parking lot near the festival entrance.</p>

                <p class="lead">Can I come by train?</p>
                <p>Yes, all the trains that pass Bontida will stop there, during the festival.</p>
            </tab-content>
        </tab>
    </tabset>
    <div class="clearfix"></div>
    <hr class="grey" />
    <p class="margin-bottom-100 text-right">Please read the <strong> <a ui-sref="ElectricCastlePublic.TermsAndConditions" target="_blank">terms and conditions</a></strong> and
        <strong><a ui-sref="ElectricCastlePublic.RulesAndRegulations" target="_blank" target="_blank">rules and regulations</a></strong> of the festival.</p>
</div>
