<div class="ec-tab">
    <tabset vertical="true" type="pills" class="faq-tabs">
        <tab>
            <tab-heading>Festival Area</tab-heading>
            <tab-content>
                <h1>Festival Area</h1>
                <p class="lead">Can I film or take photos?</p>
                <p>
                    You have the right to film and photograph in the general access areas. However, you must use the
                    material only for your viewing. Any distribution of the said materials to the public, whether it
                    be for free or for an onerous is prohibited. Also, during some concerts taking photos and filming
                    is prohibited (even in the general access areas) and we will notify all the participants through
                    our mobile app and by posting on our Facebook Event.
                </p>

                <p class="lead">Can I drink alcohol?</p>
                <p>Yes, you can if you are over 18.</p>

                <p class="lead">Can I set a fire?</p>
                <p>
                    Inside the campsite and in the whole area of the event the use of fire by all means (spatial heating
                    fires, the atmosphere or any other method open fire) and flammable materials is strictly forbidden.
                </p>

                <p class="lead">Can I swim in the lake?</p>
                <p>
                    Swimming in the lake located on the festival grounds is prohibited and extremely dangerous.
                </p>

                <p class="lead">Can I enter the Castle?</p>
                <p>
                    Yes, you can, in the zones that are part of general access. Accessing any other zone is prohibited
                    and extremely dangerous.
                </p>

                <p class="lead">What about the Security?</p>
                <p>
                    Across the festival grounds, we provide security through a qualified partner accredited accordingly.
                    During the event, you need to co-operate, within the framework of the legal regulations, with these
                    partners, and to follow their instructions in case of emergency.
                </p>
                <p>
                    In the case of a violent incident or the endangerment of the bodily integrity of others, security
                    staff may decide to evacuate the people involved in the incident from the event’s premises.
                </p>

                <p class="lead">What happens if I lose my ticket?</p>
                <p>
                    If you lose your ticket, we will not be in the position to help you and issue you another one
                    without proper proof of receipt and buy, which is why we want you to take good care of your ticket.
                </p>

                <p class="lead">What can I eat and drink?</p>
                <p>
                    We are very proud of our Food Court. We have it all: raw/vegan, Indian, Mexican, Italian, Romanian,
                    sweets, ice-cream, fine dining, burgers and many other. About the drinks, you can choose from beer,
                    water, juice, long drinks, shots or wine.
                </p>

                <p class="lead">
                    Can I bring cigarettes?
                </p>
                <p>
                    Yes, you can. Being an open outdoor space, Smoking is allowed on the festival grounds.
                    The only exceptions are the indoor spaces of the festival where smoking is strictly forbidden.
                </p>
            </tab-content>
        </tab>
        <tab>
            <tab-heading>Entry</tab-heading>
            <tab-content>
                <h1>Entry</h1>
                <p class="lead">How do I enter the festival?</p>
                <p>
                    Entry is granted only through specially designated areas. Before the entry you need to follow three
                    easy steps:
                </p>
                <ol>
                    <li>
                        Create an account & register your ticket on
                        <a href="https://ec2017.pay.intellifest.com/" target="_blank" class="hvr-overline-from-left">
                            <strong>ec2017.pay.intellifest.com</strong></a>.
                        This one is optional but we strongly advise you to do it.
                    </li>
                    <li>
                        Swap your ticket for a wristband at our entrance stand.
                    </li>
                    <li>
                        Scan your wristband.
                    </li>
                </ol>
                <p>You need to carry identification.</p>

                <p class="lead">Why do I need an account?</p>
                <p>
                    Creating an account and registering your ticket is not mandatory, as we are always very careful to keep you incognito.
                    However, by signing up and linking your wristband, you gain access to cool online features such as being
                    able to top-up in advance and add credit into your account to avoid lines at the event, track your on-site purchases,
                    receive an automatic refund, enter into giveaway contests and more.
                </p>
                <p>
                    ElectricCastle is not responsible for lost or stolen wristbands. However, if you’ve created an account
                    and linked your wristband in advance, we will be able to cancel and reissue you a new wristband at no cost to you.
                    So we recommend you play it safe and register!
                </p>

                <p class="lead">How do I register my ticket?</p>
                <ul>
                    <li>
                        <strong>STEP 1 – Creating Your Account</strong>: Click on the “Register Your TICKET OR WRISTBAND” button to be re-directed
                        to the registration page. Click “Sign Up” to register with your information or use an existing Facebook
                        account to sign up. IF YOU LINK YOUR FACEBOOK ACCOUNT YOU CAN ACCESS ALL SOCIAL FEATURES ON SITE
                        (PHOTOBOOTHS AND OTHER SOCIAL ACTIVATION WILL BE SHARED ON FACEBOOK DIRECTLY UPON ONE TAP OF YOUR WRISTBAND).
                        You will receive an email from Intellipay asking you to confirm your registration by clicking the activation
                        button in the email. Follow the instructions on the website to finish setting up your account.
                    </li>
                    <li>
                        <strong>STEP 2 – Linking Your TICKET	</strong>: Once you’re logged in, click the “Wristbands” Tab at the top menu and select
                        “I have a TICKET”. Enter the serial code under the barcode. Click “Add”.
                    </li>
                    <li>
                        <strong>STEP 3 – Topping Up Your Account</strong>: Click the “Top-up” Tab at the top menu. You will be asked if you want to
                        “Enable Auto-Top-up” (see below for details). You can click “Maybe later” or “Yes, enable”. Enter the amount
                        you wish to top-up, review your order and click “Checkout” when ready. You will be re-directed to the payment
                        site where you can enter your credit card information.
                    </li>
                </ul>
                <p>
                    You will receive confirmation of the transaction on the website, as well as an email receipt sent to
                    your inbox automatically. You will also be able to view the transaction and download the receipt on your account page.
                </p>

                <p class="lead">How can I swap my ticket for a wristband?</p>
                <p>
                    At the festival entrance we will scan the unique code found on your ticket and IF the code is valid,
                    we will redeem it for a wristband. With that wristband you will be able to enter and festival and use
                    it as a payment method on the festival grounds.
                </p>

                <p class="lead">How can I scan my wristband?</p>
                <p>
                    Point your wristband to one of our scanners and you will be allowed to enter the amazing festival
                    ground of Electric Castle.
                </p>

                <p class="lead">Can I take the following with me?</p>
                <p>
                    Entering the festival with the following objects inside the festival grounds is prohibited: drugs,
                    pyrotechnics devices, glass, striking or cutting tools, umbrellas, explosives, toxic and flammable
                    materials or any other objects which can cause harm to others. According to the laws in force,
                    you are prohibited to bring the following objects with you: knives, gas sprays, metal chains
                    longer or any other objects which are unsafe to public security.
                </p>

                <p class="lead">Can I bring food or beverages with me?</p>
                <p>
                    You can’t bring any alcoholic drinks or other liquids on the Festival grounds, excepting a bottle
                    of water/person. You can bring food only within the camping area.
                </p>

                <p class="lead">Access for the physically challenged?</p>
                <p>
                    All the physically challenged persons have free entrance to the festival. The whole area of the
                    festival is wheelchair user accessible. Separate toilets for the physically challenged are available
                    at the festival. At each stage, users of wheelchairs are allowed to enter the area between the stage
                    and barriers.
                </p>

                <p class="lead">Can enter the event ground by car?</p>
                <p>
                    It is prohibited to enter Bontida by car without a valid car pass issued by us in advance.
                    A car has access only in the designated parking areas. We advise you to use the public transport
                    to get to the festival grounds.
                </p>

                <p class="lead">Can I bring pets?</p>
                <p>
                    We love pets, but unfortunately, you can’t bring pets on the festival grounds.
                    The noise levels are too high for them.
                </p>

                <p class="lead">How many times during one festival evening/night can I enter or exit the festival premises?</p>
                <p>
                    You can enter the festival premises as many times as you want, as long as you have the wristband at your hand.
                </p>
            </tab-content>
        </tab>
        <tab>
            <tab-heading>Wristband &amp; Cashless System</tab-heading>
            <tab-content>
                <h1>Wristband &amp; Cashless System</h1>
                <p class="lead">What is “cashless” payment and how does it work?</p>
                <p>
                    Our cashless payment system operates in a similar manner to pre-paid cards. At ELECTRIC CASTLE, we
                    will be using high tech, RFID-enabled wristbands that include an embedded electronic chip in the
                    RFID tag that will act as your key to pay for food, drinks, and merchandise at the event.
                </p>
                <p>
                    You will need to first create your cashless account, link your TICKET information, and load pre-paid
                    credits into your account (refer to the Step-by-Step Instructions).
                </p>
                <p>
                    To make a purchase, tap your wristband on an RFID reader located at each vendor stand to open a
                    transaction. Place your order with the vendor staff. To confirm and close the transaction, you will
                    be required to use the same wristband to tap a second time. The order amount will automatically be
                    deducted from your account.
                </p>

                <p class="lead">Do I need to do anything before the festival?</p>
                <p>
                    Before you arrive at the festival, to save yourself time, please register your TICKET and create your
                    personalized cashless account. Once you’re logged in, you will need to link your TICKET information in
                    order to top-up and add pre-paid credit into your account. Any leftover credit will be refunded to you
                    in accordance to our refund policy. By pre-loading credit into your account online in advance, you
                    can immediately visit the concession and merch stands when you arrive at the festival without having
                    to look for a Top-up Station. You can always load more credit through our festival mobile app or at a
                    physical Top-up Station located throughout the event grounds.
                </p>

                <p class="lead">How do I use the cashless system?</p>
                <p>
                    Your personalized festival wristband will be used as your digital wallet to make purchases at the festival –
                    all with a simple tap of your wristband!  This means you don’t have to worry about walking around the
                    festival with your wallet or fumbling for change; instead, enjoy fast, convenient and secure transactions
                    at all food vendors, bars, and vendors on-site using your high-tech, RFID-enabled wristband.
                </p>

                <p class="lead">Is there any other method of payment?</p>
                <p>Cashless is the only method of payment accepted on-site using RON as the official currency of Electric Castle.</p>

                <p class="lead">How can I add money?</p>
                <p>
                    Register your ticket online and ‘top-up’ by loading money into your cashless account before you arrive –
                    this will save you loads of time at the event, so you can go straight to partying. You can also add more funds
                    to your account at a physical Top-up Station located throughout the event or online through
                    Electric Castle’s app or website. Once your account is topped-up, you’re ready to make purchases on-site
                    by simply tapping your wristband to one of the payment points at the vendor stands. The amount will
                    automatically be deducted from your account – it’s quick and easy!
                </p>

                <p class="lead">What is ‘enable auto top-up’?</p>
                <p>
                    The easiest way to add credit to your account is to “Enable Auto Top-up” when you’re adding credit for
                    the first time. With the “Enable Auto Top-up” feature, your account balance will automatically re-load
                    XX pre-paid credit into your account when your balance drops below XX amount. This way, you never have
                    to worry about running low on credit at the festival and you won’t need to spend any time finding a
                    Top-up Station before making purchases on-site. The pre-paid amount will automatically be charged to
                    your credit card and you will receive an email notification. It’s simple and super convenient!
                </p>
                <p>
                    Feel free to top-up as much as you want or “Enable Auto Top-up” for maximum convenience.
                    All unspent credit will be refunded back to you after the event.
                </p>

                <p class="lead">How can I register my ticket?</p>
                <ul>
                    <li>
                        <strong>STEP 1 – Creating Your Account</strong>: Click on the “Register Your TICKET OR WRISTBAND” button to be re-directed
                        to the registration page. Click “Sign Up” to register with your information or use an existing Facebook
                        account to sign up. IF YOU LINK YOU’RE FACEBOOK ACCOUNT YOU CAN ACCESS ALL SOCIAL FEATURES ON SITE
                        (PHOTOBOOTHS AND OTHER SOCIAL ACTIVATION WILL BE SHARED ON FACEBOOK DIRECTLY UPON ONE TAP OF YOU WRISTBAND).
                        You will receive an email from Intellipay asking you to confirm your registration by clicking the activation
                        button in the email. Follow the instructions on the website to finish setting up your account.
                    </li>
                    <li>
                        <strong>STEP 2 – Linking Your TICKET	</strong>: Once you’re logged in, click the “Wristbands” Tab at the top menu and select
                        “I have a TICKET”. Enter the serial code under the barcode. Click “Add”.
                    </li>
                    <li>
                        <strong>STEP 3 – Topping Up Your Account</strong>: Click the “Top-up” Tab at the top menu. You will be asked if you want to
                        “Enable Auto-Top-up” (see below for details). You can click “Maybe later” or “Yes, enable”. Enter the amount
                        you wish to top-up, review your order and click “Checkout” when ready. You will be re-directed to the payment
                        site where you can enter your credit card information.
                    </li>
                </ul>
                <p>
                    You will receive confirmation of the transaction on the website, as well as an email receipt sent to
                    your inbox automatically. You will also be able to view the transaction and download the receipt on your account page.
                </p>

                <p class="lead">Why should I register my ticket?</p>
                <p>
                    Creating an account and registering your TICKET is not mandatory, as we are always very careful to keep you incognito.
                    However, by signing up and linking your wristband, you gain access to cool online features such as being able to
                    top-up in advance and add credit into your account to avoid lines at the event, track your on-site purchases,
                    receive an automatic refund, enter into giveaway contests and more.
                </p>
                <p>
                    Electric Castle is not responsible for lost or stolen wristbands. However, if you’ve created an account
                    and linked your wristband in advance, we will be able to cancel and reissue you a new wristband at no cost to you.
                    So we recommend you play it safe and register!
                </p>

                <p class="lead">I  have my wristband, but I haven’t a registered a ticket number. What do I do?</p>
                <p>You can still create an account online;  to top-up or add funds to your account online AFTER you get your wristband.</p>
                <p>
                    When you arrive at the event, go to a Ticket Swap location and present your PDF ticket along with a valid photo I.D.
                    A staff member will scan your ticket number barcode and issue you an RFID wristband. From there, enter the festival and
                    visit a physical Top-up Station located throughout the event grounds to add funds into your account. If you wish to
                    top-up online you need to create an account, register your wristband and then manage your balance online.
                </p>

                <p class="lead">I bought multiple tickets/wristbands, do I need to create multiple accounts?</p>
                <p>
                    Register a new account for each 4 Days General Access wristband if you want to keep your spending separate.
                    Assign a wristband to each of your festival buddies and have them each create a new account.
                </p>
                <p>
                    FYI – If you add two or more wristbands into the same account, this is called a "Shared Family Account",
                    and all linked wristbands will be able to make purchases using the same pool of funds in the account.
                    You will NOT be able to separate or specify spending amounts for each wristband.
                </p>

                <p class="lead">How do I add credits to my account at the festival?</p>
                <p>
                    You can top-up at one of the on-site Top-Up Stations located throughout the event grounds. However,
                    vendor stands will not be able to top-up for you, so make sure you have enough credit on your account
                    before making purchases. Trained staff will be on-hand to help you through the process.
                </p>
                <p><strong>You can also top-up through our festival mobile app.</strong></p>

                <p class="lead">Can I transfer my credits from my wristband to another one?</p>
                <p>
                    No, unfortunately you cannot transfer credits once they are in your personalized account. However,
                    any leftover credit will be refunded to you in accordance to our refund policy.
                </p>

                <p class="lead">
                    I’m going to the festival with a family member / friend and we want to share credits
                    from the same account instead of having two accounts. Is that possible?
                </p>
                <p>
                    Yes, if you add two or more wristbands into the same account, this is called a "Shared Family Account”.
                    All linked wristbands will be able to make purchases using the same pool of funds in the account.
                    You will NOT be able to separate or specify spending amounts for each wristband.
                </p>
                <p>
                    Make sure you want to share your credit before you link multiple wristbands.
                    Once a wristband is added to an account, you won’t be able to create a new account for that wristband
                    or transfer it to another account.
                </p>

                <p class="lead">Can I split the cost of something with a friend?</p>
                <p>
                    No, unfortunately you cannot split payment for an item. Only one wristband can be used to open the
                    transaction, and that same wristband must be used to close and confirm the purchase. This is a
                    security feature to ensure the purchaser is in control of their own spending.
                </p>

                <p class="lead">I've lost my wristband! What should I do? </p>
                <p>
                    If you’ve created an account online and linked your wristband to it, no worries! Visit Customer Service
                    at the event and they will deactivate your lost wristband and issue you a new one. Please bring valid photo ID.
                    Link the new wristband number to your account and continue having a great time – your money is
                    still on your account if you’ve previously linked it.
                </p>
                <p>
                    However, if you did NOT create an online account and did not link your wristband to the account,
                    unfortunately your remaining credit balance can no longer be retrieved. To get a replacement wristband,
                    visit a Customer Service kiosk and show proof of your original event ticket purchase along with valid photo ID.
                    If someone else bought the tickets on your behalf, you will need to bring the original purchaser with
                    you to the kiosk and show proof of purchase along with valid photo ID. Replacement wristbands will
                    be issued at the discretion of the Customer Service Representative.
                </p>
                <p>
                    To avoid this issue, we strongly recommend you create an account and link your wristbands to that
                    account prior to the festival. Treat your wristband the same way you would treat cash! We are not responsible
                    for any funds stolen / missing from your wristband if you lose it.
                </p>

                <p class="lead">What if I have leftover credit at the end of the event? What is your refund policy?</p>
                <p>All credit left unredeemed by the end of the event will be refunded in accordance with the terms below:</p>
                <ul>
                    <li>
                        <strong>Online Top-ups:</strong>
                        Leftover funds on your account purchased online via the Intellipay site will automatically be
                        refunded back to your credit card within 10 days following the end of the event. In this case, no fee is applied.
                    </li>
                    <li>
                        <strong>On-site Top-ups at the Event:</strong>
                        Leftover funds on your account purchased on-site at the event using cash, debit card and/or
                        credit card will require or online can be retrieved on site until Monday morning 07:00 AM.
                    </li>
                    <li>
                        <strong>If you still have money left on your account after Festival closing time</strong>
                        you will have to complete a Manual Refund in your online account page (refund processing fees may apply).
                        Upon verification, the refund will be processed within 10 business days following the closure
                        of the refund form.
                    </li>
                    <li>
                        Refund processing is subject to verification of the data inputted by the guest in the Manual
                        Refund Form. The guest is responsible for submitting accurate data.
                    </li>
                    <li>
                        The deadline to apply for a Manual Refund is July 21, 2017. For manual refunds, transaction fees apply,
                        depending on your bank.
                    </li>
                </ul>

            </tab-content>
        </tab>
        <tab>
            <tab-heading>Information</tab-heading>
            <tab-content>
                <h1>Information</h1>
                <p class="lead">Where can I get information?</p>
                <p>
                    We have a dedicated Info Point on the festival grounds where our friendly volunteers can help you
                    with any information you need. The Info Point can be found on our Map <a ui-sref="ElectricCastlePublic.Map">here</a>.
                </p>

                <p class="lead">Do you have a brochure?</p>
                <p>
                    The brochure is available free of charge to every visitor. It contains basic information about the
                    program and performers, site maps, and essential practical information. The brochures can be found
                    at our Info Point. For more details, you need to download our mobile app.
                </p>

                <p class="lead">Do you have a mobile app?</p>
                <p>
                    You can download the Electric Castle mobile app from App Store or Google Play. I will be your little
                    festival guide letting you know about the schedule, important things that are happening during the event,
                    the map of the festival, activities or even let you customize your schedule.
                </p>

                <p class="lead">How do I get around?</p>
                <p>
                    Maps of the festival can be found on our website, in our mobile app, our brochure or on
                    the festival premises.
                </p>
            </tab-content>
        </tab>
        <tab>
            <tab-heading>Lost &amp; Found</tab-heading>
            <tab-content>
                <h1>Lost &amp; Found</h1>
                <p class="lead">What can I do if I lose something?</p>
                <p>Try checking our Info Point. If you left the festival grounds, you would be able to check the found items here.</p>

                <p class="lead">What can I do If I found something that is lost?</p>
                <p>Bring it to our Info Point and we will try to find its owner.</p>

                <p class="lead">Do I get a reward for bringing something found to your info point?</p>
                <p>Only our eternal gratitude and maybe a beer from the owner of the lost object.</p>
            </tab-content>
        </tab>
    </tabset>
    <div class="clearfix"></div>
    <hr class="grey" />
    <p class="margin-bottom-100 text-right">Please read the <strong> <a ui-sref="ElectricCastlePublic.TermsAndConditions" target="_blank">terms and conditions</a></strong> and
        <strong><a ui-sref="ElectricCastlePublic.RulesAndRegulations" target="_blank" target="_blank">rules and regulations</a></strong> of the festival.</p>
</div>