<div class="ec-tab">
    <tabset vertical="true" type="pills" class="faq-tabs">
        <tab>
            <tab-heading>Tickets</tab-heading>
            <tab-content>
                <h1>Tickets</h1>
                <p class="lead">How to buy tickets?</p>
                <p>
                    Tickets can be bought from <a ui-sref="ElectricCastlePublic.Tickets">electriccastle.ro/tickets</a>,
                    the Eventim Network, Festicket or the official partner locations of the Electric Castle Festival.
                    To purchase a Hard Copy Ticket, not an online e-ticket, please visit one of our Partner Locations
                    around the country or the ones in the Eventim Network.
                </p>
                <p>
                    If you're coming from abroad and would like to purchase your ticket in a different currency than
                    Romanian Lei, you can do it from our partner Festicket <a ui-sref="ElectricCastlePublic.FromAbroad">here</a>.
                </p>

                <p class="lead">What are the ticket types?</p>
                <p>
                    The General Access Pass gives you access to the event from Day 0 (12th of July) starting with 14:00
                    and you have the right to remain for the rest of the event. If you want to sleep on the festival
                    grounds, you need to have a General Access + Camping or a Premium Pass + Camping.

                </p>
                <p>
                    You can buy Any Day Tickets that offer you access to the event on any day you choose, between
                    10:00 – 09:59. At that time, the Day ticket expires and you have to leave the festival grounds.
                </p>

                <p class="lead">Do children need tickets?</p>
                <p>
                    Children under 13 qualify for free entrance, provided that an adult accompanies them.
                    All children under 16 must by accompanied by an adult. We strongly advise than children under 4
                    to wear noise cancellation headphones.

                </p>

                <p class="lead">Can I change the name on the ticket?</p>
                <p>
                    The name from the ticket is the name of the buyer, not the name of the person that uses the ticket.
                    Anyway, the name can be changed from the buyer’s account, if you want to.You can offer your ticket
                    to someone else all until it was redeemed for the wristband. When the wristband was placed
                    on one's arm, it cannot be transferred to another person.
                </p>

                <p class="lead">Can I upgrade my ticket?</p>
                <p>
                    Yes, you can. If you bought your ticket from electriccastle.ro, the ticket can be upgraded from the
                    MY ORDERS section, in your account. If you bought a hard-copy ticket and you want to upgrade it,
                    go to electriccastle.ro -> BUY TICKETS -> UPGRADE HARD-COPY. After upgrading it, your hard-copy
                    ticket will remain the same, but the moment you swap it to a wristband, you will get the type of
                    access assimilated to your upgrade.<br />
                    Tickets cannot be downgraded.

                </p>

                <p class="lead">Should I bring some identification document to the festival?</p>
                <p>
                    According to the Romanian Law, everybody is required to have ID, so it is necessary to take them w
                    ith you to the festival.

                </p>

                <p class="lead">Can I cancel or return the ticket?</p>
                <p>
                    Canceling a purchased ticket and money refund is not possible.
                </p>

                <p class="lead">What should I do if I buy an invalid ticket?</p>
                <p>
                    Tickets that have been purchased and picked up at the authorized points of sale
                    (electriccastle.ro, Eventim Network, authorized locations, mobile app or Festicket)
                    and distribution are the only ones valid. We can't vouch for the validity of tickets
                    unless they were bought at the mentioned points of sale.

                </p>

                <p class="lead">What happens if I lose my ticket?</p>
                <p>
                    If you lose your ticket, we will not be in the position to help you and issue you another one
                    without proper proof of receipt and buy, which is why we want you to take good care of your ticket.
                </p>

                <p class="lead">
                    What if I forget my ticket?
                </p>
                <p>
                    If you forget your ticket you will not be able to enter the festival, so we advise you to
                    be careful and not forget it.
                </p>

                <p class="lead">
                    Can I sell my ticket?
                </p>
                <p>
                    It is strictly prohibited to sell or purchase overpriced tickets/invites. We reserve the right to
                    prohibit access to the festival grounds and the camping areas to people found to be carrying
                    out such activities and to confiscate the invitations and tickets in their possession. It is
                    strictly prohibited to post selling announces on the Electric Castle only channels (Facebook page, Facebook event).

                </p>
            </tab-content>
        </tab>
        <tab>
            <tab-heading>Shop</tab-heading>
            <tab-content>
                <h1>Shop</h1>
                <p class="lead">How do I place an order on the Electric Castle shop?</p>
                <p>
                    You can shop for t-shirts, accessories and other cool products. Filter them by type and find what
                    you like best. Click on the image to enlarge and browse through the gallery.
                </p>
                <p>
                    To add a product to your cart, first, select your size (if applicable) and click on 'Add to basket.'
                    Review the item(s) in your shopping cart. You have the option to delete items and change the quantity.
                    You may click on 'Return to shop' to continue browsing, or if you are ready to checkout, click on
                    'Checkout.' Please note that additional shipping costs will be added to your final purchase price at checkout.
                </p>

                <p class="lead">How do I find the right size for me?</p>
                <p>You can check the size chart for each product and find your size accordingly.</p>

                <p class="lead">Can I send an item as a gift?</p>
                <p>Yes, please write us at <strong>merchandise@electriccastle.ro</strong> and mention the address where you want to send it.</p>

                <p class="lead">How do I know that my order was successfully placed?</p>
                <p>After a few minutes you will receive an order confirmation to your e-mail address when your order is placed successfully.</p>

                <p class="lead">Which payment methods do you accept?</p>
                <p>We don't process your payment directly. All payments are being made trough our partner, EuPlatesc.
                    They accept all VISA, VISA Electron, MasterCard and Maestro credit/debit cards.
                </p>

                <p class="lead">What are your shipping rates?</p>
                <p>The shipping costs 16 Lei anywhere in Romania.</p>

                <p class="lead">Do you ship to where I live?</p>
                <p>For now we only ship in Romania. We will ship internationally soon. If you want us to let you know when
                    we ship to your country please write us at <strong>merchandise@electriccastle.ro</strong>.</p>

                <p class="lead">How do you ship my order?</p>
                <p>We ship your order using DPD.</p>

                <p class="lead">How can I track my order?</p>
                <p>You will receive an email with the AWB for your package once your order is shipped. You will be able
                    to track your order <a href="https://www.dpd.com/tracking" target="_blank">here</a>.</p>

                <p class="lead">Where will my order be shipped from?</p>
                <p>Your order will be shipped form Cluj-Napoca, where the Electric Castle office is located.</p>

                <p class="lead">How long will it take for my order to arrive?</p>
                <p>Your order should reach you in 2 to 5 days working days.</p>

                <p class="lead">What is your return policy?</p>
                <p>
                    We accept returns and exchanges within 30 days of receipt. Returns received outside the
                    above time frame are not to be accepted.
                </p>
                <p>
                    We will only accept returns on non-faulty items that are in their original condition, have not been
                    worn, altered or washed, with all tags attached and in its original packaging. Upon receipt of any
                    order without tags please notify us immediately if you wish to return the item. We strongly advise
                    all customers to check garments thoroughly upon delivery before removing any attached tags and
                    before disposing of any original packaging.
                </p>
                <p>
                    Please note that we can only exchange an item for the same item in a different size. Exchanged items
                    can only be dispatched after the returned goods have been received and undergone a quality control
                    check. Please note that the customer is allowed to exchange an item for a different size only once.
                    The customer is responsible for additional shipping costs.
                </p>
                <p>
                    The merchandise must be returned in one mailing. We reserve the right to refuse multiple returns at
                    different times from one order.
                </p>

                <p class="lead">Who do I contact in case of return of an item?</p>
                <p>
                    Send us an email at <strong>merchandise@electriccastle.ro</strong> with your order details and you'll receive
                    the instructions by email.
                </p>

                <p class="lead">When will I receive a refund for returned items?</p>
                <p>
                    When all requirements have been met, we will notify you and refund the cost of the product(s),
                    minus the shipping fee. A time frame of anywhere between 10-14 days should be calculated for the receipt
                    of your returned merchandise and the return/refund process. The refund time frame depends on the credit card used.
                    Please note that the refund will only be issued to the credit card used for the order.
                </p>
                <p>
                    For any further questions regarding our returns and exchanges, please contact us at
                    <strong>merchandise@electriccastle.ro</strong>.
                </p>
            </tab-content>
        </tab>
    </tabset>
    <div class="clearfix"></div>
    <hr class="grey" />
    <p class="margin-bottom-100 text-right">Please read the <strong> <a ui-sref="ElectricCastlePublic.TermsAndConditions" target="_blank">terms and conditions</a></strong> and
        <strong><a ui-sref="ElectricCastlePublic.RulesAndRegulations" target="_blank" target="_blank">rules and regulations</a></strong> of the festival.</p>
</div>