<div class="page-container page-container__bg-dark projects-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img src="/assets/img/projects/headline.png" class="img-responsive center-block" alt="Creative people, get your toolbox ready" />
            </div>
        </div>
    </div>

    <h2 class="text-center">
        Join the show at Electric Castle<br />
        <span>and see your dream project come to life!</span>
    </h2>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img src="/assets/img/projects/line-icons.png" class="img-responsive center-block"
                     alt="Join the show at Electric Castle and see your dream project come to life!" />
                <hr class="grey"/>

                <div class="row">
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                We’re looking for
                                <span>ARTISTS</span>
                                who want to build amazing,
                                immersive installations.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/hammer.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p>
                                        From volumetric letters that write memorable statements, to geometric shapes, mirrors,
                                        special projections, interactive installations, optical illusions, immersive lighting
                                        setups, everything is possible as long as it has a purpose and offers a unique
                                        sensation/experience.
                                    </p>
                                    <a href="https://electric_castle.formstack.com/forms/artists"
                                       class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>
                                    <p class="text-light">
                                        Grants up to 5.000 Euros
                                        are available for selected
                                        submissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                <span>ARCHITECTS</span>
                                who can transform sketches
                                into reality and elevate the
                                festival camping site.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/liner.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p>
                                        This year, we plan on making the campus more comfortable than ever. We are interested
                                        to see efficient housing ideas for constructions that can accommodate from 2 to 4 people.
                                        The production cost for each unit should not be greater than 1.000 Euros.
                                    </p>
                                    <a href="https://electric_castle.formstack.com/forms/architects"
                                       class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>
                                    <p class="text-light">
                                        Grants up to 5.000 Euros
                                        are available for selected
                                        submissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                <span>Storytellers</span>
                                who can imagine the best short film or music video scenarios
                                that could happen at Electric Castle.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/pencil.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p>
                                        Electric Castle is an amazing experience and everyone is aware of the insane amounts
                                        of fun you can have during 5 days of festival.
                                        We want to discover the unsung stories that happen behind the scenes.
                                        The romance, the drama, the comedies and the thrillers.
                                        Submit your storyline for a short film (up to 30 minutes long), documentary, music
                                        video or sketch and we’ll make it happen.
                                    </p>
                                    <a href="https://electric_castle.formstack.com/forms/storytellers"
                                       class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>
                                    <p class="text-light">
                                        Grants up to 5.000 Euros
                                        are available for selected
                                        submissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                <span>MUSICIANS</span>
                                who want to perform on stages in front of
                                thousands of ecstatic fans.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/jack.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p>
                                        You think your band or Dj set deserve to be heard by thousands. But you are struggling to get ahead.
                                        Seize a unique chance to perform on some of the biggest stages in the country.
                                        Send us a demo or a link to your tunes and maybe you’ll see your name in the final
                                        Electric Castle line-up announcement.<br /><br /><br /><br />
                                    </p>
                                    <a class="call-to-action call-to-action-lg" ui-sref="ElectricCastlePublic.OwnTheStage">Apply Here</a>
                                    <p class="text-light">
                                        Selected artists will get the chance
                                        to perform at Electric Castle.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                <span>Activities</span>
                                thinkers who want to implement fun
                                engaging ideas on Castle grounds.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/speaker.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p>
                                        Think of more than 10.000 people moving to a tiny village for 5 days. They will in
                                        the camping and on festival grounds for the majority of their stay. Here’s your
                                        chance to prove your entertainment skills. Whether it’s yoga, stand-up comedy, physical
                                        activities, treasure hunting or something that’s never been done before, we’d love to hear it.
                                    </p>
                                    <a href="https://electric_castle.formstack.com/forms/activities"
                                       class="call-to-action call-to-action-lg" target="_blank">Apply Here</a>
                                    <p class="text-light">
                                        Grants up to 1.000 Euros
                                        are available for selected
                                        submissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <h3>
                                <span>Designers</span>
                                who can elevate everything visual about Electric Castle.
                            </h3>
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="/assets/img/projects/marker.png" class="img-responsive center-block" />
                                </div>
                                <div class="col-sm-7 no-padding-left">
                                    <p class="details">
                                        From EC Merchandise (everything wearable) to Posters, Gifs and even Business Cards,
                                        to drawing or illustrating the Electric Castle / EC logo or the Banffy Castle in
                                        thousands of different ways – we would love to see your ideas and collaborate to
                                        make them happen.<br /><br /><br />
                                    </p>
                                    <a href="https://electric_castle.formstack.com/forms/designers"
                                       class="call-to-action call-to-action-lg"  target="_blank">Apply Here</a>
                                    <p class="text-light">
                                        Grants up to 1.000 Euros
                                        are available for selected
                                        submissions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>