<div class="page-container page-container__bg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Media &amp; Advertising</h1>
                <p>
                    For trading, press or sponsor questions regarding Electric Castle 2017, please send your questions to one of the following email addresses.
                </p>

                <div class="row">
                    <div class="col-sm-3">
                        <h3>Sponsors</h3>
                        <p><a href="mailto:andrei.lupsa@electriccastle.ro">andrei.lupsa@electriccastle.ro</a></p>
                    </div>

                    <div class="col-sm-3">
                        <h3>Vendors</h3>
                        <p><a href="mailto:mihai.tamas@electriccastle.ro">mihai.tamas@electriccastle.ro</a></p>
                    </div>

                    <div class="col-sm-3">
                        <h3>Press Enquiries</h3>
                        <p><a href="mailto:press@electriccastle.ro">press@electriccastle.ro</a></p>
                    </div>

                    <div class="col-sm-3">
                        <h3>Other Enquiries</h3>
                        <p><a href="mailto:contact@electriccastle.ro">contact@electriccastle.ro</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>