<div class="page-container page-container__bg-dark">
    <div class="container sponsors-page">
        <h4 class="text-center">Strategic Partner</h4>
        <div class="row">
            <div class="col-sm-4">
                <a href="http://www.lidl.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/lidl.png" class="center-block" height="110" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Main Sponsor</h4>
        <div class="row">
            <div class="col-sm-4">
                <a href="http://becks.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/becks.png" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Major Sponsors</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.bancatransilvania.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/bt.png" class="center-block" width="140" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.coca-cola.ro/ro/home/" target="_blank">
                    <img src="/assets/img/sponsors/2017/coca-cola.png" class="center-block" height="90" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.jbscotch.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/j&b.png" class="center-block" width="100" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.aperol.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/aperol.png" class="center-block" width="130" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.mastercard.ro/ro-ro.html" target="_blank">
                    <img src="/assets/img/sponsors/2017/mc.png" class="center-block" width="110" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" target="_blank">
                    <img src="/assets/img/sponsors/2017/tastemakers.png" class="center-block" width="160" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.facebook.com/AHEADeventsRO/" target="_blank">
                    <img src="/assets/img/sponsors/2017/ahead.png" class="center-block" width="150" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Sponsors</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.enel.ro" target="_blank">
                    <img src="/assets/img/sponsors/2017/enel.png" width="130" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://eurogsm.ro/" target="_blank">
                    <img src="/assets/img/sponsors/eurogsm.png" width="140" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://gustullays.ro/" target="_blank">
                    <img src="/assets/img/sponsors/lays.png" width="160" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.fortech.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/fortech.png" width="190" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.nttdata.com/global/en/" target="_blank">
                    <img src="/assets/img/sponsors/2017/ntt.png" width="165" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.nn.ro/acasa" target="_blank">
                    <img src="/assets/img/sponsors/nn.png" width="200" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://mcdonalds.ro" target="_blank">
                    <img src="/assets/img/sponsors/2017/mcdonalds.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://ro.kronospan-express.com/ro" target="_blank">
                    <img src="/assets/img/sponsors/krono.png" width="190" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.farmtech.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/schaeffer.png" width="190" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.perlaharghitei.ro/" target="_blank">
                    <img src="/assets/img/sponsors/perla.png" class="center-block" width="190" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.persil.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/persil.png" class="center-block" width="130" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.burn.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/burn.png" class="center-block" width="190" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Official car</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.smart.ro/ro/ro/index.html" target="_blank">
                    <img src="/assets/img/sponsors/smart.png" width="160" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center padding-bottom-20">#weshowcase</h4>
        <div class="row">
            <div class="col-sm-3 padding-bottom-30">
                <a href="https://www.quickmobile.ro/brand/abc-tech" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/abc-tech.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-bottom-30">
                <a href="https://www.buzzsneakers.com/" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/buzz.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-bottom-30">
                <a href="https://www.dizainar.ro" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/dizainar.png" width="120" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="https://www.farmec.ro/" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/farmec.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://bicicletapegas.ro/" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/pegas.png" width="150" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.targuldecariere.ro/" target="_blank">
                    <img src="/assets/img/sponsors/weshowcase/tdc.png" width="120" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Partners</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://facebook.com/booha" target="_blank">
                    <img src="/assets/img/sponsors/booha.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.facebook.com/boohabar" target="_blank">
                    <img src="/assets/img/sponsors/bb.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.americanexperience.ro/en/" target="_blank">
                    <img src="/assets/img/sponsors/ae.png" width="120" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.young-advertising.ro/" target="_blank">
                    <img src="/assets/img/sponsors/young.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://impress.ro/" target="_blank">
                    <img src="/assets/img/sponsors/impress.png" width="150" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.mediatrust.ro/english" target="_blank">
                    <img src="/assets/img/sponsors/mediaTrust.png" width="140" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://reea.net/en" target="_blank">
                    <img src="/assets/img/sponsors/reea.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://home.kpmg.com/ro/en/home.html" target="_blank">
                    <img src="/assets/img/sponsors/kpmg.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#" target="_blank">
                    <img src="/assets/img/sponsors/2017/aroc.png" width="110" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://amprenta-advertising.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/amprenta.png" width="155" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://be-at.tv/" target="_blank">
                    <img src="/assets/img/sponsors/2017/be-at.jpg" width="140" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.ministryofsound.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/mos.png" width="90" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://mainoi.ro/" target="_blank">
                    <img src="/assets/img/sponsors/mainoi.png" width="130" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.fibrexco.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/fibrex.png" width="140" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.getpony.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/pony.png" width="130" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.csiportal.com/ro/" target="_blank">
                    <img src="/assets/img/sponsors/csi.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.djsuperstore.ro/" target="_blank">
                    <img src="/assets/img/sponsors/djsuperstore.png" width="140" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.aramisfeeling.ro/" target="_blank">
                    <img src="/assets/img/sponsors/aramis.png" width="140" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 padding-top-30">
                <a href="http://www.devronbike.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/devron.png" width="140" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-top-30">
                <a href="https://www.flixbus.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/flixbus.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-top-30">
                <a href="http://www.alisgrup.autogari.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/alis.png" width="120" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 padding-top-30">
                <a href="http://alisholidays.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/alis-holidays.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-top-30">
                <a href="http://www.morphoza.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/morphoza.png" width="150" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-top-30">
                <a href="http://www.albalact.ro/brand-uri/brand/zuzu/produse/iaurt.html" target="_blank">
                    <img src="/assets/img/sponsors/2017/zuzu.png" width="110" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 padding-top-30">
                <a href="https://www.facebook.com/vestigecentreville/" target="_blank">
                    <img src="/assets/img/sponsors/2017/vestige.png" width="150" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3 padding-top-30">
                <a href="http://thaitherapy.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/thaiterapy.png" width="110" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Accommodation</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://hotelnapoca.ro/" target="_blank">
                    <img src="/assets/img/sponsors/grandhotel.png" width="150" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://universt.ro/" target="_blank">
                    <img src="/assets/img/sponsors/univers-t.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.operaplaza.ro/" target="_blank">
                    <img src="/assets/img/sponsors/opera-plaza.png" width="150" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Authorities</h4>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.cjcluj.ro/" target="_blank">
                    <img src="/assets/img/sponsors/consiliul-judetean-cluj.png" width="170px" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.comunabontida.ro/" target="_blank">
                    <img src="/assets/img/sponsors/primaria-bontida.png" width="170px" class="center-block" />
                </a>
            </div>
            <div class="col-sm-3">
                <a href="http://www.transylvaniatrust.ro/" target="_blank">
                    <img src="/assets/img/sponsors/transylvania-trust.png" width="180px" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://www.rosilva.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/romsilva.png" width="180px" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Media Partners</h4>
        <div class="row">
            <div class="col-sm-2">
                <a href="http://kissfm.ro/" target="_blank">
                    <img src="/assets/img/sponsors/kissfm.png" width="90" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="https://www.cosmopolitan.ro/" target="_blank">
                    <img src="/assets/img/sponsors/cosmo.png" width="130" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.natgeo.ro/" target="_blank">
                    <img src="/assets/img/sponsors/natgeo.png" width="130" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/BeauMondeStyle/" target="_blank">
                    <img src="/assets/img/sponsors/beau.png" width="130" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.menshealth.ro/" target="_blank">
                    <img src="/assets/img/sponsors/mens.png" width="130" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="https://www.marieclaire.ro/" target="_blank">
                    <img src="/assets/img/sponsors/marie-claire.png" width="125" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.vice.com/ro" target="_blank">
                    <img src="/assets/img/sponsors/vice.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.clujlife.com/" target="_blank">
                    <img src="/assets/img/sponsors/cluj-life.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.clashmusic.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/clash.png" width="100" class="center-block" />
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <a href="http://www.gigwise.com/" target="_blank">
                    <img src="/assets/img/sponsors/2017/g-square.png" width="60" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.sub25.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/sub25.png" width="60" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.catavencii.ro/" target="_blank">
                    <img src="/assets/img/sponsors/2017/catavencii.png" width="120" class="center-block" />
                </a>
            </div>
        </div>

        <h4 class="text-center">Partner Locations</h4>
        <div class="row">
            <div class="col-sm-2">
                <a href="https://www.facebook.com/Acuarelabistro/" target="_blank">
                    <img src="/assets/img/sponsors/locations/acuarela.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/hostelcosteltimisoara/" target="_blank">
                    <img src="/assets/img/sponsors/locations/costel.png" width="100" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/energiea/" target="_blank">
                    <img src="/assets/img/sponsors/locations/energia.png" width="100" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/NuDoarOPauzadeCafea/" target="_blank">
                    <img src="/assets/img/sponsors/locations/fika.png" width="100" class="center-block" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a href="https://www.facebook.com/shoph2o/" target="_blank">
                    <img src="/assets/img/sponsors/locations/h20.png" width="110" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/pages/Meru/278684655629362" target="_blank">
                    <img src="/assets/img/sponsors/locations/meru.png" width="120" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/NeataOmeletteBistro/" target="_blank">
                    <img src="/assets/img/sponsors/locations/neata.png" width="100" class="center-block" />
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/victor.freshtogo/" target="_blank">
                    <img src="/assets/img/sponsors/locations/victor.png" width="100" class="center-block" />
                </a>
            </div>
        </div>
    </div>
</div>