<div class="modal-content before-you-come">
    <div class="modal-header">
        <h4 class="modal-title">Returnarea sumelor incarcate pe brățăra RFID</h4>
        <i class="close-modal glyphicon glyphicon-remove" ng-click="bycc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <section class="content">
            <h4>Returnarea sumelor care provin din tranzactii online</h4>
            <p>
                Returnarea va fi facuta automat prin proces invers de refund la 5 zile dupa terminarea festivalului,
                direct pe cardul de pe care s-a facut tranzactia online de incarcare. Fiecare tranzactie este asociata
                unui card. Astfel daca se fac doua tranzactii de incarcare de 100Lei si 100Lei de pe doua carduri
                diferite iar in festival se cheltuie 80 Lei, se vor returna 20 pentru prima tranzactie, pe primul
                card si 100 Lei pe al doilea card, respectiv pentru a doua tranzactie online.
            </p>

            <h4>Returnarea sumelor de bani care provin din tranzactii pe teritoriul festivalului dupa terminarea
                festivalului (sau dupa expirarea bratarii de o zi)
            </h4>
            <p>
                Returnarea se face dupa completarea unui formular cu datele personale si contul bancar al participantului.
                Formularul trebuie completat pana in 21.07 și va fi disponibil din 19.07
                pe <a href="https://ec2017.pay.intellifest.com/refund" target="_blank">ec2017.pay.intellifest.com/refund</a>.
                Transferul banilor depinde apoi de banca emitentă a fiecărui participant.
                Deasemenea transferul banilor va suporta comisioane interbancare.
            </p>

        </section>
    </div>
    <div class="clearfix"></div>
</div>
