<div class="modal-content first-login-thank-you">
    <div class="modal-header">
        <h4 class="modal-title">{{'TICKETS.MODAL.FIRST_LOGIN_THANK_YOU.TITLE' | translate}}</h4>

        <i class="close-modal glyphicon glyphicon-remove" ng-click="fltyc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <p class="text-medium" bind-html-compile="'TICKETS.MODAL.FIRST_LOGIN_THANK_YOU.DESCRIPTION' | translate"></p>
    </div>
    <div class="modal-footer clearfix">
        <button type="button" class="button button--has-border button--has-border--yellow button-xs-block button--dark" ng-click="fltyc.closeModal()">
            {{'TICKETS.MODAL.FIRST_LOGIN_THANK_YOU.CLOSE' | translate}}
        </button>
    </div>
</div>
