<div class="modal-content login-page">
    <div class="modal-header">
        <h4 class="modal-title">{{'MODAL.LOGIN.HEADER' | translate}}</h4>

        <i class="close-modal glyphicon glyphicon-remove" ng-click="lmc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="margin-bottom-15">{{'MODAL.LOGIN.LOGIN_LABEL' | translate}}</h4>
                <login-form post-login-action="CART" theme="dark"></login-form>
            </div>
            <div class="col-md-6">
                <h4 class="margin-bottom-15">{{'MODAL.LOGIN.REGISTER_LABEL' | translate}}</h4>
                <register-minimal-form post-register-action="CART"></register-minimal-form>
            </div>
        </div>
    </div>
</div>
