<div class="modal-content partner-locations">
    <div class="modal-header">
        <h4 class="modal-title">{{'TICKETS.MODAL.PARTNER_LOCATIONS.HEADER' | translate}}</h4>

        <i class="close-modal glyphicon glyphicon-remove" ng-click="plc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <p>If you want to buy <strong>hard-copy tickets</strong> you can get them from our partner locations:</p>
        <ul>
            <li>
                <strong>Cluj-Napoca</strong>
                <ul>
                    <li>Atelier Cafe - Memorandumului 9, et 1</li>
                    <li>Booha Bar - Piezise 19</li>
                    <li>Kingpin Shop - Eroilor 31</li>
                    <li>Victor - Victor Babes 33</li>
                </ul>
            </li>

            <li>
                <strong>Timisoara</strong>
                <ul>
                    <li>Cuib d'Arte - Marasesti 14</li>
                    <li>Hostel Costel - Sfetca Petru 1</li>
                    <li>Neata Omelette - Dimitrie Cantemir 1</li>
                </ul>
            </li>

            <li>
                <strong>Iasi</strong>
                <ul>
                    <li>Acaju - Sf Sava 15</li>
                    <li>Fika - Piata Unirii 7, bloc B4</li>
                    <li>Meru - Carol I 3</li>
                </ul>
            </li>

            <li>
                <strong>Bucuresti</strong>
                <ul>
                    <li>Acuarela - Polona Street 40</li>
                    <li>Energiea - Actor Ion Brezoianu 4</li>
                    <li>FunRide Shop - Piata Natiunile Unite 3-5</li>
                    <li>H20 Shop - Calea Dorobanti 48</li>
                    <li>Steam Coffee Shop - Uruguay 22</li>
                    <li>Steam Coffee Shop - Visarion 2</li>
                </ul>
            </li>

            <li>
                <strong>Oradea</strong>
                <ul>
                    <li>Steam Pub - Pasajul Vulturului Negru</li>
                </ul>
            </li>

            <li>
                <strong>Brasov</strong>
                <ul>
                    <li>Cafe Central - Apollonia Hircher 18</li>
                    <li>Jar - Republicii 42</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
