<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">RFID Manual Refund</h4>
        <i class="close-modal glyphicon glyphicon-remove" ng-click="rfc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <p class="text-medium">Pentru recuperarea banilor ce au fost incarcati la fata locului trebuie sa urmezi pasi de mai jos:</p>
        <p class="text-medium">
            1. Trebuie sa ai cont pe <a href="http://ec2016.pay.intellifest.com" target="_blank">
                <strong>ec2016.pay.intellifest.com</strong></a><br />
            2. Daca nu ai cont, creeaza-ti unul si inregistreaza-ti bratara folosind codurile unice de pe spate.<br />
            3. Du-te la <strong>Refund</strong><br />
            4. Completeaza datele in formular pana in 31 Iulie.<br />
            5. Banca va procesa plata, iar banii tai vor fi transferati in contul tau.
        </p>
        <p class="text-medium">
            Fiecare operatiune este supusa unei taxe de 3 lei ce reprezinta taxele bancare de transfer manual.
        </p>
        <hr />
        <p class="text-medium">In order to refund the money that were deposited on you RFID card at the festival, please folow the next steps:</p>
        <p class="text-medium">
            1. You need an account on <a href="http://ec2016.pay.intellifest.com" target="_blank">
                <strong>ec2016.pay.intellifest.com</strong></a><br />
            2. If you don't have one, create it and register your bracelet tag with the code you will find on it's back.<br />
            3. Go to <strong>Refund</strong><br />
            4. Fill the required data until July 31.<br />
            5. The bank will process your request and the money will be transferred into your account.
        </p>
        <p class="text-medium">
            Each operation will be charged with 3 lei representing the manual transfer bank tax.
        </p>
    </div>
</div>
