<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">The Name on your ticket</h4>
        <i class="close-modal glyphicon glyphicon-remove" ng-click="tnmc.closeModal()"></i>
    </div>
    <div class="modal-body">
        <p>You can change the name on your ticket here. Download it again after this.</p>

        <form name="ticketNameForm" ng-submit="tnmc.submit(ticketNameForm)" class="margin-top-20" novalidate>
            <fieldset class="form-group form-group__error" ng-show="tnmc.flags.showError">
                <div class="error-alert " ng-bind-html="tnmc.model.errorMessage"></div>
            </fieldset>

            <fieldset class="form-group form-group--full-width margin-bottom-5">
                <div class="col-md-8 no-padding-left">
                    <input type="text"
                           id="name"
                           class="form-control form-control--dark margin-bottom-5"
                           name="name"
                           placeholder=""
                           autocomplete="off"
                           ng-class="{'has-error': ticketNameForm.name.$invalid && ticketNameForm.$submitted}"
                           ng-required="true"
                           ng-model="tnmc.model.name" />
                </div>
                <div class="col-md-4 no-padding-left">
                    <button class="std-button std-button--light std-button--wide std-button--in-form w-100" type="submit"
                            ng-disabled="ticketNameForm.$submitted && !ticketNameForm.$valid">
                        Change
                    </button>
                </div>
                <div class="clearfix"></div>

                <span ng-messages="ticketNameForm.code.$error" ng-show="ticketNameForm.$submitted">
                    <span class="error" ng-message="required">{{'VALIDATIONS_ERRORS.IS_REQUIRED' | translate}}</span>
                </span>
            </fieldset>
        </form>
    </div>
</div>