.castle-page {
    padding-top : 0;

    .banner {
        min-height      : 470px;
        margin-bottom   : 30px;
        background      : url('/assets/img/castle/1.jpg') center 75% no-repeat;
        background-size : cover;

        display         : flex;
        align-items     : center;
        justify-content : center;

        @include breakpoint(sm) {
          min-height : 380px;
        }

        @include breakpoint(xs) {
          min-height : 300px;
        }

        h1 {
          color       : $white;
          margin      : 0;
          text-align  : center;
          font-size   : 80px;
          text-shadow : 1px 1px 1px rgba(0, 0, 0, 0.8);

          span {
            display: block;
            font-size: 30px;
            text-transform: none;
            font-family: 'RobotoCondensed-Regular', Helvetica, Arial, sans-serif;
          }

          @include breakpoint(xs) {
            font-size : 60px;
          }
        }
     }

      p {
        font-size : $font-size-large;
      }
 }
