.home-page {
  section.video {
    position : relative;
    height   : auto;
    overflow : hidden;

    .controls {
      position : absolute;
      top      : 25px;
      right    : 30px;
      z-index  : $zIndex--home-video-controls;

      a {
        font-size       : 18px;
        color           : $white;
        cursor          : pointer;
        text-decoration : none;

        &:hover {
          text-decoration : none;
          color           : $yellow-base;
        }
      }
    }

    video {
      position   : absolute;
      left       : 50%;
      top        : 50%;
      min-width  : 100%;
      min-height : 100%;
      transform  : translate(-50%,-50%);
      z-index    : $zIndex--home-video;
    }

    .container {
      position : relative;
      z-index  : $zIndex--home-content;
      padding  : 33vh 10px 24vh;

      img {
        margin-bottom : 2vh;
      }

      p {
        color     : $grey-light;
        font-size : $font-size-h3;
      }

      h2 {
        color          : $white;
        margin-bottom  : 80px;
        font-family    : 'Roboto', Arial, sans-serif;
        font-size      : 34px;
        font-weight    : normal;
        text-transform : none;
        text-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.8);

        span {
          text-transform : uppercase;
          color          : $yellow-base;
          font-weight    : bold;
        }

        @include breakpoint(xs) {
          margin-bottom : 40px;
          font-size     : 28px;
        }
      }

      a.secondary-call-to-action {
        color      : $white;
        margin-top : 20px;
        display    : block;
        font-size  : $font-size-larger;

        text-decoration : none;
        text-shadow     : 1px 1px 1px rgba(0, 0, 0, 0.8);

        &:hover {
          color : $yellow-base;
        }
      }

      h1.headline {
        color       : $white;
        font-size   : 50px;
        line-height : 50px;
        font-family : 'RobotoCondensed-Light', Arial, Helvetica, sans-serif;

        text-transform : uppercase;
        text-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.8);

        margin-bottom : 40px;

        @include breakpoint(xs) {
          font-size   : 36px;
          line-height : 36px;
        }

        @include breakpoint(xxs) {
          font-size   : 24px;
          line-height : 24px;
        }

        strong {
          font-family : 'RobotoCondensed-Bold', Arial, sans-serif;
          font-weight : normal;
        }
      }
    }

    @include breakpoint(xs) {
      background      : url("/assets/img/home.jpg") no-repeat center;
      background-size : cover;

      .controls, video {
        display : none;
      }
    }
  }

  section.main-banner {
    position   : relative;
    background : $black url('/assets/img/cover-thankyou.jpg') repeat center;
    padding    : 0;
    height     : 600px;

    @include breakpoint(xs) {
      height : 350px;
    }

    background-size : cover;

    .container {
      height     : 100%;
      overflow   : visible;
      background : url('/assets/img/bg/bg-cashless-hand.png') no-repeat 87% 100%;

      @include breakpoint(md) {
        background-position : 110% 100%;
      }

      @include breakpoint(sm) {
        background-size : 60%;
      }

      @include breakpoint(xs) {
        background-size : 50%;
      }

      img {
        margin   : 80px 0 60px;
        position : relative;
        left     : -40px;

        @include breakpoint(md) {
          left : -20px;
        }

        @include breakpoint(sm) {
          left   : 0;
          margin : 50px 0 30px;
        }

        @include breakpoint(xs) {
          margin : 50px 0 20px;
        }
      }

      h5 {
        color          : $black;
        font-family    : 'RobotoBold', Helvetica, Arial, sans-serif;
        text-transform : none;
        position       : relative;
        font-size      : 20px;
        margin-bottom  : 10px;

        @include breakpoint(xs) {
          font-size : 18px;
        }
      }

      p {
        font-size     : 17px;
        line-height   : 19px;
        margin-bottom : 40px;

        @include breakpoint(xs) {
          font-size     : 15px;
          margin-bottom : 30px;
          background    : $white-transp-dark;
          padding       : 5px 10px;
        }
      }
    }

    h2 {
      padding : 280px 0 0 0;
      margin  : 0;
      color   : $white;

      font-family    : RobotoMedium, sans-serif;
      line-height    : 30px;
      font-size      : 26px;
      letter-spacing : 10px;
      text-shadow    : 1px 1px 9px rgba(0, 0, 0, 0.8);

      @include breakpoint(xs) {
        padding-top    : 160px;
        font-size      : 22px;
        letter-spacing : 6px;
      }
    }
  }

  a.call-to-action {
    margin         : 0 10px;
    text-transform : uppercase;
    font-size      : 20px;
    color          : $black;
    border-radius  : 5px;
    padding        : 10px 30px;

    &:hover {
      color : $yellow-base;
    }

    @include breakpoint(xs) {
      margin     : 10px 0 0 0;
      width      : 100%;
      display    : block;
      position   : static;
      float      : none;
      top        : 0;
      text-align : center;
    }
  }

  h2.travel-headline {
    color          : $yellow-base;
    text-transform : none;
    font-family    : 'RobotoCondensed-Regular', Arial, Helvetica, sans-serif;
    font-size      : 40px;
    margin         : 30px 40px;

    @include breakpoint(sm) {
      font-size      : 30px;
      margin         : 20px 0;
    }

    @include breakpoint(xs) {
      font-size      : 20px;
      margin         : 15px 0;
    }
  }

  section.content-boxes {
    background  : transparent;
    max-width   : 100%;
    margin      : 0 auto;
    border-left : 2px solid transparent;

    iframe {
      position : absolute;
      height   : 100%;
      width    : 100%;
      bottom   : 0;
      z-index  : -3;
      cursor   : pointer;
    }

    a {
      text-decoration : none;
    }

    .box-wrap {
      display : table;
      float   : left;

      border-right : 2px solid transparent;
      border-top   : 2px solid transparent;

      &.full {
        width : 100%;
      }
      &.half {
        width : 50%;
      }
      &.third {
        width : 33.33%;
      }
      &.two-thirds {
        width : 66.66%;
      }
      &.quarter {
        width : 25%;
      }
      &.three-quarters {
        width : 75%;
      }

      &.normal-height {
        height : 302px;
      }
      &.double-height {
        height : 604px;
      }
      &.triple-height {
        height : 906px;
      }

      &.normal-height .image {
        height : 300px;
      }
      &.double-height .image {
        height : 602px;
      }
      &.triple-height .image {
        height : 904px;
      }

      a {
        display : table-row;
        &:hover {
          text-decoration : none;
        }
      }
    }

    .box {
      color      : $white;
      background : $black;
      height     : 100%;
      display    : table-cell;
      position   : relative;

      .image {
        background      : center no-repeat;
        background-size : cover;
        width           : 100%;

        &.counter {
          background-image : url('/assets/img/bg/home-counter.jpg');
        }
      }

      .text {
        top      : 0;
        right    : 0;
        width    : 100%;
        position : absolute;
        padding  : 35px 30px;
      }

      h3 {
        font-size   : 40px;
        color       : $white;
        margin      : 0 0 10px 0;
        line-height : 40px;
      }

      p {
        color       : $white;
        font-size   : $font-size-large;
        line-height : 18px;
      }

      &:hover {
        .image {
          opacity : 0.6;
        }
      }

      &.image-full {
        .image {
          width : 100%;
        }

        .text {
          width      : 100%;
          text-align : center;
          top        : 35%;
        }

        h3 {
          font-family   : 'RobotoBold', Arial, sans-serif;
          font-size     : $font-size-larger;
          line-height   : 20px;
          margin-bottom : 6px;
        }
      }

      &.image-left {
        h3, p {
          color       : $white;
          font-family : 'Roboto', Arial, sans-serif;
          font-size   : $font-size-larger;
        }

        h3 {
          line-height   : 20px;
          font-family   : 'RobotoBold', Arial, sans-serif;
          margin-bottom : 6px;
        }
      }

      &.image-right {
        h3, p {
          color       : $black;
          font-family : 'Roboto', Arial, sans-serif;
          font-size   : $font-size-larger;
        }

        h3 {
          line-height   : 20px;
          font-family   : 'RobotoBold', Arial, sans-serif;
          margin-bottom : 6px;
        }
      }

      &.no-image {
        background     : $yellow-base;
        vertical-align : middle;

        .image {
          display : none;
        }

        .text {
          width      : 100%;
          text-align : center;
          position   : static;
          padding    : 0 10px;
        }

        h3 {
          font-size     : 80px;
          line-height   : 70px;
          font-family   : 'Steelfish', Helvetica, Arial, sans-serif;
          font-weight   : normal;
          color         : $black;
          margin-bottom : 25px;

          text-transform : uppercase;
        }

        p {
          color     : $black;
          margin    : 0;
          font-size : 2.4 * $font-size-small;

          span.border {
            border-top    : 4px solid $black;
            border-bottom : 4px solid $black;
            line-height   : 4 * $font-size-small;
            padding       : 6px 0;
          }
        }
      }

      &.image-only {
        vertical-align : middle;

        .image {
          width : 100%;
        }

        .text {
          visibility : hidden;
        }
      }

      &.video-box {
        background : transparent;
        cursor     : pointer;

        .text {
          visibility : hidden;
        }

        &:hover {
          opacity : 1;

          iframe {
            z-index : 0;
          }
        }
      }
    }

    @include breakpoint(sm) {
      .box-wrap .box {
        .text {
          padding : 20px;
        }

        &.no-image,
        &.image-full {
          h3 {
            font-size     : $font-size-h1;
            line-height   : $font-size-h1;
            margin-bottom : 20px;
          }
        }
      }
    }

    @include breakpoint(xs) {
      padding : 0;

      .box-wrap {
        display      : block;
        border-right : 2px solid transparent;
        border-top   : 2px solid transparent;

        &.full,
        &.half,
        &.third,
        &.two-thirds,
        &.quarter,
        &.three-quarters {
          width : 100%;
        }

        &.normal-height{
          height        : 202px;
          border-bottom : 2px solid $main-bg;

          .image,
          .no-image {
            height : 200px;
          }
        }

        &.double-height {
          height        : 352px;
          border-bottom : 2px solid $main-bg;

          .image,
          .no-image {
            height : 350px;
          }
        }

        &.triple-height {
          height        : 502px;
          border-bottom : 2px solid $main-bg;

          .image,
          .no-image {
            height : 500px;
          }
        }

        a,
        .box {
          display : block;
        }

        .box {
          overflow : hidden;

          h3 {

          }

          p {
            font-size   : $font-size-base;
            line-height : 16px;
            margin      : 0;
          }

          .text {
            padding : 20px;
            top     : 0;
          }

          &.no-image,
          &.image-full {
            h3 {
              font-size     : $font-size-h2;
              line-height   : $font-size-h2;
              margin-bottom : 10px;
            }

            .text {
              margin-top : 40px;
            }
          }
        }
      }
    }
  }
}

$offset   : -30px;
$count    : 40;
$duration : 1;

@keyframes wave {
  from { transform : translateY(0); color : white; }
  to   { transform : translateY( $offset ); }
}

.wavetext {
  margin-top : 30px;
  display    : block;
}

.wavetext span {
  display : inline-block;
  margin  : 0;
  padding : 0;

  animation-duration : #{$duration}s;
  animation-name     : wave;

  animation-iteration-count : infinite;
  animation-direction       : alternate;
}

@for $i from 0 to $count {
  .wavetext :nth-child( #{$count}n + #{$i} ) {
    animation-delay : -#{($count - $i) * 2 * $duration / $count}s;
  }
}
