.getting-there {
  p, li {
    font-size   : $font-size-large;
    font-weight : 400;

    @include breakpoint(xs) {
      font-size : 15px;
    }
  }

  h4 {
    font-size      : 20px;
    font-weight    : bold;
    text-transform : none;
    padding-bottom : 5px;
  }

  ul.routes {
    background : url('/assets/img/info/getting-there.png') top center no-repeat;
    height     : 380px;
    width      : 860px;
    text-align : right;
    position   : relative;
    margin     : 0 auto;

    @include breakpoint(xs) {
      height        : auto;
      text-align    : left;
      background    : none;
      margin-top    : 140px;
      margin-bottom : 20px;
    }

    li {
      right    : 0;
      width    : 23px;
      height   : 23px;
      position : absolute;
      z-index  : 5;

      border-radius : 50%;
      background    : $grey-dark;
      overflow      : hidden;

      &.a {
        top   : 199px;
        right : 510px;
      }

      &.b {
        top   : 164px;
        right : 730px;
      }

      &.c {
        top  : 244px;
        left : 17px;
      }

      &.d {
        top   : 17px;
        right : 557px;
      }

      &.e {
        top   : 106px;
        right : 297px;
      }

      &.f {
        top   : 132px;
        right : 609px;
      }

      &.g {
        top   : 235px;
        right : 182px;
      }

      &.h {
        top   : 266px;
        right : 510px;
      }

      &.i {
        top   : 357px;
        right : 179px;
      }

      &.j {
        top   : 294px;
        right : 404px;
      }

      &.k {
        top   : 70px;
        right : 115px;
      }

      &.l {
        top   : 357px;
        right : 14px;
      }

      a {
        width         : 22px;
        height        : 22px;
        border-radius : 50%;
        display       : block;
        color         : transparent;

        @include breakpoint(xs) {
          width    : auto;
          height   : auto;
          display  : inline-block;
          color    : $grey-dark;

          border-radius : 0;
        }
      }

      &:hover {
        background : $yellow-base;
        transition : 0.5s ease;

        @include breakpoint(xs) {
          background : transparent;
        }
      }

      @include breakpoint(xs) {
        position : static;
        width    : auto;
        height   : auto;

        border-radius : 0;
        background    : transparent;
      }
    }
  }

  .cars {
    position : absolute;
    top      : 0;
  }
}


.ec-tab {
  min-height : 60vh;

  h1 {
    margin : 40px 0 10px;

    @include breakpoint(xs) {
      margin : 20px 0 0;
    }
  }

  p, li {
    font-size   : $font-size-large;
    font-weight : 400;
    margin      : 0 0 10px;

    @include breakpoint(xs) {
      font-size : 15px;
    }

    &.lead {
      font-size      : 18px;
      font-weight    : bold;
      text-transform : none;
      padding-top    : 15px;
      margin-bottom  : 5px;
    }
  }

  .nav-pills {
    width : 30%;
    float : left;

    padding-right : 30px;
    margin-top    : 40px;

    @include breakpoint(xs) {
      width : 100%;
      float : none;

      padding-right : 0;
      margin-top    : 15px;
    }

    & > li {
      margin : 0;
      border-top : 1px solid $grey-base;

      &:last-of-type {
        border-bottom : 1px solid $grey-base;
      }

      & > a {
        border-radius   : 0;
        text-decoration : none;
        text-transform  : uppercase;

        font-weight : bold;
        font-size   : $font-size-large;
        padding     : 15px 10px;

        @include breakpoint(xs) {
          font-size   : 18px;
          padding     : 10px;
        }
      }

      &.active {
        & > a,
        & > a:hover,
        & > a:focus {
          color      : $grey-dark;
          background : $white;
        }
      }
    }
  }

  .tab-pane {
    width : 70%;
    float : right;

    @include breakpoint(xs) {
      width : 100%;
      float : none;
    }
  }
}

.vendors {
  iframe {
    z-index  : 0;
    position : static;
    height   : 1100px;
    width    : 100%;
    border   : 0;
  }
}

.volunteers,
.press {
  iframe {
    z-index    : 0;
    position   : static;
    height     : 3000px;
    width      : 100%;
    border     : 0;
    margin-top : 20px;
  }
}