.login-page {
    .form-group {
        display        : inline-block;
        vertical-align : top;
        margin         : 0 0 10px 0;

        &__email,
        &__password {
            width : 100%;

            @include breakpoint(xs) {
                width : 100%;
            }
        }

        &__error,
        &__actions,
        &__remember-me {
            width : 100%;
        }

        &__remember-me {
          margin-bottom : 0;
        }

        &__actions {
            margin-bottom : 0;

            .link {
                font-size : $font-size-large;

                &:not(:last-child) {
                    margin-right : 10px;
                }

                @include breakpoint(xs) {
                  margin-right  : 0;
                  margin-bottom : 10px;
                }

                &--large {
                  font-size : $font-size-larger;
                }
            }
        }

        &__full {
            width : 100%; 
        }

        .actions-wrapper {
            @include breakpoint(xs) {

            }
        }
    }
}
