.my-account-page {
    min-height     : 70vh;
    padding-bottom : 30px;

    .form-group {
        width  : 50%;
        margin : 0 0 15px 0;

        &--actions {
            justify-content : space-between;
            align-items     : center;
            width           : 100%;

            .flex {
                justify-content : space-between;
                align-items     : center;

                @include breakpoint(xs) {
                    flex-direction : column;

                    .button {
                        order  : 1;
                        margin : 0 0 20px 0;
                    }

                    .link {
                        order : 2;
                    }
                }
            }
        }

        @include breakpoint(xs) {
            width : 100%;
        }
    }

    .ui-select-container,
    .ui-select-match,
    .ui-select-toggle {
        max-width  : 100%;
        height     : 42px;
        background : $white;
    }

    .ui-select-match-text {
        height      : 30px;
        line-height : 30px;
    }

    .ui-select-container .ui-select-search {
        width      : 92%;
        min-height : 0;
    }

    .nationality,
    .gender {
      .ui-select-container .ui-select-search {
        width : 96%;
      }
    }

    .combodate {
        display : block;
    }
}

.my-account-orders {
  h4 {
    text-transform : none;
    line-height    : 20px;
  }

  .order {
    background    : $white;
    padding       : 10px 15px 15px 15px;
    margin-bottom : 20px;

    &__info {
      font-size     : 0;
      margin-bottom : 20px;

      strong {
        color : #404e59;

        &.text-orange {
          color : $orange;
        }
      }

      .order-title {
        display     : inline-block;
        font-size   : 18px;
        margin-top  : 10px;
        color       : #404e59;
        font-family : 'RobotoCondensed-Regular', Helvetica, Arial, sans-serif;

        span {
          font-family : Roboto, Helvetica, Arial, sans-serif;
          font-size   : $font-size-base;
          line-height : 16px;
        }
      }
    }

    .products-list {
      background : $grey-chad;
      padding    : 0 5px;
    }

    .table {
      margin-bottom : 0;
    }

    .col-md-8 .std-button {
      margin-top : 20px;
    }

    .caret {
      padding : 0;
    }

    .dropdown-menu {
      border-radius : 0;
      border-color  : $grey-dark;
      box-shadow    : none;
      margin        : 0;
      padding       : 0;

      top       : 0px;
      min-width : 170px;

      li {
        margin-bottom : 0;
      }

      a {
        text-decoration : none;
        padding         : 10px 20px;
        display         : block;
        text-align      : center;
        font-family     : 'RobotoCondensed-Bold', Helvetica, Arial, sans-serif;
        text-transform  : uppercase;

        &:hover {
          background-color : $yellow-secondary;
        }
      }
    }
  }

  .ticket {
    font-size     : 0;
    position      : relative;
    border-bottom : 2px solid $white;
    padding       : 5px 0;

    &__image {
      width  : auto;
      height : 40px;
      float  : left;
    }

    &__download {
      height    : 40px;
      width     : auto;
      float     : right;
      position  : relative;

      text-align : right;

      display         : flex;
      flex-direction  : column;
      justify-content : center;

      a {

      }

      span {
        font-size      : $font-size-base;
        padding-right  : 10px;
        font-family    : 'RobotoCondensed-Bold', Helvetica, Arial, sans-serif;
        text-transform : uppercase;
        color          : $grey-base;
      }
    }

    &__description {
      float        : left;
      margin       : 0;
      padding-left : 10px;
      min-height   : 40px;

      display         : flex;
      flex-direction  : column;
      justify-content : center;

      &__wrap {
        margin       : 0;
        font-size    : $font-size-large;
        line-height  : $font-size-large;

        em {
          font-size   : 16px;
          font-family : Consolas, monospace;
        }

        span {
          font-size : 14px;
        }
      }
    }

    &::after {
      content : '';
      display : block;
      width   : 100%;
      clear   : both;
    }

    a.name-on-ticket {
      text-decoration: none;
      font-size: 12px;

      @include breakpoint(xs) {
        padding-left : 0;
        margin       : 5px 0;
      }
    }
  }

  .orders-actions {
    background : $white;
    padding    : 1px 15px 15px;

    button {
      width      : 100%;
      margin-top : 15px;
    }

    h2 {
      margin-bottom : 0;
    }

    hr {
      margin-top    : 10px;
      margin-bottom : 2px;
    }

    p {
      font-size  : 14px;
      margin-top : 10px;
    }

    ul {
      padding : 0 0 0 20px;
    }
  }

  @include breakpoint(sm) {
    .no-padding-left {
      padding-left : 15px;
    }
  }

  @include breakpoint(xs) {
      .order {
        padding : 8px 12px 12px 12px;

        &__info {
          .order-title {
            font-size : 16px;
          }

          h4 {
            float       : none !important;
            text-align  : left;
            font-size   : 14px;
            margin      : 0;
            line-height : 16px;

            span {
            }
          }
        }

        .table-responsive {
          margin-top : 20px;
        }

        .std-button {
          width  : 100%;
          margin : 5px 0 !important;
        }

        .dropdown-menu {
          top   : 5px;
          width : 100%;
        }
      }

      .ticket {
        margin-bottom : 0;
        height        : auto;

        & > * {
          float : none;
        }

        &__image {
          width : 36px;
          height: auto;
          float : right;
        }

        &__description {
          float         : none;
          padding-left  : 0;
          margin-bottom : 0;

          &__wrap {
            font-size : 13px;

            em {
              font-size : 13px;
            }
          }
        }

        &__download {
          height         : auto;
          width          : 100%;
          display        : inline-block;
          vertical-align : top;
          margin-bottom  : 0;

          a {

          }
        }

        &__upgrade {
          margin     : 0;
          width      : 100%;
          display    : block;
          text-align : center;
        }
      }
  }
}
