.projects-page {
  h2 {
    color       : $white-transp-medium;
    font-family : 'RobotoMedium', sans-serif;
    font-size   : 24px;
    margin      : 80px 0 40px;

    span {
      color : $white;
    }

    @include breakpoint(sm) {
      margin : 30px 0;
    }

    @include breakpoint(sm) {
      font-size : 20px;
    }
  }

  h3 {
    color          : $white;
    font-family    : 'Roboto', sans-serif;
    text-transform : uppercase;
    font-size      : 20px;
    line-height    : 26px;
    padding        : 10px 40px 0 10px;
    min-height     : 140px;

    @include breakpoint(sm) {
      min-height : 0;
      padding    : 0;
    }

    @include breakpoint(xs) {
      font-size   : 18px;
      line-height : 22px;
    }

    span {
      display : block;
      color   : $yellow-base;
    }
  }

  hr {
    width  : 50%;
    margin : 50px auto;

    @include breakpoint(sm) {
      margin : 40px auto;
    }

    @include breakpoint(xs) {
      margin : 30px auto 20px;
    }
  }

  .item {
    padding : 0 30px 60px;

    @include breakpoint(sm) {
      padding : 0 0 15px;
    }

    p {
      color : $white-transp-medium;

      &:first-child {
        min-height : 220px;
        max-width  : 200px;

        @include breakpoint(sm) {
          min-height : 0;
          max-width  : 100%;

          br {
            display : none;
          }
        }
      }

      &.text-light {
        width       : 160px;
        margin      : 10px 5px;
        line-height : 16px;

        @include breakpoint(sm) {
          width : 100%;
        }
      }
    }

    a.call-to-action-lg {
      margin : 10px 0;

      @include breakpoint(xs) {
        margin-top : 25px;
      }
    }
  }

  @include breakpoint(sm) {
    padding-top : 40px;

    .no-padding-left {
      padding-left : 15px !important;
    }
  }
}