.sponsors-page {
  padding : 0 0 10vh;

  @include breakpoint(xs) {
    padding : 0 0 30px;
  }

  h4 {
    color          : $yellow-base;
    text-transform : uppercase;
    font-family    : 'RobotoCondensed', Helvetica, Arial, sans-serif;
    font-size      : 18px;
    margin         : 80px 0 20px 0;
  }

  .row {
    display : table;
    width   : 100%;
    margin  : 0;

    a:hover img {
      opacity : 0.8;
    }

    .col-sm-4 {
      width          : 33.33%;
      display        : table-cell;
      vertical-align : middle;
      float          : none;
    }

    .col-sm-3 {
      width          : 25%;
      display        : table-cell;
      vertical-align : middle;
      float          : none;
    }

    .col-sm-2 {
      width          : 20%;
      display        : table-cell;
      vertical-align : middle;
      float          : none;
    }

    @include breakpoint(xs) {
      display : block;

      .col-sm-4,
      .col-sm-3,
      .col-sm-2 {
        width   : 100%;
        display : block;

        padding-bottom : 30px;
      }
    }
  }
}