.tickets-page {
  .text-grey p {
    color : $grey-base-transp;
  }

  .closed-title {
      text-transform : uppercase;
      text-align     : center;
      color          : $sky;
      margin         : 0 0 50px;
  }

  .closed-sub-title {
      text-align : center;
  }

  .ticket-group {
    .desc-wrap {
      min-width : 52%;
    }

    &__item {
      border     : 1px solid $grey-light;
      background : $white;
      margin     : 15px 0;

      @include breakpoint(xs) {
        flex-flow : row wrap;
      }

      &__title {
        position   : relative;
        color      : $black;
        margin-top : 10px;

        &.coming-soon {
          cursor : default;
        }
      }

      &__description {
        ul {
          padding-left : 40px;
          margin       : 15px 0;

          @include breakpoint(xs) {
            padding-left : 20px;
          }
        }

        .camping-image-container {
          display         : flex;
          justify-content : flex-start;
          margin-top      : 20px;
          margin-bottom   : 10px;

          & > img {
            cursor       : pointer;
            border-right : 2px solid $white;
          }
        }
      }

      &__price {
        font-size  : $font-size-h3;
        text-align : center;
        padding    : 0 15px 10px 15px;

        @include breakpoint(xs) {
          padding-bottom : 10px;
        }
      }

      &__only-for-registered {
        color : $grey-dark;

        text-decoration : none;
        transition      : 0.25s linear;

        &:hover {
          text-decoration : none;
          color           : $yellow-pantone;
        }
      }

      &__sold-out {
        font-size : 1.8 * $font-size-small;
        width     : 150px;
        display   : inline-block;
      }

      &__title.sold-out .ticket-group__item__collapse-info,
      &__title.coming-soon .ticket-group__item__collapse-info {
        border : none;
        cursor : default;
        color  : $yellow-cyber;

        font-size     : 2 * $font-size-small;

        &:hover {
          background-color: $white;
        }
      }

      .left {
        padding      : 15px;
        border-right : 2px dashed $content-bg;
        min-height   : 180px;
        position     : relative;
        flex          : 0 0 260px;

        @include breakpoint(xs) {
          min-height   : 0;
          flex         : 0 0 100%;
          border-right : none;
          padding      : 0 0 10px 0;

          .top, .bottom {
            display : none;
          }
        }

        .top, .bottom {
          position : absolute;
          width    : 100%;
          height   : 100%;

          top  : 0;
          left : 0;

          &::after{
            content  : " ";
            position : absolute;
            width    : 26px;
            height   : 26px;

            background-color : $content-bg;
            border-radius    : 50%;
          }
        }

        .top:after {
          top   : -16px;
          right : -14px;
        }

        .bottom:after {
          bottom : -16px;
          right  : -14px;
        }
      }

      .right {
        padding   : 0 10px 0 30px;
        flex-flow : row wrap;

        @include breakpoint(xs) {
          padding : 0 15px 15px 15px;
        }
      }
    }
  }

  .bootstrap-select.btn-group .dropdown-toggle .caret {
    border-width : 8px;
    margin       : 0;

    transform : translate3d(0, -50%, 0);
  }

  .bootstrap-select + .bootstrap-select {
    display : none;
  }

  .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width         : 150px;
    margin-bottom : 10px;
  }

  .bootstrap-select {
    width : 100%;

    & > button.dropdown-toggle {
      border           : 1px solid $black;
      background-color : $yellow-base;

      &:hover {
        background-color : $grey-light;
      }
    }

    .dropdown-menu {
      li {
        &.active a,
        &.selected a,
        a:hover {
          background-color : $grey-light;
          color            : $black;
        }
      }
    }
  }

  @include breakpoint(xs) {
   margin-top : 50px;
  }
}

.concurrency-error {
  margin      : 60px 0 80px;
  color       : $grey-base;
  font-weight : normal;
}

.product-info-bar {
  position    : fixed;
  top         : 40px;
  width       : 100vw;
  padding     : 0 20px;
  font-size   : 15px;
  font-family : RobotoCondensed-Regular, Arial, Helvetica, sans-serif;
  z-index     : $zIndex--product-info-bar;

  background-color : $yellow-base;

  transform  : translate3d(0, 0, 0);
  transition : 0.25s linear;

  &.has-errors {
    background-color : $american-rose;
    color            : $white;
  }

  .container {
    button {
      height      : 50px;
      line-height : 50px;
      width       : 100%;
      font-size   : 14px;
      position    : relative;
      border      : none;
      color       : $white;
      font-family : RobotoCondensed-Bold, Helvetica, Arial, sans-serif;
      font-weight : normal;

      background-color : $grey-dark;
      text-transform   : uppercase;

      &:disabled {
        color      : #999;
        background : $grey-dark;
        cursor     : not-allowed;
      }
    }

    @include breakpoint(xs) {
      align-items : center;
    }
  }

  .balance {
    line-height : 50px;
    /* border-left : 1px solid #e2e2e2; */

    strong {
      position    : relative;
      left        : 5px;
      bottom      : -1px;
      font-size   : 15px;
      font-family : 'RobotoCondensed-Bold', Helvetica, Arial, sans-serif;
      font-weight : normal;
    }
  }

  @include breakpoint(xs) {
    padding : 0;

    .container {
      padding-right : 0;
    }
  }
}

.noHeader .product-info-bar {
  top : 0;
}

.tickets-controls {
  .camping-note,
  .camping-warning {
    padding : 7px 0 5px;
    margin  : 0;
  }

  .camping-note {
    background-color : $yellow-base;
    color            : $black;

    position : relative;
    z-index  : $zIndex--camping-note;
  }

  .camping-warning {
    background-color : $american-rose;
    color            : $white;
  }

  input[type="checkbox"] {
    display : none;

    &:checked + span {
      background : $black url('/assets/img/svg/checkbox-tick-yellow.svg') no-repeat center center;
    }
  }

  .checkbox-inline {
    padding        : 0;
    vertical-align : top;
    font-size      : $font-size-large;

    span {
      display        : inline-block;
      vertical-align : middle;
      width          : 25px;
      height         : 25px;
      margin         : -2px 0 0 0;

      background-color : $black;
      border-radius    : 2px;
    }
  }

  .call-to-action {
    border : 3px solid $black-transp;
    color  : $black;
    cursor : pointer;
    width  : 300px;
  }
}

.from-abroad {
  margin-bottom : 40px;

  iframe {
    z-index  : 0;
    position : static;
    height   : auto;
    width    : 100%;
  }

  p {
    font-size : 17px;
  }

  #festicket-content {
    margin-top : -20px !important;
    min-width  : 0 !important;

    & > div {
      margin     : 0px -20px;
      height     : 100%;
      overflow-y : hidden;
    }
  }
}

.no-more-tickets {
    .item {
        display         : flex;
        flex-wrap       : nowrap;
        align-items     : center;
        justify-content : space-between;
        padding         : 10px 0;
        border-bottom   : 1px dashed $night-dark;

        &__image {
            flex-basis : 20%;
            margin     : 0;
        }

        &__description {
            flex-basis : 60%;
            margin     : 0;


            &--vip {
                background-color : $sky;
                display          : inline-block;
                padding          : 2px 5px;
                border-radius    : 2px;
                margin-left      : 5px;
            }
        }

        &__price {
            flex-basis : 20%;
            margin     : 0;

            &--small {
            }
        }
    }
}
