.tickets-info-page {
  ul, ol {
    margin-bottom : 15px;
    padding : 0 0 0 20px;

    li {
      margin-bottom : 5px;
    }
  }

  ol.how {
    padding : 0;
    margin  : 0;

    li {
      padding       : 30px 0 25px;
      border-bottom : 1px solid $content-bg;
      list-style    : none;
      margin        : 0;

      &:last-of-type {
        border-bottom : 0;
      }

      @include breakpoint(xs) {
        padding  : 15px 0;
        position : relative;
      }

      span {
        font-size   : 40px;
        line-height : 40px;
        padding     : 0 40px;
        float       : left;

        @include breakpoint(sm) {
          padding : 0 20px 0 0;
        }

        @include breakpoint(xs) {
          position  : absolute;
          color     : $grey-light;
          right     : 0;
          top       : 20px;
          font-size : 90px;
          z-index   : 0;
          padding   : 0 20px;
        }
      }

      strong, div {
        @include breakpoint(sm) {
          max-width : 90%;
        }

        @include breakpoint(xs) {
          position  : relative;
          z-index   : 1;
          max-width : 100%;
        }
      }

      a {
        @include breakpoint(xs) {
          position : relative;
          z-index  : 2;
        }
      }
    }
  }

  h4 {
    margin-top     : 25px;
    text-transform : none;
  }

  .column {
    padding : 0 15px 0 25px;
  }

  .border-column {
    border-right : 1px solid $grey-base;
    padding      : 0 25px 0 15px;
  }

  .bg {
    margin-left  : calc(50% - 50vw);
    margin-right : calc(50% - 50vw);
    position     : absolute;
    width        : 100vw;
    height       : calc(100% + 35px);

    top    : 0;
    bottom : 0;

    transform        : translateY(-35px);
    background-color : $white;
    z-index          : 0;
  }

  .bg-bottom {
    margin-left  : calc(50% - 50vw);
    margin-right : calc(50% - 50vw);
    position     : absolute;
    width        : 100vw;
    height       : calc(100% + 35px);

    top    : 0;
    bottom : 0;

    transform        : translateY(5px);
    background-color : $white;
    z-index          : 0;
  }

  .table tr > td {
    padding   : 8px 0;
    font-size : 15px;
  }

  .table {
    border-bottom : 1px solid #ddd;
    margin-top    : 20px;
    width         : 80%;

    @include breakpoint(xs) {
      width : 100%;
    }
  }

  ul.tickets-thresholds {
    padding : 0;
    margin  : 0 0 30px 0;

    li {
      display       : inline-block;
      width         : 192px;
      background    : $yellow-base;
      margin-right  : 27px;
      padding       : 2px 18px;
      border        : 2px solid $yellow-base;
      border-radius : 8px;
      position      : relative;

      &:last-of-type {
        margin-right : 0;
      }

      @include breakpoint(xs) {
        width         : 137px;
        margin-right  : 15px;
        margin-bottom : 15px;
        padding       : 2px 6px;
      }

      h4 {
        font-size   : 22px;
        font-weight : 100;
        margin-top  : 10px;

        @include breakpoint(xs) {
          font-size  : 16px;
        }
      }

      h2 {
        font-family : 'Roboto', Helvetica, Arial, sans-serif;
        font-weight : bold;
        font-size   : 64px;
        line-height : 24px;

        letter-spacing : -5px;
        margin-bottom  : 40px;

        span {
          font-size      : 20px;
          letter-spacing : 0px;
        }

        @include breakpoint(xs) {
          font-size     : 44px;
          line-height   : 20px;
          margin-bottom : 10px;
          margin-top    : 12px;

          span {
            font-size : 16px;
          }
        }
      }

      p {
        text-transform : uppercase;
        font-size      : 12px;

        @include breakpoint(xs) {
          font-size : 11px;
        }
      }

      &.sold-out {
        background   : transparent;
        border-color : $grey-base;

        h2, h4, p {
          color : $grey-base;
        }

        &:before,
        &:after {
          width         : 260px;
          height        : 1px;
          border-bottom : 1px solid $grey-base;
          transform     : rotate(45deg);

          display  : block;
          content  : '';
          position : absolute;
          top      : 94px;
          right    : -36px;

          @include breakpoint(xs) {
            width : 179px;
            top   : 63px;
            right : -22px;
          }
        }

        &:after {
          transform : rotate(-45deg);
        }
      }
    }

    @include breakpoint(xs) {
      margin  : 30px 0 0 0;
    }
  }

  @include breakpoint(xs) {
    h1 {
      margin-top : 10px;
    }

    .column,
    .border-column {
      border-right : 0;
      padding      : 0 15px;
    }
  }
}

.partner-locations {
  .modal-body {
    /* background      : #ffec7b url('/assets/img/tickets/bg-yellow.png') bottom center no-repeat;
    background-size : cover; */

    ul {
      padding : 5px 20px;

      li {
        margin-bottom  : 10px;
        color          : $grey-dark;
        list-style     : none;
        font-size      : $font-size-large;
        border-bottom  : 1px solid rgba(64, 78, 89, 0.3);
        padding-bottom : 10px;

        ul li {
          margin-bottom  : 0;
          list-style     : disc;
          font-size      : $font-size-base;
          border-bottom  : none;
          padding-bottom : 0;
        }
      }
    }
  }
}