.travel {
  @include breakpoint(xs) {
    padding-top : 25px;
  }

  h1 {
    color          : $yellow-base;
    text-transform : none;
    font-family    : 'RobotoCondensed-Regular', Arial, Helvetica, sans-serif;
    font-size      : 40px;
    margin         : 40px;

    @include breakpoint(sm) {
      font-size      : 30px;
      margin         : 20px 0;
    }

    @include breakpoint(xs) {
      font-size      : 20px;
      margin         : 15px 0;
    }
  }

  section {
    margin-bottom : 45px;

    @include breakpoint(xs) {
      margin-bottom : 15px;
    }

    .heading {
      background      : $black;
      height          : 500px;
      display         : flex;
      align-items     : center;
      justify-content : center;

      h2 {
        color          : $white;
        text-align     : center;
        text-transform : none;
        font-family    : 'RobotoBold', Arial, sans-serif;
        font-size      : 100px;
        text-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.8);

        @include breakpoint(sm) {
          font-size : 60px;
        }

        @include breakpoint(xs) {
          font-size : 40px;
        }
      }

      @include breakpoint(sm) {
        height : 300px;
      }

      @include breakpoint(xs) {
        height : 200px;
      }
    }

    .grid {
      position   : relative;
      overflow   : visible;
      max-width  : 100%;
      width      : 100%;
      margin     : 0;
      padding    : 0;
      text-align : left;

      &:after {
        content : '';
        display : block;
        clear   : both;
      }

      &__sizer,
      &__item {
        width : 25%;

        @include breakpoint(sm) {
          width : 33.33%;
        }

        @include breakpoint(xs) {
          width : 50%;
        }

        @include breakpoint(xxs) {
          width : 100%;
        }
      }

      &__item {
        height   : auto;
        display  : inline-block;
        padding  : 0;
        position : relative;
        overflow : hidden;

        margin-top  : 30px;

        @include breakpoint(sm) {
          padding-top : 0 !important;
        }

        @include breakpoint(xs) {
          margin-top : 20px !important;
        }

        @include breakpoint(xxs) {
          margin-top : 15px !important;
        }

        p {
          margin    : 20px 20px 40px 20px;
          color     : $white;
          font-size : 18px;

          a.lnk {
            color : $white;
          }

          @include breakpoint(sm) {
            margin : 20px !important;
          }

          @include breakpoint(xs) {
            margin : 15px !important;
          }
        }

        img {
          display   : block;
          max-width : 100%;
          position  : relative;
          z-index   : 0;
        }

        h5 {
          position  : absolute;
          top       : 0;
          padding   : 25px;
          color     : $white;
          font-size : 20px;
          margin    : 0;

          font-family    : 'RobotoBold', Arial, sans-serif;
          text-transform : none;
          text-shadow    : 1px 1px 1px rgba(0, 0, 0, 0.8);
        }

        h4 {
          color      : $white;
          font-size  : 12px;
          margin     : 10px 0;
          text-align : center;

          font-family    : 'RobotoBold', Arial, sans-serif;
          letter-spacing : 1px;
        }

        a.more {
          text-decoration : none;

          margin  : 65px auto;
          display : block;

          &:hover {
            opacity : 0.5;
          }
        }

        a.pin {
          position : absolute;
          display  : block;
          top      : calc(50% - 40px);
          width    : 100%;
          z-index  : -1;

          text-decoration : none;

          &:hover {
            cursor  : pointer;
          }
        }

        &:hover {
          img.main {
            opacity    : 0.4;
            transition : 0.5s ease;
          }

          a.pin {
            z-index    : 1;
            transition : 0.5s ease;

            img {
              animation-name: bounce;
            }
          }
        }
      }
    }

    &.discover {
      .heading {
        background      : $black url('/assets/img/travel/discover-cluj.jpg') no-repeat;
        background-size : cover;
      }
    }

    &.locals {
      .heading {
        background      : $black url('/assets/img/travel/locals.jpg') no-repeat;
        background-size : cover;
      }
    }

    &.scenery {
      .heading {
        background      : $black url('/assets/img/travel/scenery.jpg') no-repeat;
        background-size : cover;
      }
    }

    &.food {
      .heading {
        background      : $black url('/assets/img/travel/food.jpg') no-repeat;
        background-size : cover;
      }
    }

    &.stay {
      .heading {
        background      : $black url('/assets/img/travel/stay.jpg') no-repeat;
        background-size : cover;
      }
    }
  }
}