<div class="container access-page">
    <!--<div class="content">
        <p>For the English version please read below.</p>

        <h4>Schimbari importante legate de accesul in festival, pe care e bine sa le stiti:</h4>

        <ul>
	        <li>1. Autobuzele si masinile vor avea rute diferite pentru a se evita blocajele auto.</li>
	        <li>2. Masinile vor merge spre festival folosind drumul din Rascruci, nu cel din Bontida ca pana acum. Drumul va fi semnalizat.</li>
	        <li>3. Pentru fiecare intrare in parcare se plateste 15 lei. Avem aproximativ 4000 de locuri de parcare, dar noi va incurajam sa veniti cu autobuzul.</li>
	        <li>4. Autobuzele pleaca de Miercuri, ora 15:30, de la Sala Sporturilor Horia Demian si vor circula din 20 in 20 de minute, variind uneori in functie
                de fluxul de oameni.</li>
	        <li>5. Pretul unui bilet este de 7 lei.</li>
	        <li>6. Ultimul autobus pleaca din Bontida Luni la 12:30.</li>
        </ul>

        <img src="/assets/img/access.jpg" class="img-responsive map" />

        <h4>Accesul in festival</h4>

        <ul>
        	<li>1. Fiecare dintre voi trebuie sa aveti un bilet (fizic sau salvat in telefon).</li>
        	<li>2. Daca aveti bilete de camping, procesul de checkin se va face la intrarea in camping.</li>
        	<li>3. Biletul este scanat, iar in schimb veti primi o bratara pe mana dreapta.</li>
        	<li>4. Pentru a intra in festival veti scana bratara la intrare</li>
        	<li>5. Pentru a iesi din festival veti scana bratara la iesire.</li>
        	<li>6. Daca nu aveti cont Intellipay il puteti face inregistrand numarul de pe bratara.</li>
        	<li>7. Daca ajungeti la intrarea in festival si aveti deja bratara pe mana, folositi culoare camping de acces semanlizate.</li>
        </ul>

        <p>Pentru mai multe detalii cititi <a href="/assets/docs/rules.pdf" target="_blank" class="hvr-overline-from-left"><strong>regulamentul festivalului</strong></a>
            sau sectiunea de <a ui-sref="ElectricCastlePublic.Info.Rules" class="hvr-overline-from-left"><strong>Info</strong></a>.</p>

        <hr />

        <h4>Important changes regarding the festival access that you should know:</h4>

        <ul>
        	<li>1. The buses and the cars will have different routes to avoid traffic jams.</li>
        	<li>2. The main access road for the cars is from Rascruci, not from Botida.</li>
        	<li>3. To enter in the festival parking lot, for each car you have to pay 15 lei/entrance. There 4000 parking slots but we recommend you to use one of our buses.</li>
        	<li>4. The first bus will leave Cluj, Wednesday, at 15 :30, from Horia Demian Sports Hall.</li>
        	<li>5. The price of a ticket is 7 lei. The tickets can be bought from the bus stations found in Bontida and at Horia Demian Sports Hall.</li>
        	<li>6. The Las bus will leave Bontida, Monday at 12:30 in the noon.</li>
        </ul>

        <img src="/assets/img/access.jpg" class="img-responsive map" />

        <h4>Festival Acces</h4>

        <ul>
        	<li>1. Each person must have a ticket (printed or electronic).</li>
        	<li>2. If you have a camping ticket, you need to go to the campsite entrance to check-in.</li>
        	<li>3. The ticket is scanned at the entrance and swapped for a wristband. You must have the wristband on your right hand.</li>
        	<li>4. To enter the festival, you need to scan your wristband at the gate.</li>
        	<li>5. To exit the festival, you need to scan your wristband at the exit.</li>
        	<li>6. Those who don’t have Intellipay account can create one and register the wristband using the serial code found on the wristband.
                Those who already have an account will have their name connected to the wristband automatically.</li>
        	<li>7. If you already have your wristband on your hand, use the fast access lines.</li>
        </ul>

        <p>For more info please read the <a href="/assets/docs/rules.pdf" target="_blank" class="hvr-overline-from-left"><strong>Festival Rules</strong></a> and
        <a ui-sref="ElectricCastlePublic.Info.Rules" class="hvr-overline-from-left"><strong>FAQs</strong></a>.</p>
    </div>-->
</div>
