<!--<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 left text-center">
                <home-box></home-box>
            </div>
            <div class="col-md-7 right text-center">

                <img src="/assets/img/logo-v3-orange.png" alt="Electric Castle Festival" class="logo hidden-xs" />
                <br />

                <h3 class="text-light hide-before">Skrillex</h3>
                <h3 class="text-sand">Sigur R&oacute;s</h3>
                <h3 class="text-sky">Bring me the horizon</h3><br />

                <h3 class="text-sky hide-before">Bastille</h3>
                <h3 class="text-light">Paul Kalkbrenner</h3>
                <h3 class="text-sand">Gorgon City</h3><br />

                <h3 class="text-sand hide-before">Enter Shikari</h3>
                <h3 class="text-sky">Rusko</h3>
                <h3 class="text-light">FLux Pavilion</h3>

                <div class="clear"></div>
                <h4>and many more</h4>

                <a ui-sref="ElectricCastlePublic.Tickets" class="call-to-action"
                   analytics-on
                   analytics-event="Call to action from Home"
                   analytics-category="Navigation">{{'HOME.TICKETS' | translate}}</a>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>-->

<!--<section class="rfid-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Register your ticket!</h1>
                <h2>And you can add credit to your festival wristband now!</h2>
                <a class="how-rfid-works" ui-sref="ElectricCastlePublic.RFIDHowItWorks">How it works</a>
            </div>
            <div class="col-sm-6 text-center">
                <a href="https://www.bancatransilvania.ro/" target="_blank"><img src="/assets/img/bt.png" class="bt-logo" width="160" /></a>

                <img src="/assets/img/rfid-bracelet.png" alt="Electric Castle Festival" class="img-responsive center-block" />

                <a href="https://ec2016.pay.intellifest.com/" target="_blank" class="call-to-action"
                   analytics-on
                   analytics-event="Call to action from Home"
                   analytics-category="Navigation">{{'HOME.REGISTER_TICKET' | translate}}</a>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>-->

<!-- <div class="overflow-hidden">
    <section class="content-boxes">
        <div ng-repeat="box in hc.getContent()" class="box-wrap {{box.size}} {{box.height}}-height pull-{{box.boxAlign}}">
            <a href="{{box.link}}" target="{{box.newWindow ? '_blank' : ''}}" ng-if="!box.isEmbededVideo">
                <div class="box hvr-bounce-in" style="background-image: url('{{box.bgImage}}');">
                    <div class="text">
                        <h3>{{box.title}}</h3>
                        <p>{{box.text}}</p>
                    </div>
                </div>
            </a>
            <div class="box hvr-bounce-in " video-box ng-if="box.isEmbededVideo">
                <iframe width="100%" height="100%"
                        ng-src="{{hc.trustSrc(box.link)}}"
                        frameborder="0" allowfullscreen>
                </iframe>
                <div class="text">
                    <h3>{{box.title}}</h3>
                    <p>{{box.text}}</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</div> -->

<!--<section class="eventifier">
    <iframe width="100%" height="240" allowtransparency="true" frameborder="0" scrolling="yes" src="//eventifier.com/brandembed/62/"></iframe>
</section>-->
